{
  "swagger": "2.0",
  "info": {
    "version": "0.2.0",
    "title": "eBaoCloud LI OpenAPI",
    "termsOfService": "http://api.ebaocloud.life/",
    "contact": {
      "email": "liliang.zhu@ebaotech.com"
    }
  },
  "host": "sandbox.gw.ebaocloud.com.cn",
  "basePath": "rest",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "tags": [
    {
      "name": "Claim"
    }
  ],
  "definitions": {
    "RegisterRequest": {
      "type": "object",
      "required": [
        "claimType",
        "claimant",
        "event",
        "insured",
        "policyNo",
        "relationToInsured"
      ],
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.RegisterRequest.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.RegisterRequest.properties.clientRequestTime.description"
        },
        "policyNo": {
          "type": "string",
          "description": "definitions.RegisterRequest.properties.policyNo.description"
        },
        "claimant": {
          "description": "definitions.RegisterRequest.properties.claimant.description",
          "$ref": "#/definitions/ClaimantInput"
        },
        "insured": {
          "description": "definitions.RegisterRequest.properties.insured.description",
          "$ref": "#/definitions/InsuredInput"
        },
        "relationToInsured": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.RegisterRequest.properties.relationToInsured.description",
          "enum": [
            1,
            2,
            3,
            4,
            6,
            7,
            1001
          ]
        },
        "event": {
          "description": "definitions.RegisterRequest.properties.event.description",
          "$ref": "#/definitions/ClaimEventInput"
        },
        "claimType": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.RegisterRequest.properties.claimType.description",
          "enum": [
            1,
            2,
            5,
            8
          ]
        }
      }
    },
    "RegisterResponse": {
      "type": "object",
      "required": [
        "claimCaseNo"
      ],
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.RegisterResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.RegisterResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.RegisterResponse.properties.result.description"
        },
        "messages": {
          "type": "array",
          "description": "definitions.RegisterResponse.properties.messages.description",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.RegisterResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "claimCaseNo": {
          "type": "string",
          "description": "definitions.RegisterResponse.properties.claimCaseNo.description"
        }
      }
    },
    "ContactInput": {
      "type": "object",
      "required": [
        "email",
        "mobile"
      ],
      "properties": {
        "email": {
          "type": "string",
          "description": "definitions.ContactInput.properties.email.description"
        },
        "mobile": {
          "type": "string",
          "description": "definitions.ContactInput.properties.mobile.description"
        }
      }
    },
    "ClaimEventInput": {
      "type": "object",
      "required": [
        "eventDetail",
        "eventNature",
        "eventTime"
      ],
      "properties": {
        "reportType": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ClaimEventInput.properties.reportType.description",
          "enum": [
            1,
            2,
            4,
            5,
            6
          ]
        },
        "eventNature": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ClaimEventInput.properties.eventNature.description",
          "enum": [
            1,
            2
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ClaimEventInput.properties.eventTime.description"
        },
        "eventDetail": {
          "type": "string",
          "description": "definitions.ClaimEventInput.properties.eventDetail.description"
        }
      }
    },
    "InsuredInput": {
      "type": "object",
      "required": [
        "certiCode",
        "certiType",
        "gender",
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "definitions.InsuredInput.properties.name.description"
        },
        "gender": {
          "type": "string",
          "description": "definitions.InsuredInput.properties.gender.description",
          "enum": [
            "F",
            "M"
          ]
        },
        "certiType": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.InsuredInput.properties.certiType.description",
          "enum": [
            1,
            3,
            9
          ]
        },
        "certiCode": {
          "type": "string",
          "description": "definitions.InsuredInput.properties.certiCode.description"
        }
      }
    },
    "GenericValidationResult": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "ruleType": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ClaimantInput": {
      "type": "object",
      "required": [
        "name",
        "partyContact"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "definitions.ClaimantInput.properties.name.description"
        },
        "partyContact": {
          "description": "definitions.ClaimantInput.properties.partyContact.description",
          "$ref": "#/definitions/ContactInput"
        }
      }
    }
  },
  "paths": {
    "/claim/register": {
      "post": {
        "tags": [
          "Claim"
        ],
        "summary": "paths['/claim/register'].post.summary",
        "description": "paths['/claim/register'].post.description",
        "operationId": "registerUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "paths['/claim/register'].post.parameters['0'].description",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterRequest"
            }
          },
          {
            "name": "X-ebao-tenant-id",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "paths['/claim/register'].post.responses['200'].description",
            "schema": {
              "$ref": "#/definitions/RegisterResponse"
            }
          },
          "201": {
            "description": "paths['/claim/register'].post.responses['201'].description"
          },
          "400": {
            "description": "paths['/claim/register'].post.responses['400'].description"
          },
          "401": {
            "description": "paths['/claim/register'].post.responses['401'].description"
          },
          "403": {
            "description": "paths['/claim/register'].post.responses['403'].description"
          },
          "404": {
            "description": "paths['/claim/register'].post.responses['404'].description"
          },
          "500": {
            "description": "paths['/claim/register'].post.responses['500'].description"
          }
        }
      }
    }
  }
}