{
  "swagger": "2.0",
  "info": {
    "version": "0.2.0",
    "title": "eBaoCloud LI OpenAPI",
    "termsOfService": "http://api.ebaocloud.life/",
    "contact": {
      "email": "liliang.zhu@ebaotech.com"
    },
    "description": "本篇文档描述了eBaoCloud（易保云）寿险所提供的API（API specification）。如果您想运行和使用这些API，你需要首先获取一个eBaoCloud的租户账号，请联系Antang.Du@ebaotech.com获取账号。我们会提供沙箱环境给您。\n\n# 搭建时间\nFri Mar 30 2018, 15:37:44 +08:00\n\n# 版本\nAPI 版本| 时间  |说明\n"
  },
  "host": "sandbox.gw.ebaocloud.com.cn",
  "basePath": "rest",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "tags": [
    {
      "name": "Claim"
    }
  ],
  "definitions": {
    "RegisterRequest": {
      "type": "object",
      "required": [
        "claimType",
        "claimant",
        "event",
        "insured",
        "policyNo",
        "relationToInsured"
      ],
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "客户请求ID"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "客户请求日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "policyNo": {
          "type": "string",
          "description": "理赔保单号"
        },
        "claimant": {
          "description": "理赔索赔人信息",
          "$ref": "#/definitions/ClaimantInput"
        },
        "insured": {
          "description": "理赔被保险人信息",
          "$ref": "#/definitions/InsuredInput"
        },
        "relationToInsured": {
          "type": "integer",
          "format": "int32",
          "description": "理赔索赔人和被保人关系<br>1 - 夫妻 <br>2 - 子女<br>3 - 父母 <br>4 - 亲属 <br>6 - 其他 <br>7 - 雇主<br>1001 - 本人",
          "enum": [
            1,
            2,
            3,
            4,
            6,
            7,
            1001
          ]
        },
        "event": {
          "description": "理赔事件信息",
          "$ref": "#/definitions/ClaimEventInput"
        },
        "claimType": {
          "type": "integer",
          "format": "int32",
          "description": "理赔类型<br>1 - 意外 <br>2 - 死亡 <br>5 - 住院<br>8 - 医疗",
          "enum": [
            1,
            2,
            5,
            8
          ]
        }
      }
    },
    "RegisterResponse": {
      "type": "object",
      "required": [
        "claimCaseNo"
      ],
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "客户请求ID"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "客户请求日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "注册结果<br>1 - 成功s<br>0 - 失败<br>-1 - 未知错误的失败"
        },
        "messages": {
          "type": "array",
          "description": "理赔注册返回消息",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "例外消息",
          "items": {
            "type": "string"
          }
        },
        "claimCaseNo": {
          "type": "string",
          "description": "理赔案件号"
        }
      }
    },
    "ContactInput": {
      "type": "object",
      "required": [
        "email",
        "mobile"
      ],
      "properties": {
        "email": {
          "type": "string",
          "description": "Email"
        },
        "mobile": {
          "type": "string",
          "description": "手机号"
        }
      }
    },
    "ClaimEventInput": {
      "type": "object",
      "required": [
        "eventDetail",
        "eventNature",
        "eventTime"
      ],
      "properties": {
        "reportType": {
          "type": "integer",
          "format": "int32",
          "description": "通过如下方式注册<br>1 - 电话 <br>2 - 传真 <br>4 - SMS短信 <br>5 - 网络 <br>6 - email",
          "enum": [
            1,
            2,
            4,
            5,
            6
          ]
        },
        "eventNature": {
          "type": "integer",
          "format": "int32",
          "description": "理赔事件类型<br>1 - 生病<br>2 - 意外",
          "enum": [
            1,
            2
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "date-time",
          "description": "理赔事件发生日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "eventDetail": {
          "type": "string",
          "description": "理赔事件信息"
        }
      }
    },
    "InsuredInput": {
      "type": "object",
      "required": [
        "certiCode",
        "certiType",
        "gender",
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "被保人姓名"
        },
        "gender": {
          "type": "string",
          "description": "被保人性别<br>M - 男性<br>F - 女性",
          "enum": [
            "F",
            "M"
          ]
        },
        "certiType": {
          "type": "integer",
          "format": "int32",
          "description": "证件类型，数字类型<br>1 - 身份证<br>2 - 军人证<br>3 - 护照<br>4 - 出生证<br>9 - 其他",
          "enum": [
            1,
            3,
            9
          ]
        },
        "certiCode": {
          "type": "string",
          "description": "证件号码"
        }
      }
    },
    "GenericValidationResult": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "ruleType": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ClaimantInput": {
      "type": "object",
      "required": [
        "name",
        "partyContact"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "索赔人姓名"
        },
        "partyContact": {
          "description": "联系信息",
          "$ref": "#/definitions/ContactInput"
        }
      }
    }
  },
  "paths": {
    "/claim/register": {
      "post": {
        "tags": [
          "Claim"
        ],
        "summary": "理赔案件注册",
        "description": "注册理赔案件",
        "operationId": "registerUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterRequest"
            }
          },
          {
            "name": "X-ebao-tenant-id",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegisterResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  }
}