{
  "swagger": "2.0",
  "info": {
    "version": "0.2.0",
    "title": "eBaoCloud LI OpenAPI",
    "termsOfService": "http://api.ebaocloud.life/",
    "contact": {
      "email": "liliang.zhu@ebaotech.com"
    },
    "description": "本篇文档描述了eBaoCloud（易保云）寿险所提供的API（API specification）。如果您想运行和使用这些API，你需要首先获取一个eBaoCloud的租户账号，请联系Antang.Du@ebaotech.com获取账号。我们会提供沙箱环境给您。\n\n# 搭建时间\nWed Mar 14 2018, 17:31:36 +08:00\n\n# 版本\nAPI 版本| 时间  |说明\n"
  },
  "host": "sandbox.gw.ebaocloud.com.cn",
  "basePath": "rest",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "tags": [
    {
      "name": "Claim"
    },
    {
      "name": "Freelook"
    },
    {
      "name": "ChangeContactInfo"
    },
    {
      "name": "Policy"
    }
  ],
  "definitions": {
    "RegisterRequest": {
      "type": "object",
      "required": [
        "claimType",
        "claimant",
        "event",
        "insured",
        "policyNo",
        "relationToInsured"
      ],
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "客户请求ID"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "客户请求日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "policyNo": {
          "type": "string",
          "description": "理赔保单号"
        },
        "claimant": {
          "description": "理赔索赔人信息",
          "$ref": "#/definitions/ClaimantInput"
        },
        "insured": {
          "description": "理赔被保险人信息",
          "$ref": "#/definitions/InsuredInput"
        },
        "relationToInsured": {
          "type": "integer",
          "format": "int32",
          "description": "理赔索赔人和被保人关系<br>1 - 夫妻 <br>2 - 子女<br>3 - 父母 <br>4 - 亲属 <br>6 - 其他 <br>7 - 雇主<br>1001 - 本人",
          "enum": [
            1,
            2,
            3,
            4,
            6,
            7,
            1001
          ]
        },
        "event": {
          "description": "理赔事件信息",
          "$ref": "#/definitions/ClaimEventInput"
        },
        "claimType": {
          "type": "integer",
          "format": "int32",
          "description": "理赔类型<br>1 - 意外 <br>2 - 死亡 <br>5 - 住院<br>8 - 医疗",
          "enum": [
            1,
            2,
            5,
            8
          ]
        }
      }
    },
    "RegisterResponse": {
      "type": "object",
      "required": [
        "claimCaseNo"
      ],
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "客户请求ID"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "客户请求日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "注册结果<br>1 - 成功s<br>0 - 失败<br>-1 - 未知错误的失败"
        },
        "messages": {
          "type": "array",
          "description": "理赔注册返回消息",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "例外消息",
          "items": {
            "type": "string"
          }
        },
        "claimCaseNo": {
          "type": "string",
          "description": "理赔案件号"
        }
      }
    },
    "ContactInput": {
      "type": "object",
      "required": [
        "email",
        "mobile"
      ],
      "properties": {
        "email": {
          "type": "string",
          "description": "Email"
        },
        "mobile": {
          "type": "string",
          "description": "手机号"
        }
      }
    },
    "ClaimEventInput": {
      "type": "object",
      "required": [
        "eventDetail",
        "eventNature",
        "eventTime"
      ],
      "properties": {
        "reportType": {
          "type": "integer",
          "format": "int32",
          "description": "通过如下方式注册<br>1 - 电话 <br>2 - 传真 <br>4 - SMS短信 <br>5 - 网络 <br>6 - email",
          "enum": [
            1,
            2,
            4,
            5,
            6
          ]
        },
        "eventNature": {
          "type": "integer",
          "format": "int32",
          "description": "理赔事件类型<br>1 - 生病<br>2 - 意外",
          "enum": [
            1,
            2
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "date-time",
          "description": "理赔事件发生日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "eventDetail": {
          "type": "string",
          "description": "理赔事件信息"
        }
      }
    },
    "InsuredInput": {
      "type": "object",
      "required": [
        "certiCode",
        "certiType",
        "gender",
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "被保人姓名"
        },
        "gender": {
          "type": "string",
          "description": "被保人性别<br>M - 男性<br>F - 女性",
          "enum": [
            "F",
            "M"
          ]
        },
        "certiType": {
          "type": "integer",
          "format": "int32",
          "description": "证件类型，数字类型<br>1 - 身份证<br>2 - 军人证<br>3 - 护照<br>4 - 出生证<br>9 - 其他",
          "enum": [
            1,
            3,
            9
          ]
        },
        "certiCode": {
          "type": "string",
          "description": "证件号码"
        }
      }
    },
    "GenericValidationResult": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "ruleType": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ClaimantInput": {
      "type": "object",
      "required": [
        "name",
        "partyContact"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "索赔人姓名"
        },
        "partyContact": {
          "description": "联系信息",
          "$ref": "#/definitions/ContactInput"
        }
      }
    },
    "ChangingContactInfoResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.ChangingContactInfoResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ChangingContactInfoResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ChangingContactInfoResponse.properties.result.description"
        },
        "messages": {
          "type": "array",
          "description": "definitions.ChangingContactInfoResponse.properties.messages.description",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.ChangingContactInfoResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "changeNo": {
          "type": "string",
          "description": "definitions.ChangingContactInfoResponse.properties.changeNo.description"
        },
        "finishTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ChangingContactInfoResponse.properties.finishTime.description"
        },
        "itemResults": {
          "type": "array",
          "description": "definitions.ChangingContactInfoResponse.properties.itemResults.description",
          "items": {
            "$ref": "#/definitions/ChangingContactInfoItemResultInfo"
          }
        }
      }
    },
    "AddressInput": {
      "type": "object",
      "properties": {
        "address1": {
          "type": "string",
          "example": "上海市",
          "description": "省"
        },
        "address2": {
          "type": "string",
          "example": "上海市",
          "description": "市"
        },
        "address3": {
          "type": "string",
          "example": "杨浦区",
          "description": "区县"
        },
        "address4": {
          "type": "string",
          "example": "淞沪路270号创智天地3号楼3楼",
          "description": "地址"
        },
        "postCode": {
          "type": "string",
          "example": "200433",
          "description": "邮编"
        }
      }
    },
    "FreelookResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.FreelookResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.FreelookResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.FreelookResponse.properties.result.description"
        },
        "messages": {
          "type": "array",
          "description": "definitions.FreelookResponse.properties.messages.description",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.FreelookResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "changeNo": {
          "type": "string",
          "description": "definitions.FreelookResponse.properties.changeNo.description"
        },
        "finishTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.FreelookResponse.properties.finishTime.description"
        },
        "itemResults": {
          "type": "array",
          "description": "definitions.FreelookResponse.properties.itemResults.description",
          "items": {
            "$ref": "#/definitions/FreelookItemResultInfo"
          }
        }
      }
    },
    "ChangingContactInfoItemResultInfo": {
      "type": "object",
      "required": [
        "effectiveDate",
        "orderId",
        "policyNumber",
        "serviceId"
      ],
      "properties": {
        "itemResult": {
          "$ref": "#/definitions/ChangingContactInfoResultDetail"
        },
        "policyNumber": {
          "type": "string",
          "example": "0000017623",
          "description": "definitions.ChangingContactInfoItemResultInfo.properties.policyNumber.description"
        },
        "serviceId": {
          "type": "integer",
          "format": "int32",
          "example": 201,
          "description": "definitions.ChangingContactInfoItemResultInfo.properties.serviceId.description",
          "enum": [
            201,
            104
          ]
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ChangingContactInfoItemResultInfo.properties.submissionDate.description"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ChangingContactInfoItemResultInfo.properties.effectiveDate.description"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ChangingContactInfoItemResultInfo.properties.orderId.description"
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.ChangingContactInfoItemResultInfo.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FreelookRequest": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.FreelookRequest.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.FreelookRequest.properties.clientRequestTime.description"
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "items": {
          "type": "array",
          "description": "definitions.FreelookRequest.properties.items.description",
          "items": {
            "$ref": "#/definitions/FreelookItemInput"
          }
        }
      }
    },
    "ChangingContactInfoItemInput": {
      "type": "object",
      "required": [
        "effectiveDate",
        "itemDetail",
        "orderId",
        "policyNumber",
        "serviceId"
      ],
      "properties": {
        "policyNumber": {
          "type": "string",
          "example": "0000017623",
          "description": "definitions.ChangingContactInfoItemInput.properties.policyNumber.description"
        },
        "serviceId": {
          "type": "integer",
          "format": "int32",
          "example": 201,
          "description": "definitions.ChangingContactInfoItemInput.properties.serviceId.description",
          "enum": [
            201,
            104
          ]
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ChangingContactInfoItemInput.properties.submissionDate.description"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ChangingContactInfoItemInput.properties.effectiveDate.description"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ChangingContactInfoItemInput.properties.orderId.description"
        },
        "itemDetail": {
          "description": "definitions.ChangingContactInfoItemInput.properties.itemDetail.description",
          "$ref": "#/definitions/ChangingContactInfoInputDetail"
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.ChangingContactInfoItemInput.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FreelookResultDetail": {
      "type": "object",
      "properties": {
        "totalGrossPremium": {
          "type": "number",
          "format": "double",
          "description": "definitions.FreelookResultDetail.properties.totalGrossPremium.description"
        },
        "totalExtraPremium": {
          "type": "number",
          "format": "double",
          "description": "definitions.FreelookResultDetail.properties.totalExtraPremium.description"
        },
        "suspense": {
          "type": "number",
          "format": "double",
          "description": "definitions.FreelookResultDetail.properties.suspense.description"
        },
        "advancePremium": {
          "type": "number",
          "format": "double",
          "description": "definitions.FreelookResultDetail.properties.advancePremium.description"
        },
        "medicalFee": {
          "type": "number",
          "format": "double",
          "description": "definitions.FreelookResultDetail.properties.medicalFee.description"
        },
        "totalRefundAmount": {
          "type": "number",
          "format": "double",
          "description": "definitions.FreelookResultDetail.properties.totalRefundAmount.description"
        },
        "adminFee": {
          "type": "number",
          "format": "double"
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.FreelookResultDetail.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FreelookQuotationRequest": {
      "type": "object",
      "required": [
        "effectiveDate",
        "item",
        "policyNumber",
        "serviceId"
      ],
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.FreelookQuotationRequest.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.FreelookQuotationRequest.properties.clientRequestTime.description"
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "policyNumber": {
          "type": "string",
          "example": "0000017623",
          "description": "definitions.FreelookQuotationRequest.properties.policyNumber.description"
        },
        "serviceId": {
          "type": "integer",
          "format": "int32",
          "example": 201,
          "description": "definitions.FreelookQuotationRequest.properties.serviceId.description",
          "enum": [
            201
          ]
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.FreelookQuotationRequest.properties.submissionDate.description"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.FreelookQuotationRequest.properties.effectiveDate.description"
        },
        "item": {
          "description": "definitions.FreelookQuotationRequest.properties.item.description",
          "$ref": "#/definitions/FreelookInputDetail"
        }
      }
    },
    "CommonAlterationCoverageInput": {
      "type": "object",
      "properties": {
        "coverageNo": {
          "type": "string",
          "example": "197531",
          "description": "definitions.CommonAlterationCoverageInput.properties.coverageNo.description"
        }
      }
    },
    "ChangingContactInfoInputDetail": {
      "type": "object",
      "properties": {
        "partyId": {
          "type": "string",
          "description": "definitions.ChangingContactInfoInputDetail.properties.partyId.description"
        },
        "partyContact": {
          "description": "definitions.ChangingContactInfoInputDetail.properties.partyContact.description",
          "$ref": "#/definitions/PartyContact"
        },
        "address": {
          "description": "definitions.ChangingContactInfoInputDetail.properties.address.description",
          "$ref": "#/definitions/AddressInput"
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.ChangingContactInfoInputDetail.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FreelookItemInput": {
      "type": "object",
      "required": [
        "effectiveDate",
        "itemDetail",
        "orderId",
        "policyNumber",
        "serviceId"
      ],
      "properties": {
        "policyNumber": {
          "type": "string",
          "example": "0000017623",
          "description": "definitions.FreelookItemInput.properties.policyNumber.description"
        },
        "serviceId": {
          "type": "integer",
          "format": "int32",
          "example": 201,
          "description": "definitions.FreelookItemInput.properties.serviceId.description",
          "enum": [
            201,
            104
          ]
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.FreelookItemInput.properties.submissionDate.description"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.FreelookItemInput.properties.effectiveDate.description"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.FreelookItemInput.properties.orderId.description"
        },
        "itemDetail": {
          "description": "definitions.FreelookItemInput.properties.itemDetail.description",
          "$ref": "#/definitions/FreelookInputDetail"
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.FreelookItemInput.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ChangingContactInfoRequest": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.ChangingContactInfoRequest.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ChangingContactInfoRequest.properties.clientRequestTime.description"
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "items": {
          "type": "array",
          "description": "definitions.ChangingContactInfoRequest.properties.items.description",
          "items": {
            "$ref": "#/definitions/ChangingContactInfoItemInput"
          }
        }
      }
    },
    "FreelookQuotationResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.FreelookQuotationResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.FreelookQuotationResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.FreelookQuotationResponse.properties.result.description"
        },
        "messages": {
          "type": "array",
          "description": "definitions.FreelookQuotationResponse.properties.messages.description",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.FreelookQuotationResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "policyNumber": {
          "type": "string",
          "description": "definitions.FreelookQuotationResponse.properties.policyNumber.description"
        },
        "serviceId": {
          "type": "integer",
          "format": "int32",
          "example": 201,
          "description": "definitions.FreelookQuotationResponse.properties.serviceId.description",
          "enum": [
            201
          ]
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.FreelookQuotationResponse.properties.submissionDate.description"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.FreelookQuotationResponse.properties.effectiveDate.description"
        },
        "quotationResult": {
          "description": "definitions.FreelookQuotationResponse.properties.quotationResult.description",
          "$ref": "#/definitions/FreelookResultDetail"
        }
      }
    },
    "ChangingContactInfoResultDetail": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "description": "definitions.ChangingContactInfoResultDetail.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PartyContact": {
      "type": "object",
      "properties": {
        "homeTel": {
          "type": "string",
          "example": "87654321",
          "description": "家庭电话"
        },
        "mobileTel": {
          "type": "string",
          "example": "15012345678",
          "description": "手机号"
        },
        "officeTel": {
          "type": "string",
          "example": "88888888",
          "description": "工作电话"
        },
        "officeTelExt": {
          "type": "string",
          "example": "1234",
          "description": "工作电话分机号"
        },
        "email": {
          "type": "string",
          "example": "TestPerson14@126.com",
          "description": "电子邮箱"
        },
        "contact": {
          "type": "string",
          "example": "张三",
          "description": "联系人"
        },
        "contactTel": {
          "type": "string",
          "example": "88888888",
          "description": "联系人电话"
        },
        "fax": {
          "type": "string",
          "example": "88888887",
          "description": "传真"
        }
      }
    },
    "FreelookItemResultInfo": {
      "type": "object",
      "required": [
        "effectiveDate",
        "orderId",
        "policyNumber",
        "serviceId"
      ],
      "properties": {
        "itemResult": {
          "$ref": "#/definitions/FreelookResultDetail"
        },
        "policyNumber": {
          "type": "string",
          "example": "0000017623",
          "description": "definitions.FreelookItemResultInfo.properties.policyNumber.description"
        },
        "serviceId": {
          "type": "integer",
          "format": "int32",
          "example": 201,
          "description": "definitions.FreelookItemResultInfo.properties.serviceId.description",
          "enum": [
            201,
            104
          ]
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.FreelookItemResultInfo.properties.submissionDate.description"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.FreelookItemResultInfo.properties.effectiveDate.description"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.FreelookItemResultInfo.properties.orderId.description"
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.FreelookItemResultInfo.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FreelookInputDetail": {
      "type": "object",
      "required": [
        "alteredCoverages",
        "freelookReason"
      ],
      "properties": {
        "freelookReason": {
          "type": "integer",
          "format": "int32",
          "example": 54,
          "description": "definitions.FreelookInputDetail.properties.freelookReason.description",
          "enum": [
            51,
            52,
            53,
            54,
            55
          ]
        },
        "alteredCoverages": {
          "type": "array",
          "description": "definitions.FreelookInputDetail.properties.alteredCoverages.description",
          "items": {
            "$ref": "#/definitions/CommonAlterationCoverageInput"
          }
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.FreelookInputDetail.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Organization": {
      "type": "object",
      "properties": {
        "registerType": {
          "type": "string",
          "example": "1001",
          "description": "公司证件类型，1001 - 公司注册号"
        },
        "registerCode": {
          "type": "string",
          "example": "xxxx",
          "description": "公司证件号"
        },
        "countryCode": {
          "type": "string",
          "example": "156",
          "description": "注册国家，156 - 中国"
        },
        "companyName": {
          "type": "string",
          "example": "xxxxxx",
          "description": "公司名称"
        },
        "organCode": {
          "type": "string",
          "example": "xxxxxx",
          "description": "公司组织机构代码"
        }
      }
    },
    "RecurringTopupInvestRateInfo": {
      "type": "object",
      "properties": {
        "fundCode": {
          "type": "string",
          "example": "F001",
          "description": "基金代码"
        },
        "assignRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "分配比例"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BeneficiaryInfo": {
      "type": "object",
      "properties": {
        "partyId": {
          "type": "string",
          "description": "客户编号, UUID type"
        },
        "policyCustomer": {
          "description": "客户详细信息",
          "$ref": "#/definitions/PolicyCustomerInfo"
        },
        "insuredPartyId": {
          "type": "string",
          "description": "受益人所对应被保人的当事人编号"
        },
        "beneType": {
          "type": "string",
          "example": "2",
          "description": "受益类型<br>1 - 生存受益人<br>2 - 身故受益人<br>3 - 投保受益人",
          "enum": [
            "1",
            "2",
            "3"
          ]
        },
        "designation": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "与被保人关系<br>1 - 妻子<br>2 - 丈夫<br>3 - 子女<br>4 - 父亲<br>5 - 母亲<br>6 - 祖父/外祖父<br>7 - 祖母/外祖母<br>8 - 兄弟<br>9 - 姐妹<br>10 - 叔父/伯父<br>11 - 阿姨<br>12 - 表兄弟/表姐妹<br>13 - 外甥/外甥女/侄子/侄女<br>14 - 雇主<br>15 - 其他<br>16 - 被保人本人",
          "enum": [
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9,
            10,
            11,
            12,
            13,
            14,
            15,
            16
          ]
        },
        "shareOrder": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "受益顺位"
        },
        "shareRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "受益比例，最大为1"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PayPlanInfo": {
      "type": "object",
      "properties": {
        "endPeriod": {
          "type": "string",
          "example": "3",
          "description": "年金领取期间类型，计划类型为年金/变额年金/GMWB时非空<br>1 - 领取固定年数<br>2 - 领取到一定年龄<br>3 - 终身领取",
          "enum": [
            "1",
            "2",
            "3"
          ]
        },
        "endYear": {
          "type": "integer",
          "format": "int32",
          "description": "领取年数"
        },
        "gurntPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "年金保证领取期间（年数或年龄）"
        },
        "payOption": {
          "type": "string",
          "example": "1",
          "description": "年金领取方式<br>1 - 现金领取<br>2 - 抵交保费<br>3 - 累积生息<br>4 - 累积生息x年后转抵交保费<br>5 - 买一个附加的缴清的附加险",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "payOptionTerm": {
          "type": "integer",
          "format": "int32",
          "description": "年数，当payOption为4时有意义，其他为空"
        },
        "payPeriod": {
          "type": "string",
          "example": "3",
          "description": "年金开始领取期间类型<br>1 - 立即领取<br>2 - 到一定年龄的周年日领取<br>3 - 若干年后领取<br>4 - 一定年龄后领取",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "payYear": {
          "type": "integer",
          "format": "int32",
          "description": "年金开始领取期间（年数或年龄）"
        },
        "planFreq": {
          "type": "string",
          "example": "1",
          "description": "领取频率<br>1 - 年<br>2 - 半年<br>3 - 季<br>4 - 月<br>5 - 趸领",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "planType": {
          "type": "string",
          "example": "1",
          "description": "支付计划类型，非空<br>1 - 现金红利<br>2 - 年金<br>3 - 生存金<br>4 - 满期金<br>5 - GMWB（保证最小提取利益）<br>6 - 变额年金<br>7 - 部分退保<br>8 - 保额红利",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8"
          ]
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PolicySummaryInfo": {
      "type": "object",
      "properties": {
        "quotationCode": {
          "type": "string",
          "description": "试算请求编号"
        },
        "policyNumber": {
          "type": "string",
          "description": "保单号码"
        },
        "proposalNumber": {
          "type": "string",
          "description": "投保单号码"
        },
        "applyDate": {
          "type": "string",
          "format": "date-time",
          "description": "申请日期，非空，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "inceptionDate": {
          "type": "string",
          "format": "date-time",
          "description": "保单生效日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "issueDate": {
          "type": "string",
          "format": "date-time",
          "description": "承保日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "expiryDate": {
          "type": "string",
          "format": "date-time",
          "description": "终止日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "policyHolderName": {
          "type": "string",
          "description": "投保人姓名"
        },
        "mainInsuredName": {
          "type": "string",
          "description": "主被保人姓名"
        },
        "masterProductCode": {
          "type": "string",
          "description": "主险代码"
        },
        "masterProductName": {
          "type": "string",
          "description": "主险名称"
        },
        "installPrem": {
          "type": "number",
          "format": "double",
          "description": "保单保费",
          "readOnly": true
        },
        "proposalStatus": {
          "type": "string",
          "description": "投保单状态"
        },
        "riskStatus": {
          "type": "string",
          "description": "保单状态<br>0 - 未生效<br>1 - 生效<br>2 - 失效<br>3 - 终止"
        }
      }
    },
    "BankAccountInfo": {
      "type": "object",
      "properties": {
        "branchCode": {
          "type": "string",
          "example": "1001",
          "description": "分行代码"
        },
        "bankCode": {
          "type": "string",
          "example": "test_bank",
          "description": "银行代码"
        },
        "bankAccountProvince": {
          "type": "string",
          "example": "Shanghai",
          "description": "银行帐号所属省份"
        },
        "bankAccountCity": {
          "type": "string",
          "example": "Shanghai",
          "description": "银行帐号所属城市"
        },
        "issueBankName": {
          "type": "string",
          "example": "ICBC",
          "description": "发卡行"
        },
        "bankAccount": {
          "type": "string",
          "example": "1111222233334444567",
          "description": "银行帐号"
        },
        "accoName": {
          "type": "string",
          "example": "张三",
          "description": "帐号持有人姓名"
        },
        "accountType": {
          "type": "string",
          "example": "2",
          "description": "账户类型<br>2 - 借记卡<br>8 - 信用卡",
          "enum": [
            "2",
            "8"
          ]
        },
        "debitCreditType": {
          "type": "string",
          "example": "0",
          "description": "帐号用途<br>0 - 收付两用<br>1 - 收费<br>2 - 退费",
          "enum": [
            "0",
            "1",
            "2"
          ]
        },
        "creditCardType": {
          "type": "string",
          "example": "1",
          "description": "信用卡类型，非信用卡为空<br>1 - Master<br>2 - Visa<br>3 - BCA<br>4 - JCB",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "expireDate": {
          "type": "string",
          "format": "date-time",
          "example": "10/2020",
          "description": "帐号失效日期，MM/yyyy"
        }
      }
    },
    "PageablePolicyCriteria": {
      "type": "object",
      "properties": {
        "applyDateFrom": {
          "type": "string",
          "format": "date-time",
          "example": "2017-07-01",
          "description": "查询条件：投保单时间范围，开始日期，application date from"
        },
        "applyDateTo": {
          "type": "string",
          "format": "date-time",
          "example": "2017-08-01",
          "description": "查询条件：投保单时间范围，结束日期，application date to"
        },
        "certiCode": {
          "type": "string",
          "example": "1234567890",
          "description": "查询条件：投保人或者被保人ID，ID no. of policy customer (policy holder or insured)"
        },
        "masterProductCode": {
          "type": "string",
          "example": "07H004",
          "description": "查询条件：主险编号，code of master product"
        },
        "name": {
          "type": "string",
          "example": "name",
          "description": "查询条件：投保人或者被保人姓名，name of policy customer (policy holder or insured)"
        },
        "page": {
          "type": "integer",
          "format": "int32",
          "description": "页面条件：目标页面序号，缺省是0"
        },
        "policyNumber": {
          "type": "string",
          "description": "查询条件：保单编号，policy no."
        },
        "proposalNumber": {
          "type": "string",
          "description": "查询条件：投保单号，application code"
        },
        "quotationCode": {
          "type": "string",
          "description": "查询条件：询价编号，order no."
        },
        "size": {
          "type": "integer",
          "format": "int32",
          "example": 10,
          "description": "页面条件：每页多少条记录，缺省是10"
        }
      }
    },
    "PayerAccountInfo": {
      "type": "object",
      "properties": {
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "example": 3,
          "description": "首期付款方式，数字类型<br>1 - 现金<br>2 - 支票<br>3 - 银行转账<br>30 - 信用卡",
          "enum": [
            1,
            2,
            3,
            30,
            80
          ]
        },
        "paymentMethodNext": {
          "type": "integer",
          "format": "int32",
          "example": 3,
          "description": "续期付款方式，数字类型<br>1 - 现金<br>2 - 支票<br>3 - 银行转账<br>30 - 信用卡",
          "enum": [
            1,
            2,
            3,
            30,
            80
          ]
        },
        "bankAccount": {
          "description": "首期银行账户",
          "$ref": "#/definitions/BankAccountInfo"
        },
        "nextBankAccount": {
          "description": "续期银行账户",
          "$ref": "#/definitions/BankAccountInfo"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CustomerDeclarationDetailInfo": {
      "type": "object",
      "properties": {
        "declId": {
          "type": "integer",
          "format": "int64",
          "description": "告知项编号，数字类型"
        },
        "fill1": {
          "type": "string",
          "description": "告知项回答内容1，字符类型，内容随告知项不同而不同"
        },
        "fill2": {
          "type": "string",
          "description": "告知项回答内容2，字符类型，内容随告知项不同而不同"
        },
        "fill3": {
          "type": "string",
          "description": "告知项回答内容3，字符类型，内容随告知项不同而不同"
        },
        "fill4": {
          "type": "string",
          "description": "告知项回答内容4，字符类型，内容随告知项不同而不同"
        },
        "fill5": {
          "type": "string",
          "description": "告知项回答内容5，字符类型，内容随告知项不同而不同"
        },
        "fill6": {
          "type": "string",
          "description": "告知项回答内容6，字符类型，内容随告知项不同而不同"
        },
        "fill7": {
          "type": "string",
          "description": "告知项回答内容7，字符类型，内容随告知项不同而不同"
        },
        "fill8": {
          "type": "string",
          "description": "告知项回答内容8，字符类型，内容随告知项不同而不同"
        },
        "fill9": {
          "type": "string",
          "description": "告知项回答内容9，字符类型，内容随告知项不同而不同"
        },
        "fill10": {
          "type": "string",
          "description": "告知项回答内容10，字符类型，内容随告知项不同而不同"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PolicyInfo": {
      "type": "object",
      "properties": {
        "policyType": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "保单类型，<br>1 - 个单<br>2 - 团单<br>3 - 银代",
          "enum": [
            1,
            2,
            3
          ]
        },
        "riskStatus": {
          "type": "integer",
          "format": "int32",
          "description": "保单状态<br>0 - 未生效<br>1 - 生效<br>2 - 失效<br>3 - 终止",
          "readOnly": true
        },
        "applyDate": {
          "type": "string",
          "format": "date-time",
          "description": "投保日期，必填，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "issueDate": {
          "type": "string",
          "format": "date-time",
          "description": "承保日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "installPrem": {
          "type": "number",
          "format": "double",
          "description": "保单保费"
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "币种，非空，1 - 人民币",
          "enum": [
            1
          ]
        },
        "ePolicyDownloadUrl": {
          "type": "string",
          "description": "电子保单下载地址"
        },
        "groupProposalNumber": {
          "type": "string",
          "description": "团单投保单号码"
        },
        "inceptionDate": {
          "type": "string",
          "format": "date-time",
          "description": "保单生效日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "expiryDate": {
          "type": "string",
          "format": "date-time",
          "description": "终止日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "proposalNumber": {
          "type": "string",
          "description": "投保单号码"
        },
        "deliverType": {
          "type": "string",
          "example": "M",
          "description": "保单递送方式<br>H - 手工<br>M - 邮件",
          "enum": [
            "H",
            "M"
          ]
        },
        "policyNumber": {
          "type": "string",
          "description": "保单号码"
        },
        "quotationCode": {
          "type": "string",
          "description": "试算请求编号"
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "提交日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "serviceAgentCode": {
          "type": "string",
          "description": "保单代理人代码"
        },
        "salesChannelCode": {
          "type": "string",
          "description": "销售渠道代码"
        },
        "preprintedProposalNumber": {
          "type": "string",
          "description": "投保单预印号"
        },
        "proposalInfo": {
          "description": "投保单信息",
          "$ref": "#/definitions/PolicyProposalInfo"
        },
        "policyPackage": {
          "description": "产品组合",
          "$ref": "#/definitions/PolicyPackageInfo"
        },
        "coverages": {
          "type": "array",
          "description": "保单险种列表",
          "items": {
            "$ref": "#/definitions/CoverageInfo"
          }
        },
        "policyHolder": {
          "description": "投保人",
          "$ref": "#/definitions/PolicyHolderInfo"
        },
        "insureds": {
          "type": "array",
          "description": "保单被保人列表",
          "items": {
            "$ref": "#/definitions/InsuredInfo"
          }
        },
        "beneficiaries": {
          "type": "array",
          "description": "受益人列表",
          "items": {
            "$ref": "#/definitions/BeneficiaryInfo"
          }
        },
        "payerAccounts": {
          "type": "array",
          "description": "付款方式列表",
          "items": {
            "$ref": "#/definitions/PayerAccountInfo"
          }
        },
        "declarations": {
          "type": "array",
          "description": "客户告知列表",
          "items": {
            "$ref": "#/definitions/CustomerDeclarationInfo"
          }
        },
        "agentDeclarations": {
          "type": "array",
          "description": "代理人告知列表",
          "items": {
            "$ref": "#/definitions/AgentDeclarationInfo"
          }
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "InsuredInfo": {
      "type": "object",
      "properties": {
        "partyId": {
          "type": "string",
          "description": "客户编号, UUID type"
        },
        "policyCustomer": {
          "description": "客户详细信息",
          "$ref": "#/definitions/PolicyCustomerInfo"
        },
        "relationToPH": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "被保人与投保人关系，数字类型<br>1 - 自己<br>2 - 子女<br>3 - 配偶<br>10 - 父母<br>4 - 雇员<br>7 - 其他",
          "enum": [
            1,
            2,
            3,
            10,
            4,
            7
          ]
        },
        "medicalExamIndi": {
          "type": "string",
          "example": "N",
          "description": "是否有体检件<br>Y - 是<br>N - 否",
          "enum": [
            "Y",
            "N"
          ]
        },
        "medicalIndi": {
          "type": "string",
          "example": "Y",
          "description": "是否有医保<br>Y - 是<br>N - 否",
          "enum": [
            "Y",
            "N"
          ]
        },
        "socialSecurityIndi": {
          "type": "string",
          "example": "Y",
          "description": "是否有社保<br>Y - 是<br>N - 否",
          "enum": [
            "Y",
            "N"
          ]
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AgentDeclarationInfo": {
      "type": "object",
      "properties": {
        "agentCode": {
          "type": "string",
          "description": "代理人代码"
        },
        "declCode": {
          "type": "string",
          "description": "告知项编号"
        },
        "fill1": {
          "type": "string",
          "description": "告知项回答内容1，字符类型，内容随告知项不同而不同"
        },
        "fill2": {
          "type": "string",
          "description": "告知项回答内容2，字符类型，内容随告知项不同而不同"
        },
        "fill3": {
          "type": "string",
          "description": "告知项回答内容3，字符类型，内容随告知项不同而不同"
        },
        "fill4": {
          "type": "string",
          "description": "告知项回答内容4，字符类型，内容随告知项不同而不同"
        },
        "fill5": {
          "type": "string",
          "description": "告知项回答内容5，字符类型，内容随告知项不同而不同"
        },
        "fill6": {
          "type": "string",
          "description": "告知项回答内容6，字符类型，内容随告知项不同而不同"
        },
        "fill7": {
          "type": "string",
          "description": "告知项回答内容7，字符类型，内容随告知项不同而不同"
        },
        "fill8": {
          "type": "string",
          "description": "告知项回答内容8，字符类型，内容随告知项不同而不同"
        },
        "fill9": {
          "type": "string",
          "description": "告知项回答内容9，字符类型，内容随告知项不同而不同"
        },
        "fill10": {
          "type": "string",
          "description": "告知项回答内容10，字符类型，内容随告知项不同而不同"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CoverageAgentInfo": {
      "type": "object",
      "properties": {
        "agentCode": {
          "type": "string",
          "description": "保单代理人代码"
        },
        "assignRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "业绩分摊比例，最大为1"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AddressInfo": {
      "type": "object",
      "properties": {
        "address1": {
          "type": "string",
          "example": "上海市",
          "description": "省"
        },
        "address2": {
          "type": "string",
          "example": "上海市",
          "description": "市"
        },
        "address3": {
          "type": "string",
          "example": "杨浦区",
          "description": "区县"
        },
        "address4": {
          "type": "string",
          "example": "淞沪路270号创智天地3号楼3楼",
          "description": "地址"
        },
        "postCode": {
          "type": "string",
          "example": "200433",
          "description": "邮编"
        }
      }
    },
    "CoverageInfo": {
      "type": "object",
      "properties": {
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "缴费年期类型，非空<br>1 - 趸缴<br>2 - 按年限缴<br>3 - 缴至某确定年龄<br>4 - 终身",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "缴费年期，非空<br>趸缴为0<br>按年限缴时为缴费年限<br>缴至某确定年龄时为缴费期满年龄<br>终身为100"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "1",
          "description": "保障年期类型<br>1 - 保终身<br>2 - 按年限保<br>3 - 保至某确定年龄<br>4 - 按月保<br>5 - 按天保",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "description": "保障年期，保终身时为9999；按年限保时为保障年限；保至某确定年龄时为保障期满年龄；按月保时为保障月数；按天保时为保障天数"
        },
        "currentPremium": {
          "description": "当期保费",
          "$ref": "#/definitions/CoveragePremium"
        },
        "productCode": {
          "type": "string",
          "description": "产品代码"
        },
        "masterProductCode": {
          "type": "string",
          "description": "主险代码"
        },
        "waiverExt": {
          "description": "险种豁免信息",
          "$ref": "#/definitions/CoverageExtWaiver"
        },
        "nextPremium": {
          "description": "续期保费",
          "$ref": "#/definitions/CoveragePremium"
        },
        "coverageAgents": {
          "type": "array",
          "description": "业绩分摊代理人列表",
          "items": {
            "$ref": "#/definitions/CoverageAgentInfo"
          }
        },
        "payPlans": {
          "type": "array",
          "description": "支付计划列表",
          "items": {
            "$ref": "#/definitions/PayPlanInfo"
          }
        },
        "insureds": {
          "type": "array",
          "description": "险种被保人列表",
          "items": {
            "$ref": "#/definitions/CoverageInsuredInfo"
          }
        },
        "premInvestRates": {
          "type": "array",
          "description": "保费投资比例列表",
          "items": {
            "$ref": "#/definitions/PremInvestRateInfo"
          }
        },
        "recurringTopup": {
          "description": "定期追加投资",
          "$ref": "#/definitions/RecurringTopupInfo"
        },
        "contractInvests": {
          "type": "array",
          "description": "保单投资信息",
          "items": {
            "$ref": "#/definitions/ContractInvestInfo"
          }
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PremInvestRateInfo": {
      "type": "object",
      "properties": {
        "fundCode": {
          "type": "string",
          "example": "F001",
          "description": "基金代码"
        },
        "assignRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "分配比例"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CoverageExtWaiver": {
      "type": "object",
      "properties": {
        "waivedSa": {
          "type": "number",
          "format": "double",
          "description": "豁免保额，0表示全额豁免，不为0表示豁免指定金额，不能超过被豁免险种保费"
        },
        "waiver": {
          "type": "string",
          "example": "N",
          "description": "是否豁免险<br>Y - 是<br>N - 否",
          "enum": [
            "Y",
            "N"
          ]
        }
      }
    },
    "ContractInvestInfo": {
      "type": "object",
      "properties": {
        "fundCode": {
          "type": "string",
          "example": "F001",
          "description": "基金代码"
        },
        "accumUnits": {
          "type": "number",
          "format": "double",
          "example": 1000,
          "description": "基金份数"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PolicyPackageInfo": {
      "type": "object",
      "properties": {
        "packageCode": {
          "type": "string",
          "description": "产品组合代码"
        },
        "unit": {
          "type": "number",
          "format": "double",
          "description": "产品组合投保份数，默认为1"
        }
      }
    },
    "PolicyProposalInfo": {
      "type": "object",
      "properties": {
        "proposalStatus": {
          "type": "string",
          "description": "投保单状态"
        }
      }
    },
    "CoveragePremium": {
      "type": "object",
      "properties": {
        "benefitLevel": {
          "type": "string",
          "description": "险种档次，产品按档次投保时非空"
        },
        "paymentFreq": {
          "type": "string",
          "example": "1",
          "description": "缴费频率<br>1 - 年缴<br>2 - 半年缴<br>3 - 季缴<br>4 - 月缴<br>5 - 趸缴",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "sumAssured": {
          "type": "number",
          "format": "double",
          "example": 100000,
          "description": "险种保额，保额算保费时非空"
        },
        "premium": {
          "type": "number",
          "format": "double",
          "example": 2314,
          "description": "险种保费，保费算保额时非空"
        },
        "unit": {
          "type": "number",
          "format": "double",
          "description": "险种份数，产品按份数投保时非空"
        }
      }
    },
    "PolicyCustomerInfo": {
      "type": "object",
      "properties": {
        "address": {
          "description": "客户地址",
          "$ref": "#/definitions/AddressInfo"
        },
        "partyType": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "当事人类型，1 - 个人当事人<br>2 - 机构当事人",
          "enum": [
            1,
            2
          ]
        },
        "person": {
          "description": "个人客户信息",
          "$ref": "#/definitions/Person"
        },
        "organization": {
          "description": "机构客户信息",
          "$ref": "#/definitions/Organization"
        },
        "partyContact": {
          "description": "当事人联系信息",
          "$ref": "#/definitions/PartyContact"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CustomerDeclarationInfo": {
      "type": "object",
      "properties": {
        "partyId": {
          "type": "string",
          "description": "客户编号, UUID type"
        },
        "declarationDate": {
          "type": "string",
          "format": "date-time",
          "description": "告知日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "details": {
          "type": "array",
          "description": "告知详细信息",
          "items": {
            "$ref": "#/definitions/CustomerDeclarationDetailInfo"
          }
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PolicyHolderInfo": {
      "type": "object",
      "properties": {
        "partyId": {
          "type": "string",
          "description": "客户编号, UUID type"
        },
        "policyCustomer": {
          "description": "客户详细信息",
          "$ref": "#/definitions/PolicyCustomerInfo"
        },
        "relationToLA": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "投保人与被保人关系，数字类型<br>1 - 自己<br>2 - 父母<br>3 - 配偶<br>10 - 子女<br>7 - 其他",
          "enum": [
            1,
            2,
            3,
            10,
            7
          ]
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Person": {
      "type": "object",
      "properties": {
        "gender": {
          "type": "string",
          "example": "M",
          "description": "性别<br>M - 男性<br>F - 女性",
          "enum": [
            "M",
            "F"
          ]
        },
        "birthdate": {
          "type": "string",
          "format": "date-time",
          "example": "1980-01-01",
          "description": "生日，非空，日期格式：yyyy-MM-dd"
        },
        "certiType": {
          "type": "integer",
          "format": "int32",
          "example": 3,
          "description": "证件类型，数字类型<br>1 - 身份证<br>2 - 军人证<br>3 - 护照<br>4 - 出生证<br>9 - 其他",
          "enum": [
            1,
            2,
            3,
            4,
            9
          ]
        },
        "certiCode": {
          "type": "string",
          "example": "1234567890",
          "description": "证件号码"
        },
        "certiStart": {
          "type": "string",
          "format": "date-time",
          "example": "2000-01-01",
          "description": "证件起始有效日，日期格式：yyyy-MM-dd"
        },
        "certiEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2019-12-31",
          "description": "证件有效截止日，日期格式：yyyy-MM-dd"
        },
        "firstName": {
          "type": "string",
          "example": "三",
          "description": "名"
        },
        "midName": {
          "type": "string",
          "description": "Middle name of prospect"
        },
        "lastName": {
          "type": "string",
          "example": "张",
          "description": "Last name of prospect"
        },
        "nationality": {
          "type": "string",
          "example": "7",
          "description": "国籍，7 - 中国"
        },
        "preferredLifeIndi": {
          "type": "string",
          "example": "0",
          "description": "是否优选体<br>0 - N/A<br>1 - 超优体<br>2 - 优选体<br>3 - 优标体<br>4 - 标准体<br>5 - 次选体<br>6 - 次标准体"
        },
        "smoking": {
          "type": "string",
          "example": "N",
          "description": "是否抽烟<br>Y - 抽烟<br>N - 不抽烟",
          "enum": [
            "Y",
            "N"
          ]
        },
        "occupationCode": {
          "type": "string",
          "example": "1",
          "description": "职业代码"
        },
        "income": {
          "type": "integer",
          "format": "int64",
          "example": 200000,
          "description": "年收入"
        },
        "marriageStatus": {
          "type": "string",
          "example": "1",
          "description": "婚姻状况<br>1 - 已婚<br>2 - 未婚<br>3 - 离异<br>4 - 丧偶<br>5 - 分居<br>6 - 其他",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6"
          ]
        },
        "height": {
          "type": "number",
          "format": "double",
          "example": 175.3,
          "description": "身高（cm）"
        },
        "weight": {
          "type": "number",
          "format": "double",
          "example": 70.25,
          "description": "体重（kg）"
        },
        "salutation": {
          "type": "string",
          "example": "1",
          "description": "称呼<br>1 - 先生<br>2 - 女士",
          "enum": [
            "1",
            "2"
          ]
        }
      }
    },
    "CoverageInsuredInfo": {
      "type": "object",
      "properties": {
        "insuredPartyId": {
          "type": "string",
          "description": "被保人内部序列号"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "险种被保人序号，默认为1，同一险种多被保人（家庭保单或连身险）时大于1"
        },
        "occupationClass": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "职业等级"
        },
        "age": {
          "type": "integer",
          "format": "int32",
          "example": 25,
          "description": "年龄"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "RecurringTopupInfo": {
      "type": "object",
      "properties": {
        "investRates": {
          "type": "array",
          "description": "投资比例列表",
          "items": {
            "$ref": "#/definitions/RecurringTopupInvestRateInfo"
          }
        },
        "topupStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "追加开始时间"
        },
        "topupAmount": {
          "type": "number",
          "format": "double",
          "example": 10000,
          "description": "追加金额"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/claim/register": {
      "post": {
        "tags": [
          "Claim"
        ],
        "summary": "理赔案件注册",
        "description": "注册理赔案件",
        "operationId": "registerUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterRequest"
            }
          },
          {
            "name": "X-ebao-tenant-id",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegisterResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/policy/policy-alterations/{insurerCode}/changeContactInfo": {
      "post": {
        "tags": [
          "ChangeContactInfo"
        ],
        "summary": "paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.summary",
        "description": "paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.description",
        "operationId": "inforceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "insurerCode",
            "in": "path",
            "description": "paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.parameters['0'].description",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "description": "paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.parameters['1'].description",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangingContactInfoRequest"
            }
          },
          {
            "name": "X-ebao-tenant-id",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['200'].description",
            "schema": {
              "$ref": "#/definitions/ChangingContactInfoResponse"
            }
          },
          "201": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['201'].description"
          },
          "400": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['400'].description"
          },
          "401": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['401'].description"
          },
          "403": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['403'].description"
          },
          "404": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['404'].description"
          },
          "500": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['500'].description"
          }
        }
      }
    },
    "/policy/policy-alterations/{insurerCode}/freelook": {
      "post": {
        "tags": [
          "Freelook"
        ],
        "summary": "paths['/policy/policy-alterations/{insurerCode}/freelook'].post.summary",
        "description": "paths['/policy/policy-alterations/{insurerCode}/freelook'].post.description",
        "operationId": "inforceUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "insurerCode",
            "in": "path",
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook'].post.parameters['0'].description",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook'].post.parameters['1'].description",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FreelookRequest"
            }
          },
          {
            "name": "X-ebao-tenant-id",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['200'].description",
            "schema": {
              "$ref": "#/definitions/FreelookResponse"
            }
          },
          "201": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['201'].description"
          },
          "400": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['400'].description"
          },
          "401": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['401'].description"
          },
          "403": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['403'].description"
          },
          "404": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['404'].description"
          },
          "500": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['500'].description"
          }
        }
      }
    },
    "/policy/policy-alterations/{insurerCode}/freelook/quotations": {
      "post": {
        "tags": [
          "Freelook"
        ],
        "summary": "paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.summary",
        "description": "paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.description",
        "operationId": "quoteUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "insurerCode",
            "in": "path",
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.parameters['0'].description",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.parameters['1'].description",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FreelookQuotationRequest"
            }
          },
          {
            "name": "X-ebao-tenant-id",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['200'].description",
            "schema": {
              "$ref": "#/definitions/FreelookQuotationResponse"
            }
          },
          "201": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['201'].description"
          },
          "400": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['400'].description"
          },
          "401": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['401'].description"
          },
          "403": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['403'].description"
          },
          "404": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['404'].description"
          },
          "500": {
            "description": "paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['500'].description"
          }
        }
      }
    },
    "/policy/policies/{insurerCode}/search": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "保单简要信息列表",
        "description": "按照条件查询保单",
        "operationId": "searchUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "insurerCode",
            "in": "path",
            "description": "保险公司编号",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "criteria",
            "description": "查询条件",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PageablePolicyCriteria"
            }
          },
          {
            "name": "X-ebao-tenant-id",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicySummaryInfo"
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/policy/policies/{insurerCode}/{policyNumber}": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "保单信息",
        "description": "根据保单号获取保单信息",
        "operationId": "getUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "insurerCode",
            "in": "path",
            "description": "保险公司编号",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyNumber",
            "in": "path",
            "description": "保单号",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-ebao-tenant-id",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyInfo"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  }
}