{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "eBaoCloud LI OpenAPI",
    "termsOfService": "http://api.ebaocloud.life/",
    "description": "This document is the API specification for the eBaoCloud Life part. To practice and run the APIs in this document, you need to apply an eBaoCloud tenant accout(starting from a sandbox account instead of production account) first.<br>\nContact liliang.zhu@ebaotech.com for more information and trial using.\n\n# Built on\nSat Dec 2 2017, 17:05:32 +08:00\n\n# Versioning\nAPI version| Date  |Comments\n--|---|--\n0.5  | 2017-06-13  | Init version\n0.6  | 2017-06-19  | Add new category and readme\n0.6.5 | 2017-06-29  | oauth2 document, Chinese version document\n0.8  | 2017-07-07  | oauth2 lanuch\n0.8.5 | 2017-07-31 | Enhancement in product services\n0.9 | 2017-08-25 | Add limits related APIs (age, premium / SA and term )\n0.9.5 | 2017-09-05 | Add new service for e-policy downloading\n0.9.6 | 2017-09-13 | Add field: extra premium\n1.0 | 2017-11-09 | parameter sequence, add some new function in product\n\n# Authentication\n\n## Overview\n\neBaoCloud offers 3rd party applications the ability to issue authenticated requests on behalf of the eBaoCloud itself. eBaoCloud's implementation is based on the [Client Credentials Grant](http://tools.ietf.org/html/rfc6749#section-4.4) flow of the [oauth 2 specification](http://tools.ietf.org/html/rfc6749).\n\n## Auth Flow\n\nThe oauth2 / token authentication flow follows these 3 major steps:\n\n1. An application (backend) encodes its consumer key and secret (provided by eBaoCloud as an authorized vender) into a specially encoded set of credentials.\n2. An application (backend) makes a request to the POST oauth2 / token endpoint to exchange these credentials for a bearer token.\n3. When accessing the REST API, the application (the APP or website) uses the bearer token to authenticate.\n\n![Auth Flow](/assets/oauth.png)\n\n## Step by step\n\n* Send request to auth end point\n\n```js\nPOST: /cas/ebao/v1/json/tickets\nBody: {\"username\":\"name\", \"password\":\"pwd\"}\nResponse: {\"access_token\": \"xxxx\"}\n```\n\n* Send request with access_token in header\n\n```js\nPOST: /rest/products\nHeader: {\n  \"authorization\":\"Bearer \"+access_token,\n  \"X-ebao-tenant-id\": \"tenant-id\"\n}\n```\n\n## End Points\n\n| | Sandbox | Production |\n| :--- | :--- | :--- |\n| auth / take token | [https://sandbox.ebaocloud.com.cn/cas/ebao/v1/json/tickets](https://sandbox.ebaocloud.com.cn/cas/ebao/v1/json/tickets) | [https://ebaocloud.com.cn/cas/ebao/v1/json/tickets](https://ebaocloud.com.cn/cas/ebao/v1/json/tickets) |\n| APIs | [https://sandbox.gw.ebaocloud.com.cn/li/eBao/1/](https://sandbox.gw.ebaocloud.com.cn/li/eBao/1/) | [https://gw.ebaocloud.com.cn/li/eBao/1/](https://gw.ebaocloud.com.cn/li/eBao/1/)|\n\n\n## Sample\n\n#### Request auth from application\n\n```bash\ncurl --request POST \\\n  --url https://url/cas/ebao/v1/json/tickets \\\n  --header 'content-type: application/json' \\\n  --header 'X-ebao-tenant-id: tenant-id' \\\n  --data '{\\n \\n \"username\":\"site.admin\",\\n \"password\":\"adminPWD!\"\\n}'\n```\n\nNote:\n. the **X-ebao-tenant-id** is the unique id provided by eBaoCloud to identify the tenant.\n. the **username** and **password** are provided by eBaoCloud when you registered as an authorized vendor.\n\n\n#### Response from API GateWay\n\n* Success\n\n```js\n{\n\"access_token\" : \"TGT-233-e7Zuc5FlSAa0SShO3B1f2iugYzRQGQrSSoGwAi0VnWbnBNDwHg\"\n}\n```\n\n* Failed\n\n```js\n{\n\"access_token\" : null\n}\n```\n\n#### App call (Java code sample)\n\n```java\nHttpResponse<String> response = Unirest.post(url) // url：the UAT/product URL\n  .header(\"content-type\", \"application/json\") // application/json\n  .header(\"authorization\", \"Bearer \" + accessToken) // oauth2 access token：the accessToken\n  .header(\"X-ebao-tenant-id\", \"tenant-id\")\n  .body(body) // body: http body\n  .asString();\n```\n\n## Others\n\n### Tokens are passwords\n\nKeep in mind that the consumer key & secret, bearer token credentials, and the bearer token itself grant access to make requests on behalf of an application. These values should be considered as sensitive as passwords, and must not be shared or distributed to untrusted parties.\n\n### SSL required\n\nAll requests (both to obtain and use the tokens) **must use** HTTPS endpoints.\n"
  },
  "host": "sandbox.gw.ebaocloud.com.cn",
  "basePath": "/eBao/1.0/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "tags": [
    {
      "name": "Product"
    },
    {
      "name": "Proposal"
    }
  ],
  "definitions": {
    "SalesCategoryResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "messages": {
          "type": "array",
          "description": "业务失败原因描述列表节点",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "listSalesCategory": {
          "type": "array",
          "description": "产品销售分类",
          "items": {
            "$ref": "#/definitions/ProductSalesCategory"
          }
        }
      }
    },
    "ProductSumAssuredResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "productCode": {
          "type": "string",
          "description": "产品代码"
        },
        "productSumAssured": {
          "description": "保额限额结果",
          "$ref": "#/definitions/ProductSumAssured"
        }
      }
    },
    "CalculateInsured": {
      "type": "object",
      "required": [
        "gender",
        "orderId"
      ],
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32",
          "example": 17,
          "description": "被保人投保日时的年龄，年龄生日必须输入一个，既有年龄又有生日，以生日为准重新计算年龄"
        },
        "gender": {
          "type": "string",
          "example": "M",
          "description": "被保人性别<br>M - 男性<br>F - 女性",
          "enum": [
            "M",
            "F"
          ]
        },
        "birthdate": {
          "type": "string",
          "example": "1999-10-16",
          "description": "被保人生日，格式(YYYY-MM-DD)"
        },
        "smoking": {
          "type": "string",
          "example": "Y",
          "description": "是否抽烟<br>Y - 抽烟<br>N - 不抽烟<br>如果没有输入，默认为不抽烟",
          "enum": [
            "Y",
            "N"
          ]
        },
        "occupationCode": {
          "type": "integer",
          "format": "int32",
          "example": 10001,
          "description": "职业类别，此项由保险公司提供列表，在某些跟职业有关的产品下，此项必输入"
        },
        "occupationClass": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "职业等级，此项由保险公司提供列表，在某些跟职业等级的产品下，此项必输入"
        },
        "medicalIndi": {
          "type": "string",
          "example": "Y",
          "description": "是否有医保",
          "enum": [
            "Y",
            "N"
          ]
        },
        "socialSecurityIndi": {
          "type": "string",
          "example": "Y",
          "description": "是否有社保",
          "enum": [
            "Y",
            "N"
          ]
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "被保人顺序,在多个被保人时用来表示第一，第二被保人，在只有一个被保人情况下必须为1"
        },
        "extFields": {
          "type": "object",
          "description": "扩展字段"
        }
      }
    },
    "CalculateFund": {
      "type": "object",
      "required": [
        "assignRate",
        "fundCode",
        "premType"
      ],
      "properties": {
        "fundCode": {
          "type": "string",
          "example": "F001",
          "description": "基金代码"
        },
        "assignRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "分配比例"
        },
        "premType": {
          "type": "string",
          "example": "2: regular premium; 3: regular topup; 4: ad-hoc topup",
          "description": "费用类别"
        },
        "extFields": {
          "type": "object",
          "description": "扩展字段"
        }
      }
    },
    "ProductPackageInfo": {
      "type": "object",
      "properties": {
        "packageCode": {
          "type": "string",
          "description": "组合代码"
        },
        "packageName": {
          "type": "string",
          "description": "组合名称"
        },
        "moneyId": {
          "type": "integer",
          "format": "int64",
          "description": "币种s"
        },
        "description": {
          "type": "string",
          "description": "组合描述"
        },
        "specialClause": {
          "type": "string",
          "description": "组合特殊条款"
        },
        "pricingMethod": {
          "type": "string",
          "description": "保费保额计算方法<br>0 - 保费保额由用户输入<br>1 - 产品按单位售卖<br>2 - 根据保额算保费，但是也允许协议保费<br>3 - 产品根据计划或单位售卖<br>4 - 产品只允许按计划售卖<br>5 - 根据保费算保额，但是也允许协议保费<br>6 - 只允许保额算保费但是也允许协议保费<br>7 - 只允许保费算保额<br>8 - 保费算保额或保额算保费"
        },
        "unitPremium": {
          "type": "integer",
          "format": "int64",
          "description": "单位保费"
        },
        "unitAmount": {
          "type": "integer",
          "format": "int64",
          "description": "单位保额"
        },
        "minAmount": {
          "type": "integer",
          "format": "int64",
          "description": "最小保额"
        },
        "maxAmount": {
          "type": "integer",
          "format": "int64",
          "description": "最大保额"
        },
        "baseAmount": {
          "type": "integer",
          "format": "int64",
          "description": "基本保额"
        },
        "minPremium": {
          "type": "integer",
          "format": "int64",
          "description": "最小保费"
        },
        "maxPremium": {
          "type": "integer",
          "format": "int64",
          "description": "最大保费"
        },
        "minAgeUnit": {
          "type": "string",
          "description": "最小年龄单位"
        },
        "minAge": {
          "type": "integer",
          "format": "int32",
          "description": "最小年龄"
        },
        "maxAgeUnit": {
          "type": "string",
          "description": "最大年龄单位"
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "最大年龄"
        },
        "minPhAge": {
          "type": "integer",
          "format": "int32",
          "description": "最小投保人年龄"
        },
        "maxPhAge": {
          "type": "integer",
          "format": "int32",
          "description": "最大投保人年龄"
        },
        "productPkgTerms": {
          "type": "array",
          "description": "基本期限限制",
          "items": {
            "$ref": "#/definitions/ProductPackageTerm"
          }
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "组合Id"
        },
        "productPkgProducts": {
          "type": "array",
          "description": "基本产品列表",
          "items": {
            "$ref": "#/definitions/ProductPkgProduct"
          }
        },
        "productPkgProductMatrixs": {
          "type": "array",
          "description": "基本产品组合关系",
          "items": {
            "$ref": "#/definitions/ProductPkgProductMatrix"
          }
        }
      }
    },
    "ProductTermResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "productCode": {
          "type": "string",
          "description": "产品代码"
        },
        "productTerm": {
          "description": "期限限额结果",
          "$ref": "#/definitions/ProductTerm"
        }
      }
    },
    "CalculatePremium": {
      "type": "object",
      "required": [
        "paymentFreq"
      ],
      "properties": {
        "sumAssured": {
          "type": "number",
          "format": "double",
          "example": 1000000,
          "description": "保额，输入此项为根据保额算保费"
        },
        "premium": {
          "type": "number",
          "format": "double",
          "example": 2000,
          "description": "保费，输入此项为根据保费算保额"
        },
        "unit": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "购买单位，此项只对按单位售卖的产品有意义"
        },
        "benefitLevel": {
          "type": "string",
          "example": "1",
          "description": "档次，此项只对按档次售卖的产品有意义"
        },
        "paymentFreq": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "缴费频率<br>1 - 年缴<br>2 - 半年缴<br>3 - 季缴<br>4 - 月缴<br>5 - 趸缴",
          "enum": [
            1,
            2,
            3,
            4,
            5
          ]
        },
        "extFields": {
          "type": "object",
          "description": "扩展字段"
        }
      }
    },
    "ProductFundPremiumLimit": {
      "type": "object",
      "properties": {
        "fundCode": {
          "type": "string",
          "description": "基金代码"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "限额相关性，支付方式"
        },
        "minAdhocTopupPrem": {
          "type": "integer",
          "format": "int64",
          "description": "投资险最小加费金额"
        },
        "minRegulaTopupPrem": {
          "type": "integer",
          "format": "int64",
          "description": "投资险最小期缴费金额"
        },
        "paymentFrequency": {
          "type": "string",
          "description": "限额相关性，缴费频率"
        },
        "minInitialPrem": {
          "type": "integer",
          "format": "int64",
          "description": "最小初始保费"
        },
        "maxInitialPrem": {
          "type": "integer",
          "format": "int64",
          "description": "最大初始保费"
        }
      }
    },
    "AgeLimit": {
      "type": "object",
      "required": [
        "coveragePeriod"
      ],
      "properties": {
        "annuityEndYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "年龄限额相关性，最高年金给付结束年度"
        },
        "annuityStartYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "年龄限额相关性，最高年金给付年度"
        },
        "benefitLevel": {
          "type": "string",
          "description": "年龄限额相关性，档次"
        },
        "coverageYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "年龄限额相关性，最高保障年度"
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "允许的最大年龄"
        },
        "maxAgeUnit": {
          "type": "string",
          "description": "年龄单位，1:岁,5:天, 4:月"
        },
        "minAge": {
          "type": "integer",
          "format": "int32",
          "description": "允许的最小年龄"
        },
        "minAgeUnit": {
          "type": "string",
          "description": "年龄单位，1:岁,5:天, 4:月"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "缴费期限类型（ 1:趸交     2:缴几年   3:缴至某年龄   4:缴终身）,在产品允许多种缴费期限类型情况下,此项必填",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "缴费时长（缴费期限类型为 1的情况下，此字段无意义；     缴费期限类型为2的情况下，此字段为几年;   缴费期限类型为3的情况下，此字段为某一年龄;  缴费期限类型为 4的情况下，此字段无意义）"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "保障期限类型（ 1:保终身     2:保几年   3:保至某年龄   4:保几个月）,,在产品允许多种保障期限类型情况下,此项必填",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "保障时长（保障期限类型为 1的情况下，此字段无意义；     保障期限类型为2的情况下，此字段为几年;   保障期限类型为3的情况下，此字段为某一年龄;  缴费期限类型为 4的情况下，此字段为几个月）"
        },
        "annuityStartPeriod": {
          "type": "string",
          "description": "年龄限额相关性，年金给付期限类型"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "description": "年龄限额相关性，年金给付年限"
        },
        "annuityEndPeriod": {
          "type": "string",
          "description": "年龄限额相关性，年金给付结束期限类型"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "description": "年龄限额相关性，年金给付结束期限年度"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "description": "年龄限额相关性，年金给付保证年度"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "年龄限额相关性，支付方式"
        },
        "gender": {
          "type": "string",
          "description": "年龄限额相关性，性别"
        },
        "paymentFrequency": {
          "type": "string",
          "description": "年龄限额相关性，缴费频率"
        },
        "lowSa": {
          "type": "number",
          "format": "double",
          "description": "年龄限额相关性，最低保额"
        },
        "highSa": {
          "type": "number",
          "format": "double",
          "description": "年龄限额相关性，最高保额"
        },
        "chargeYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "年龄限额相关性，最高缴费年度"
        }
      }
    },
    "CalculatePolicy": {
      "type": "object",
      "required": [
        "coverages"
      ],
      "properties": {
        "inceptionDate": {
          "type": "string",
          "example": "2017-01-01",
          "description": "保单生效日，字符串类型，格式(\"YYYY-MM-DD\")"
        },
        "coverages": {
          "type": "array",
          "description": "保障列表",
          "items": {
            "$ref": "#/definitions/CalculateCoverage"
          }
        },
        "extFields": {
          "type": "object",
          "description": "扩展字段"
        }
      }
    },
    "IllustrationRequest": {
      "type": "object",
      "required": [
        "calculatePolicy"
      ],
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "calculatePolicy": {
          "description": "利益展示保单计算数据",
          "$ref": "#/definitions/CalculatePolicy"
        }
      }
    },
    "GenericVO": {
      "type": "object",
      "properties": {
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        }
      }
    },
    "AgeLimitCon": {
      "type": "object",
      "required": [
        "coveragePeriod",
        "productCode"
      ],
      "properties": {
        "benefitLevel": {
          "type": "string",
          "example": "1",
          "description": "年龄限额相关性，档次"
        },
        "sumAssured": {
          "type": "number",
          "format": "double",
          "example": 100000,
          "description": "年龄限额相关性，保额"
        },
        "gender": {
          "type": "string",
          "example": "F",
          "description": "年龄限额相关性，性别"
        },
        "premiumFrequency": {
          "type": "string",
          "example": "1",
          "description": "年龄限额相关性，缴费频率"
        },
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "产品代码"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "缴费期限类型（ 1:趸交     2:缴几年   3:缴至某年龄   4:缴终身）,在产品允许多种缴费期限类型情况下,此项必填",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "缴费时长（缴费期限类型为 1的情况下，此字段无意义；     缴费期限类型为2的情况下，此字段为几年;   缴费期限类型为3的情况下，此字段为某一年龄;  缴费期限类型为 4的情况下，此字段无意义）"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "保障期限类型（ 1:保终身     2:保几年   3:保至某年龄   4:保几个月）,,在产品允许多种保障期限类型情况下,此项必填",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "保障时长（保障期限类型为 1的情况下，此字段无意义；     保障期限类型为2的情况下，此字段为几年;   保障期限类型为3的情况下，此字段为某一年龄;  缴费期限类型为 4的情况下，此字段为几个月）"
        },
        "annuityStartPeriod": {
          "type": "string",
          "example": "1",
          "description": "年金开始支付时期类型<br>1 - 立刻<br>2 - 从保单周年日年龄开始给付<br>3 - 几年之后开始给付<br>4 - 生日年龄那天开始给付"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "年龄限额相关性，年金给付年限"
        },
        "annuityEndPeriod": {
          "type": "string",
          "example": "1",
          "description": "年金结束支付时期类型<br>1 - 几年<br>2 - 到多少岁<br>3 - 终身"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "年龄限额相关性，年金给付结束期限年度"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "年龄限额相关性，年金给付保证年度"
        },
        "extFields": {
          "type": "object",
          "description": "扩展字段"
        }
      }
    },
    "Bonus": {
      "type": "object",
      "properties": {
        "cashBonus": {
          "type": "boolean",
          "example": false,
          "description": "是否有现金红利"
        },
        "cashBonusVestYear": {
          "type": "integer",
          "format": "int32",
          "description": "现金红利必须留在保险公司多少年投资之后才可以领取"
        },
        "cashBonusUnitAmount": {
          "type": "number",
          "format": "double",
          "description": "现金红利单位"
        },
        "cashBonusOptions": {
          "type": "array",
          "description": "允许的现金红利选项<br>1 - 马上领取<br>2 - 用现金红利支付保费<br>3 - 存在保险公司帐户中",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PremiumLimit": {
      "type": "object",
      "properties": {
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "保费限额相关性，支付方式"
        },
        "paymentFrequency": {
          "type": "string",
          "description": "保费限额相关性，缴费频率"
        },
        "minPrem": {
          "type": "integer",
          "format": "int64",
          "description": "保费限额相关性，最小保费"
        },
        "maxPrem": {
          "type": "integer",
          "format": "int64",
          "description": "保费限额相关性，最大保费 "
        },
        "minAge": {
          "type": "integer",
          "format": "int32",
          "description": "保费限额相关性，最小年龄"
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "保费限额相关性，最大年龄"
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "description": "保费限额相关性，币种"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "缴费期限类型（ 1:趸交     2:缴几年   3:缴至某年龄   4:缴终身）,在产品允许多种缴费期限类型情况下,此项必填",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "缴费时长（缴费期限类型为 1的情况下，此字段无意义；     缴费期限类型为2的情况下，此字段为几年;   缴费期限类型为3的情况下，此字段为某一年龄;  缴费期限类型为 4的情况下，此字段无意义）"
        }
      }
    },
    "CalculatePremSAResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "messages": {
          "type": "array",
          "description": "业务失败原因描述列表节点",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "calculatePolicyResult": {
          "description": "计算结果",
          "$ref": "#/definitions/CalculatePolicyResult"
        }
      }
    },
    "CalculatePolicyResult": {
      "type": "object",
      "properties": {
        "installPrem": {
          "type": "number",
          "format": "double",
          "description": "总期缴保费"
        },
        "annualPrem": {
          "type": "number",
          "format": "double",
          "description": "总年化标准保费"
        },
        "policyFee": {
          "type": "number",
          "format": "double",
          "description": "policy fee"
        },
        "inceptionDate": {
          "type": "string",
          "format": "date-time",
          "description": "投保日"
        },
        "calculateCoverageResults": {
          "type": "array",
          "description": "各保障详细计算结果",
          "items": {
            "$ref": "#/definitions/CalculateCoverageResult"
          }
        }
      }
    },
    "PackagesResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "listBasicProductPackageInfo": {
          "type": "array",
          "description": "产品组合基本信息",
          "items": {
            "$ref": "#/definitions/BasicProductPackageInfo"
          }
        }
      }
    },
    "Annuity": {
      "type": "object",
      "properties": {
        "annuityStartPeriod": {
          "type": "string",
          "description": "年金开始支付时期类型<br>1 - 立刻<br>2 - 从保单周年日年龄开始给付<br>3 - 几年之后开始给付<br>4 - 生日年龄那天开始给付"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int64",
          "description": "年或年龄"
        },
        "annuityEndPeriod": {
          "type": "string",
          "description": "年金结束支付时期类型<br>1 - 几年<br>2 - 到多少岁<br>3 - 终身"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int64",
          "description": "年或年龄"
        },
        "extFields": {
          "type": "object",
          "description": "扩展字段"
        }
      }
    },
    "ProductResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "messages": {
          "type": "array",
          "description": "业务失败原因描述列表节点",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "productInfo": {
          "description": "产品详细信息",
          "$ref": "#/definitions/ProductInfo"
        }
      }
    },
    "ProductPremiumResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "productCode": {
          "type": "string",
          "description": "产品代码"
        },
        "productPremium": {
          "description": "保费限额结果",
          "$ref": "#/definitions/ProductPremium"
        }
      }
    },
    "TermLimit": {
      "type": "object",
      "required": [
        "coveragePeriod"
      ],
      "properties": {
        "annuityStartPeriod": {
          "type": "string",
          "description": "年金支付期限类型"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "description": "年金支付期限"
        },
        "annuityEndPeriod": {
          "type": "string",
          "description": "年金支付结束期限类型"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "description": "年金支付结束期限"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "description": "年金保证支付年限"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "缴费期限类型（ 1:趸交     2:缴几年   3:缴至某年龄   4:缴终身）,在产品允许多种缴费期限类型情况下,此项必填",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "缴费时长（缴费期限类型为 1的情况下，此字段无意义；     缴费期限类型为2的情况下，此字段为几年;   缴费期限类型为3的情况下，此字段为某一年龄;  缴费期限类型为 4的情况下，此字段无意义）"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "保障期限类型（ 1:保终身     2:保几年   3:保至某年龄   4:保几个月）,,在产品允许多种保障期限类型情况下,此项必填",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "保障时长（保障期限类型为 1的情况下，此字段无意义；     保障期限类型为2的情况下，此字段为几年;   保障期限类型为3的情况下，此字段为某一年龄;  缴费期限类型为 4的情况下，此字段为几个月）"
        }
      }
    },
    "TopupWithdrawnPlan": {
      "type": "object",
      "required": [
        "amount",
        "endYear",
        "premType",
        "startYear"
      ],
      "properties": {
        "premType": {
          "type": "string",
          "example": "3: regular topup; 7: partial withdrawn; 4: ad-hoc topup",
          "description": "费用类别"
        },
        "startYear": {
          "type": "integer",
          "format": "int64",
          "example": 2,
          "description": "起始保单年度"
        },
        "endYear": {
          "type": "integer",
          "format": "int64",
          "example": 5,
          "description": "终止保单年度"
        },
        "amount": {
          "type": "number",
          "format": "double",
          "example": 100000,
          "description": "金额"
        },
        "extFields": {
          "type": "object",
          "description": "扩展字段"
        }
      }
    },
    "ProductsResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "messages": {
          "type": "array",
          "description": "业务失败原因描述列表节点",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "listProductBasicInformation": {
          "type": "array",
          "description": "产品基本信息",
          "items": {
            "$ref": "#/definitions/ProductBasicInformation"
          }
        }
      }
    },
    "ProductRatingParametersResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "productCode": {
          "type": "string",
          "description": "产品代码"
        },
        "ratingParameters": {
          "type": "array",
          "description": "相关性参数",
          "items": {
            "type": "string"
          }
        },
        "ratingParameterType": {
          "type": "string",
          "description": "相关性参数类型"
        }
      }
    },
    "ProductPkgProduct": {
      "type": "object",
      "properties": {
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "产品组合ID"
        },
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "产品ID"
        },
        "optional": {
          "type": "string",
          "description": "是否可选"
        },
        "saProportion": {
          "type": "number",
          "format": "double",
          "description": "sa proportion"
        },
        "premiumProportion": {
          "type": "number",
          "format": "double",
          "description": "premium proportion"
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "保额"
        },
        "premium": {
          "type": "number",
          "format": "double",
          "description": "保费"
        },
        "calcMethod": {
          "type": "string",
          "description": "精算方式"
        },
        "benefitLevel": {
          "type": "string",
          "description": "档次"
        },
        "freeIndi": {
          "type": "string",
          "description": "free rider indicator"
        },
        "minAmount": {
          "type": "number",
          "format": "double",
          "description": "允许的最小保额"
        },
        "maxAmount": {
          "type": "number",
          "format": "double",
          "description": "允许的最大保额"
        },
        "minPremium": {
          "type": "number",
          "format": "double",
          "description": "允许的最小保费"
        },
        "maxPremium": {
          "type": "number",
          "format": "double",
          "description": "允许的最大保费"
        },
        "baseAmount": {
          "type": "number",
          "format": "double",
          "description": "基础保额"
        }
      }
    },
    "Illustrations": {
      "type": "object",
      "properties": {
        "illustrationResultList": {
          "type": "array",
          "description": "利益展示结果列表",
          "items": {
            "$ref": "#/definitions/IllustrationResult"
          }
        }
      }
    },
    "MainInformation": {
      "type": "object",
      "properties": {
        "productCode": {
          "type": "string",
          "description": "产品代码"
        },
        "productName": {
          "type": "string",
          "description": "产品名称"
        },
        "mainPlan": {
          "type": "string",
          "description": "是否是主险"
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "description": "产品币种"
        },
        "orgId": {
          "type": "integer",
          "format": "int64",
          "description": "此产品属于哪个机构"
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "产品起售时间"
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "产品终止售卖时间"
        },
        "salesCategory": {
          "description": "产品销售大类",
          "$ref": "#/definitions/ProductSalesCategory"
        },
        "productDescription": {
          "type": "string",
          "description": "产品描述"
        },
        "productAbbreviation": {
          "type": "string",
          "description": "产品简介"
        },
        "ally": {
          "type": "string",
          "description": "是否joint life, 1:是;0:否"
        },
        "indexIndi": {
          "type": "string",
          "description": "是否保额递增"
        },
        "familyType": {
          "type": "string",
          "description": "家庭产品类型"
        }
      }
    },
    "CalculatePremSARequest": {
      "type": "object",
      "required": [
        "calculatePolicy"
      ],
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "calculatePolicy": {
          "description": "保费保额计算数据",
          "$ref": "#/definitions/CalculatePolicy"
        }
      }
    },
    "ProductCoverMultiple": {
      "type": "object",
      "properties": {
        "coverMultipleItems": {
          "type": "array",
          "description": "cover multiple item",
          "items": {
            "$ref": "#/definitions/CoverMultipleItem"
          }
        }
      }
    },
    "CoverMultipleItem": {
      "type": "object",
      "properties": {
        "productCode": {
          "type": "string",
          "description": "产品代码"
        },
        "ageRange": {
          "type": "string",
          "description": "年龄范围"
        },
        "termRange": {
          "type": "string",
          "description": "缴费期限范围"
        },
        "minValue": {
          "type": "number",
          "format": "double",
          "description": "允许的最小值"
        },
        "maxValue": {
          "type": "number",
          "format": "double",
          "description": "允许的最大值"
        }
      }
    },
    "PackageResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "productPackageInfo": {
          "description": "产品组合详细信息",
          "$ref": "#/definitions/ProductPackageInfo"
        }
      }
    },
    "ProductPackageTerm": {
      "type": "object",
      "required": [
        "coveragePeriod"
      ],
      "properties": {
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "产品组合ID"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "缴费期限类型（ 1:趸交     2:缴几年   3:缴至某年龄   4:缴终身）,在产品允许多种缴费期限类型情况下,此项必填",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "缴费时长（缴费期限类型为 1的情况下，此字段无意义；     缴费期限类型为2的情况下，此字段为几年;   缴费期限类型为3的情况下，此字段为某一年龄;  缴费期限类型为 4的情况下，此字段无意义）"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "保障期限类型（ 1:保终身     2:保几年   3:保至某年龄   4:保几个月）,,在产品允许多种保障期限类型情况下,此项必填",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "保障时长（保障期限类型为 1的情况下，此字段无意义；     保障期限类型为2的情况下，此字段为几年;   保障期限类型为3的情况下，此字段为某一年龄;  缴费期限类型为 4的情况下，此字段为几个月）"
        }
      }
    },
    "ProductFund": {
      "type": "object",
      "properties": {
        "fundCode": {
          "type": "string",
          "description": "基金代码"
        },
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "产品Id"
        },
        "minPartialWithdralval": {
          "type": "integer",
          "format": "int64",
          "description": "最小部分领取金额"
        },
        "minPartialWithdralRemainingVal": {
          "type": "integer",
          "format": "int64",
          "description": "最小部分领取之后的剩余金额"
        },
        "minSwitOutVal": {
          "type": "integer",
          "format": "int64",
          "description": "最小转出金额"
        },
        "minSwitRemainVal": {
          "type": "integer",
          "format": "int64",
          "description": "最小转出之后剩余金额"
        },
        "switchPeriodUnit": {
          "type": "string",
          "description": "最小基金转换次数"
        },
        "maxSwitInTimes": {
          "type": "integer",
          "format": "int32",
          "description": "最大基金转入次数"
        },
        "maxSwitOutTimes": {
          "type": "integer",
          "format": "int32",
          "description": "最大基金转出次数"
        },
        "maxPartialWithdralVal": {
          "type": "integer",
          "format": "int64",
          "description": "最大部分领取金额"
        },
        "settleRatePeriodUnit": {
          "type": "string",
          "description": "结息区间单位类型"
        },
        "settleYearType": {
          "type": "integer",
          "format": "int32",
          "description": "结息年度类型"
        },
        "settleFreq": {
          "type": "string",
          "description": "结息频率"
        },
        "settleMonth": {
          "type": "integer",
          "format": "int32",
          "description": "结息月"
        },
        "settleDay": {
          "type": "integer",
          "format": "int32",
          "description": "结息天"
        },
        "settleMethod": {
          "type": "integer",
          "format": "int32",
          "description": "结息方式"
        },
        "guaranteedRateOption": {
          "type": "integer",
          "format": "int32",
          "description": "是否保证利率"
        },
        "settleSimpleCompound": {
          "type": "string",
          "description": "结息是复利还是单利"
        },
        "bonusSettleType": {
          "type": "integer",
          "format": "int32",
          "description": "红利处理类型<br>1:红利和本金一起处理<br>2:红利单独处理"
        }
      }
    },
    "LiabilityInformation": {
      "type": "object",
      "properties": {
        "liabilityName": {
          "type": "string",
          "description": "责任名称"
        },
        "categoryName": {
          "type": "string",
          "description": "责任大类名称"
        },
        "liabilityId": {
          "type": "integer",
          "format": "int64",
          "description": "责任Id"
        },
        "categoryId": {
          "type": "integer",
          "format": "int64",
          "description": "责任大类Id"
        }
      }
    },
    "TermLimitCon": {
      "type": "object",
      "required": [
        "coverageYear",
        "productCode"
      ],
      "properties": {
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "保额限额"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "缴费期限类型（ 1:趸交     2:缴几年   3:缴至某年龄   4:缴终身）,在产品允许多种缴费期限类型情况下,此项必填",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargePeriod": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "缴费时长（缴费期限类型为 1的情况下，此字段无意义；     缴费期限类型为2的情况下，此字段为几年;   缴费期限类型为3的情况下，此字段为某一年龄;  缴费期限类型为 4的情况下，此字段无意义）"
        },
        "coverageYear": {
          "type": "string",
          "example": "2",
          "description": "保障期限类型（ 1:保终身     2:保几年   3:保至某年龄   4:保几个月）,,在产品允许多种保障期限类型情况下,此项必填",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "保障时长（保障期限类型为 1的情况下，此字段无意义；     保障期限类型为2的情况下，此字段为几年;   保障期限类型为3的情况下，此字段为某一年龄;  缴费期限类型为 4的情况下，此字段为几个月）"
        },
        "annuityStartPeriod": {
          "type": "string",
          "example": "1",
          "description": "年金开始支付时期类型<br>1 - 立刻<br>2 - 从保单周年日年龄开始给付<br>3 - 几年之后开始给付<br>4 - 生日年龄那天开始给付"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "example": 10,
          "description": "限额相关性，年金给付期限"
        },
        "annuityEndPeriod": {
          "type": "string",
          "example": "1",
          "description": "年金结束支付时期类型<br>1 - 几年<br>2 - 到多少岁<br>3 - 终身"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "example": 10,
          "description": "限额相关性，年金结束给付期限"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "限额相关性，年金给付保障期限"
        },
        "extFields": {
          "type": "object",
          "description": "扩展字段"
        }
      }
    },
    "ProductLiability": {
      "type": "object",
      "properties": {
        "annuity": {
          "type": "boolean",
          "example": false,
          "description": "是否有年金"
        },
        "survivalBenefitOptions": {
          "type": "array",
          "description": "允许的生存给付选项<br>1 - 马上领取<br>2 - 用生存给付支付保费<br>3 - 存在保险公司帐户中 ",
          "items": {
            "type": "string"
          }
        },
        "liabilities": {
          "type": "array",
          "description": "产品责任列表",
          "items": {
            "$ref": "#/definitions/LiabilityInformation"
          }
        }
      }
    },
    "ProductRelationship": {
      "type": "object",
      "properties": {
        "masterProductCode": {
          "type": "string",
          "description": "主险产品代码"
        },
        "riderProductCode": {
          "type": "string",
          "description": "附加险产品代码"
        },
        "attachRelation": {
          "type": "string",
          "description": "附加关系：N-两个险种是简单附加关系<br>Y-险种2必须强制附加至险种1<br>D-险种2依赖险种1,只有1加了,才能加2<br>A-两个险种是互撤关系,不能共存"
        },
        "maxAttachedSa": {
          "type": "number",
          "format": "double",
          "description": "最大附加想保额"
        },
        "minAttachSa2MainSaRate": {
          "type": "number",
          "format": "double",
          "description": "最小附加险比主险的比例"
        },
        "maxTotalSa2MainSaRate": {
          "type": "number",
          "format": "double",
          "description": "最大附加险比主险的比例"
        },
        "maxAttachSa2MainSaRate": {
          "type": "number",
          "format": "double",
          "description": "最大附加险比主险的比例"
        },
        "riderSa2MainPremRate": {
          "type": "number",
          "format": "double",
          "description": "附加险保额比主险保费的比例"
        },
        "saNoEqual": {
          "type": "string",
          "description": "是否附加险的保额可以等于主险的保额"
        },
        "minAthAge": {
          "type": "integer",
          "format": "int32",
          "description": "允许附加的最小年龄"
        },
        "maxAthAge": {
          "type": "integer",
          "format": "int32",
          "description": "允许附加的最大年龄"
        },
        "minAthMastAge": {
          "type": "integer",
          "format": "int32",
          "description": "允许被附加的主险的最小年龄"
        },
        "maxAthMastAge": {
          "type": "integer",
          "format": "int32",
          "description": "允许被附加的主险的最大年龄"
        },
        "minMastSaAmount": {
          "type": "number",
          "format": "double",
          "description": "允许被附加的主险的最小保额"
        },
        "totalOverRate": {
          "type": "number",
          "format": "double",
          "description": "最大 附加险保额加主险保额比主险保额比"
        },
        "masterProductId": {
          "type": "integer",
          "format": "int64",
          "description": "主险产品Id"
        },
        "riderProductId": {
          "type": "integer",
          "format": "int64",
          "description": "附加险产品Id"
        },
        "attachType": {
          "type": "string",
          "description": "附加类型 1:只允许 附加一次 <br>2:允许附加多次"
        }
      }
    },
    "SaLimitCon": {
      "type": "object",
      "required": [
        "productCode"
      ],
      "properties": {
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "产品代码"
        },
        "insuredAgeMonth": {
          "type": "integer",
          "format": "int32",
          "example": 60,
          "description": "保额限额相关性，被保人年龄（单位月）"
        },
        "occupationCode": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "保额限额相关性，职业类别"
        },
        "payMethod": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "保额限额相关性，支付方式"
        },
        "extFields": {
          "type": "object",
          "description": "扩展字段"
        }
      }
    },
    "ProductPremium": {
      "type": "object",
      "properties": {
        "initialPremium": {
          "type": "array",
          "description": "初始保费限额信息",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "subsequentPremium": {
          "type": "array",
          "description": "续期保费限额信息",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "adhocTopup": {
          "type": "array",
          "description": "投资险加费限额",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "regularTopup": {
          "type": "array",
          "description": "投资险持续加费限额",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "increasePremium": {
          "type": "array",
          "description": "增加保费限额",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "decreasePremium": {
          "type": "array",
          "description": "降低保费限额",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "increaseRegularTopup": {
          "type": "array",
          "description": "投资险增加持续保费限额",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "decreaseRegularTopup": {
          "type": "array",
          "description": "投资险减少持续保费限额",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "listFundPremiumLimit": {
          "type": "array",
          "description": "投资险减基金级别限额",
          "items": {
            "$ref": "#/definitions/ProductFundPremiumLimit"
          }
        }
      }
    },
    "GenericValidationResult": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "ruleType": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProductTerm": {
      "type": "object",
      "properties": {
        "listTermLimit": {
          "type": "array",
          "description": "期限限制",
          "items": {
            "$ref": "#/definitions/TermLimit"
          }
        }
      }
    },
    "ProductSumAssured": {
      "type": "object",
      "properties": {
        "saLimit": {
          "type": "array",
          "description": "产品保额限制",
          "items": {
            "$ref": "#/definitions/SaLimit"
          }
        }
      }
    },
    "IllustrationResult": {
      "type": "object",
      "properties": {
        "coverageId": {
          "type": "integer",
          "format": "int64",
          "description": "保障编号，任意唯一整数即可，例如1，2"
        },
        "calcType": {
          "type": "integer",
          "format": "int32",
          "description": "计算类型"
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "金额"
        },
        "performanceType": {
          "type": "integer",
          "format": "int32",
          "description": "利益展示level"
        },
        "age": {
          "type": "integer",
          "format": "int32",
          "description": "年龄"
        },
        "policyYear": {
          "type": "integer",
          "format": "int32",
          "description": "保单年度"
        },
        "policyMonth": {
          "type": "integer",
          "format": "int32",
          "description": "保单月份"
        },
        "fundCode": {
          "type": "string",
          "description": "基金代码"
        },
        "name": {
          "type": "string",
          "description": "名称"
        },
        "orderSeq": {
          "type": "integer",
          "format": "int32",
          "description": "顺序"
        }
      }
    },
    "ProductInfo": {
      "type": "object",
      "properties": {
        "maininfo": {
          "description": "产品主要信息",
          "$ref": "#/definitions/MainInformation"
        },
        "benefitType": {
          "type": "string",
          "description": "产品保障大类<br>23 - 补贴型医疗险<br>31 - 意外险<br>11 - 两全险<br>12 - 年金险<br>13 - 终身险<br>14 - 定期险<br>41 - 投资险<br>15 - 抵押贷款险 <br>16 - 长期照料险  <br>17 - 重疾险"
        },
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "产品Id"
        },
        "premSaCalc": {
          "description": "产品保费计算相关信息",
          "$ref": "#/definitions/PremiumSaCalculation"
        },
        "liability": {
          "description": "产品责任",
          "$ref": "#/definitions/ProductLiability"
        },
        "bonus": {
          "description": "红利信息",
          "$ref": "#/definitions/Bonus"
        },
        "attachedRiders": {
          "type": "array",
          "description": "主险附加险关系",
          "items": {
            "$ref": "#/definitions/ProductRelationship"
          }
        },
        "productCoverMultiple": {
          "description": "保费保额比例",
          "$ref": "#/definitions/ProductCoverMultiple"
        },
        "listProductFund": {
          "type": "array",
          "description": "基金信息",
          "items": {
            "$ref": "#/definitions/ProductFund"
          }
        }
      }
    },
    "ProductBasicInformation": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "产品Id"
        },
        "productCode": {
          "type": "string",
          "description": "产品代码"
        },
        "productName": {
          "type": "string",
          "description": "产品名称"
        },
        "productAbbr": {
          "type": "string",
          "description": "产品简介"
        },
        "productDescription": {
          "type": "string",
          "description": "产品描述"
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "产品起售日期"
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "产品终止售卖日期"
        },
        "benefitType": {
          "type": "string",
          "description": "产品保障大类<br>23 - 补贴型医疗险<br>31 - 意外险<br>11 - 两全险<br>12 - 年金险<br>13 - 终身险<br>14 - 定期险<br>41 - 投资险<br>15 - 抵押贷款险 <br>16 - 长期照料险  <br>17 - 重疾险  "
        },
        "isMainProduct": {
          "type": "string",
          "description": "是否是主险"
        },
        "minSAOrUnit": {
          "type": "integer",
          "format": "int64",
          "description": "最小保额或份数"
        }
      }
    },
    "SaLimit": {
      "type": "object",
      "properties": {
        "lowAgeMonth": {
          "type": "integer",
          "format": "int32",
          "description": "被保人最小年龄（单位月）"
        },
        "highAgeMonth": {
          "type": "integer",
          "format": "int32",
          "description": "被保人最大年龄（单位月）"
        },
        "occupationCode": {
          "type": "integer",
          "format": "int32",
          "description": "职业类型"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "支付方式"
        },
        "limitUnit": {
          "type": "string",
          "description": "保额或单位限制<br>1 - 保额<br>2 - 单位"
        },
        "maxAmount": {
          "type": "integer",
          "format": "int64",
          "description": "最大金额，保额或单位"
        },
        "minAmount": {
          "type": "integer",
          "format": "int64",
          "description": "最小金额，保额或单位"
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "description": "币种"
        }
      }
    },
    "BasicProductPackageInfo": {
      "type": "object",
      "properties": {
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "产品组合Id"
        },
        "packageCode": {
          "type": "string",
          "description": "产品组合代码"
        },
        "packageName": {
          "type": "string",
          "description": "产品组合名称"
        },
        "moneyId": {
          "type": "integer",
          "format": "int64",
          "description": "币种"
        },
        "description": {
          "type": "string",
          "description": "产品组合描述"
        }
      }
    },
    "PremiumLimitCon": {
      "type": "object",
      "required": [
        "productCode"
      ],
      "properties": {
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "产品代码"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "缴费期限类型（ 1:趸交     2:缴几年   3:缴至某年龄   4:缴终身）,在产品允许多种缴费期限类型情况下,此项必填",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "缴费时长（缴费期限类型为 1的情况下，此字段无意义；     缴费期限类型为2的情况下，此字段为几年;   缴费期限类型为3的情况下，此字段为某一年龄;  缴费期限类型为 4的情况下，此字段无意义）"
        },
        "insuredAge": {
          "type": "integer",
          "format": "int32",
          "example": 50,
          "description": "保费限额相关性，被保人年龄"
        },
        "premiumFrequency": {
          "type": "string",
          "example": "1",
          "description": "保费限额相关性，缴费频率"
        },
        "payMode": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "保费限额相关性，付费方式"
        },
        "extFields": {
          "type": "object",
          "description": "扩展字段"
        }
      }
    },
    "ProductPkgProductMatrix": {
      "type": "object",
      "properties": {
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "产品组合Id"
        },
        "masterId": {
          "type": "integer",
          "format": "int64",
          "description": "主险Id"
        },
        "attachId": {
          "type": "integer",
          "format": "int64",
          "description": "附加险Id"
        },
        "attachMode": {
          "type": "string",
          "description": "附加关系：1-两个险种是简单附加关系<br>2-险种2依赖险种1,只有1加了,才能加2<br>3-两个险种是互撤关系,不能共存 "
        }
      }
    },
    "ProductSalesCategory": {
      "type": "object",
      "properties": {
        "categoryName": {
          "type": "string",
          "description": "产品销售大类名称"
        },
        "description": {
          "type": "string",
          "description": "产品销售大类描述"
        },
        "categoryCode": {
          "type": "string",
          "description": "产品销售大类代码"
        },
        "displayOrder": {
          "type": "integer",
          "format": "int32",
          "description": "显示顺序"
        },
        "categoryId": {
          "type": "integer",
          "format": "int32",
          "description": "产品销售大类Id"
        },
        "parentCateId": {
          "type": "string",
          "description": "产品销售大类父类别Id"
        }
      }
    },
    "ProductAgeResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "productCode": {
          "type": "string",
          "description": "产品代码"
        },
        "productAge": {
          "description": "投保人年龄限制",
          "$ref": "#/definitions/ProductAge"
        }
      }
    },
    "PremiumSaCalculation": {
      "type": "object",
      "properties": {
        "unitFlag": {
          "type": "string",
          "description": "保费保额计算方法<br>0 - 保费保额由用户输入<br>1 - 产品按单位售卖<br>2 - 根据保额算保费，但是也允许协议保费<br>3 - 产品根据计划或单位售卖<br>4 - 产品只允许按计划售卖<br>5 - 根据保费算保额，但是也允许协议保费<br>6 - 只允许保额算保费但是也允许协议保费<br>7 - 只允许保费算保额<br>8 - 保费算保额或保额算保费"
        },
        "waiver": {
          "type": "boolean",
          "example": false,
          "description": "是否是豁免险"
        },
        "ageBase": {
          "type": "string",
          "description": "年龄计算方法 1:按投保时年龄计算     2:按当年的保单周年日年龄计算"
        },
        "premiumFrequency": {
          "type": "array",
          "description": "产品支持的缴费频率列表",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CalculateCoverage": {
      "type": "object",
      "required": [
        "calculatePremium",
        "coverageId",
        "coveragePeriod",
        "insureds",
        "productCode"
      ],
      "properties": {
        "coverageId": {
          "type": "integer",
          "format": "int64",
          "example": 1,
          "description": "保障编号，任意唯一整数即可，例如1，2"
        },
        "productCode": {
          "type": "string",
          "example": "0170",
          "description": "产品代码"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "缴费期限类型<br>1 - 趸交<br>2 - 缴几年<br>3 - 缴至某年龄<br>4 - 缴终身<br>在产品允许多种缴费期限类型情况下,此项必填",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "缴费时长<br>缴费期限类型为 1的情况下，此字段无意义<br>缴费期限类型为2的情况下，此字段为几年<br>缴费期限类型为3的情况下，此字段为某一年龄<br>缴费期限类型为 4的情况下，此字段无意义）"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "保障时长<br>缴费期限类型为 1的情况下，此字段无意义<br>缴费期限类型为2的情况下，此字段为几年<br>缴费期限类型为3的情况下，此字段为某一年龄<br>缴费期限类型为 4的情况下，此字段无意义",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "保障时长<br>保障期限类型为 1的情况下，此字段无意义<br>保障期限类型为2的情况下，此字段为几年<br>保障期限类型为3的情况下，此字段为某一年龄<br>缴费期限类型为 4的情况下，此字段为几个月"
        },
        "masterCoverageId": {
          "type": "integer",
          "format": "int64",
          "example": 1,
          "description": "保障编号，如果是主保障此项为空，如果是附加保障，此项为主保障的coverageId"
        },
        "calculatePremium": {
          "description": "保费计算相关因子",
          "$ref": "#/definitions/CalculatePremium"
        },
        "insureds": {
          "type": "array",
          "description": "保费计算被保人相关信息",
          "items": {
            "$ref": "#/definitions/CalculateInsured"
          }
        },
        "annuity": {
          "description": "年金信息",
          "$ref": "#/definitions/Annuity"
        },
        "funds": {
          "type": "array",
          "description": "基金列表",
          "items": {
            "$ref": "#/definitions/CalculateFund"
          }
        },
        "topupWithdrawns": {
          "type": "array",
          "description": "变更计划列表",
          "items": {
            "$ref": "#/definitions/TopupWithdrawnPlan"
          }
        },
        "mortgageRates": {
          "type": "array",
          "description": "按揭信息",
          "items": {
            "$ref": "#/definitions/CalculateCoverageMortgageRate"
          }
        },
        "waivedSa": {
          "type": "number",
          "format": "double",
          "example": 100000,
          "description": "被豁免的保额，此项只对豁免险有意义"
        },
        "extFields": {
          "type": "object",
          "description": "扩展字段"
        }
      }
    },
    "CalculateCoverageResult": {
      "type": "object",
      "properties": {
        "productCode": {
          "type": "string",
          "description": "计算的产品代码"
        },
        "sumAssured": {
          "type": "number",
          "format": "double",
          "description": "保额"
        },
        "unit": {
          "type": "integer",
          "format": "int32",
          "description": "购买单位"
        },
        "totalPremAf": {
          "type": "number",
          "format": "double",
          "description": "期缴保费"
        },
        "premAn": {
          "type": "number",
          "format": "double",
          "description": "标准年保费"
        },
        "extraPrem": {
          "type": "number",
          "format": "double",
          "description": "附加保费"
        },
        "paymentFrey": {
          "type": "string",
          "description": "缴费频率"
        },
        "coverageId": {
          "type": "integer",
          "format": "int64",
          "description": "传入的保障代码"
        }
      }
    },
    "CalculateCoverageMortgageRate": {
      "type": "object",
      "required": [
        "levelPeriod",
        "mortgageRate"
      ],
      "properties": {
        "lowPolicyYear": {
          "type": "integer",
          "format": "int32",
          "example": 2,
          "description": "按揭利率的起始保单年度"
        },
        "highPolicyYear": {
          "type": "integer",
          "format": "int32",
          "example": 2,
          "description": "按揭利率的终止保单年度"
        },
        "levelPeriod": {
          "type": "integer",
          "format": "int32",
          "example": 2,
          "description": "延期年限"
        },
        "mortgageRate": {
          "type": "number",
          "format": "double",
          "example": 0.05,
          "description": "按揭利率"
        },
        "extFields": {
          "type": "object",
          "description": "扩展字段"
        }
      }
    },
    "ProductAge": {
      "type": "object",
      "properties": {
        "policyHolderAge": {
          "type": "array",
          "description": "投保人年龄限制",
          "items": {
            "$ref": "#/definitions/AgeLimit"
          }
        },
        "insuredAge": {
          "type": "array",
          "description": "被保人年龄限制",
          "items": {
            "$ref": "#/definitions/AgeLimit"
          }
        }
      }
    },
    "IllustrationResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "messages": {
          "type": "array",
          "description": "业务失败原因描述列表节点",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "illustrations": {
          "description": "利益演示结果",
          "$ref": "#/definitions/Illustrations"
        }
      }
    },
    "Policy": {
      "type": "object",
      "properties": {
        "applyDate": {
          "type": "string",
          "format": "date-time",
          "description": "申请日期，非空，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "beneficiaries": {
          "type": "array",
          "description": "受益人列表",
          "items": {
            "$ref": "#/definitions/Beneficiary"
          }
        },
        "brokerCode": {
          "type": "string",
          "example": "ebao",
          "description": "保险代理代码"
        },
        "contractorCode": {
          "type": "string",
          "example": "ebao",
          "description": "签约方代码"
        },
        "coverages": {
          "type": "array",
          "description": "保单险种列表",
          "items": {
            "$ref": "#/definitions/Coverage"
          }
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "币种，非空，1 - 人民币",
          "enum": [
            1
          ]
        },
        "customers": {
          "type": "array",
          "description": "保单客户列表",
          "items": {
            "$ref": "#/definitions/PolicyCustomer"
          }
        },
        "declarations": {
          "type": "array",
          "description": "客户告知列表",
          "items": {
            "$ref": "#/definitions/CustomerDeclaration"
          }
        },
        "deliverType": {
          "type": "string",
          "example": "M",
          "description": "保单递送方式<br>H - 手工<br>M - 邮件",
          "enum": [
            "H",
            "M"
          ]
        },
        "ePolicyDownloadUrl": {
          "type": "string",
          "description": "电子保单下载地址"
        },
        "expiryDate": {
          "type": "string",
          "format": "date-time",
          "description": "终止日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        },
        "groupProposalNumber": {
          "type": "string",
          "description": "团单投保单号码"
        },
        "inceptionDate": {
          "type": "string",
          "format": "date-time",
          "description": "保单生效日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "installPrem": {
          "type": "number",
          "format": "double",
          "description": "保单保费"
        },
        "insureds": {
          "type": "array",
          "description": "保单被保人列表",
          "items": {
            "$ref": "#/definitions/Insured"
          }
        },
        "insurerCode": {
          "type": "string",
          "description": "保险公司代码"
        },
        "issueDate": {
          "type": "string",
          "format": "date-time",
          "description": "承保日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "payerAccounts": {
          "type": "array",
          "description": "付款方式列表",
          "items": {
            "$ref": "#/definitions/PayerAccount"
          }
        },
        "payers": {
          "type": "array",
          "description": "付款人列表",
          "items": {
            "$ref": "#/definitions/Payer"
          }
        },
        "policyHolder": {
          "description": "投保人",
          "$ref": "#/definitions/PolicyHolder"
        },
        "policyId": {
          "type": "string",
          "description": "保单内部序列号, UUID type",
          "readOnly": true
        },
        "policyNumber": {
          "type": "string",
          "description": "保单号码"
        },
        "policyPackage": {
          "description": "产品组合",
          "$ref": "#/definitions/PolicyPackage"
        },
        "policyType": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "保单类型，<br>1 - 个单<br>2 - 团单<br>3 - 银代",
          "enum": [
            1,
            2,
            3
          ]
        },
        "preprintedProposalNumber": {
          "type": "string",
          "description": "投保单预印号"
        },
        "proposalNumber": {
          "type": "string",
          "description": "投保单号码"
        },
        "quotationCode": {
          "type": "string",
          "description": "试算请求编号"
        },
        "riskStatus": {
          "type": "integer",
          "format": "int32",
          "description": "保单状态<br>0 - 未生效<br>1 - 生效<br>2 - 失效<br>3 - 终止",
          "readOnly": true
        },
        "salesChannelCode": {
          "type": "string",
          "description": "销售渠道代码"
        },
        "serviceAgentCode": {
          "type": "string",
          "description": "保单代理人代码"
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "提交日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "tenantCode": {
          "type": "string",
          "example": "GUEST",
          "description": "Tenant code"
        },
        "trustees": {
          "type": "array",
          "description": "监护人列表",
          "items": {
            "$ref": "#/definitions/Trustee"
          }
        }
      }
    },
    "PremInvestRate": {
      "type": "object",
      "properties": {
        "addPremId": {
          "type": "string",
          "description": "投资序列号, UUID type",
          "readOnly": true
        },
        "assignRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "分配比例"
        },
        "coverageId": {
          "type": "string",
          "description": "保单险种序列号, UUID type",
          "readOnly": true
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        },
        "fundCode": {
          "type": "string",
          "example": "F001",
          "description": "基金代码"
        },
        "listId": {
          "type": "string",
          "description": "险种被保人内部序列号, UUID type",
          "readOnly": true
        },
        "policyId": {
          "type": "string",
          "description": "保单内部序列号, UUID type",
          "readOnly": true
        }
      }
    },
    "PolicyPackage": {
      "type": "object",
      "properties": {
        "packageCode": {
          "type": "string",
          "description": "产品组合代码"
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "组合内部序列号",
          "readOnly": true
        },
        "unit": {
          "type": "number",
          "format": "double",
          "description": "产品组合投保份数，默认为1"
        }
      }
    },
    "QuotationResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "description": "业务失败原因描述列表节点",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "policy": {
          "description": "保单",
          "$ref": "#/definitions/QuotationPolicyResult"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "address1": {
          "type": "string",
          "example": "上海市",
          "description": "省"
        },
        "address2": {
          "type": "string",
          "example": "上海市",
          "description": "市"
        },
        "address3": {
          "type": "string",
          "example": "杨浦区",
          "description": "区县"
        },
        "address4": {
          "type": "string",
          "example": "淞沪路270号创智天地3号楼3楼",
          "description": "地址"
        },
        "addressId": {
          "type": "string",
          "description": "地址内部序列号, UUID type",
          "readOnly": true
        },
        "postCode": {
          "type": "string",
          "example": "200433",
          "description": "邮编"
        }
      }
    },
    "CoverageInsuredInput": {
      "type": "object",
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32",
          "example": 25,
          "description": "年龄"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        },
        "occupationClass": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "职业等级"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "险种被保人序号，默认为1，同一险种多被保人（家庭保单或连身险）时大于1"
        },
        "partySerialId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "被保人客户临时编号，请求内使用，唯一标识请求内某一当事人"
        }
      }
    },
    "AddressInput": {
      "type": "object",
      "properties": {
        "address1": {
          "type": "string",
          "example": "上海市",
          "description": "省"
        },
        "address2": {
          "type": "string",
          "example": "上海市",
          "description": "市"
        },
        "address3": {
          "type": "string",
          "example": "杨浦区",
          "description": "区县"
        },
        "address4": {
          "type": "string",
          "example": "淞沪路270号创智天地3号楼3楼",
          "description": "地址"
        },
        "postCode": {
          "type": "string",
          "example": "200433",
          "description": "邮编"
        }
      }
    },
    "InsuredInput": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        },
        "medicalIndi": {
          "type": "string",
          "example": "Y",
          "description": "是否有医保<br>Y - 是<br>N - 否",
          "enum": [
            "Y",
            "N"
          ]
        },
        "partySerialId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "客户临时编号，请求内使用，唯一标识请求内某一当事人"
        },
        "relationToPH": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "被保人与投保人关系，数字类型<br>1 - 自己<br>2 - 子女<br>3 - 配偶<br>10 - 父母<br>4 - 雇员<br>7 - 其他",
          "enum": [
            1,
            2,
            3,
            10,
            4,
            7
          ]
        },
        "socialSecurityIndi": {
          "type": "string",
          "example": "Y",
          "description": "是否有社保<br>Y - 是<br>N - 否",
          "enum": [
            "Y",
            "N"
          ]
        }
      }
    },
    "PayerAccount": {
      "type": "object",
      "properties": {
        "bankAccount": {
          "description": "首期银行账户",
          "$ref": "#/definitions/BankAccount"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        },
        "listId": {
          "type": "string",
          "description": "保单客户内部序列号, UUID type",
          "readOnly": true
        },
        "nextBankAccount": {
          "description": "续期银行账户",
          "$ref": "#/definitions/BankAccount"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "example": 3,
          "description": "首期付款方式，数字类型<br>1 - 现金<br>2 - 支票<br>3 - 银行转账<br>30 - 信用卡",
          "enum": [
            1,
            2,
            3,
            30,
            80
          ]
        },
        "paymentMethodNext": {
          "type": "integer",
          "format": "int32",
          "example": 3,
          "description": "续期付款方式，数字类型<br>1 - 现金<br>2 - 支票<br>3 - 银行转账<br>30 - 信用卡",
          "enum": [
            1,
            2,
            3,
            30,
            80
          ]
        },
        "policyId": {
          "type": "string",
          "description": "保单内部序列号, UUID type",
          "readOnly": true
        }
      }
    },
    "PayPlanInput": {
      "type": "object",
      "properties": {
        "endPeriod": {
          "type": "string",
          "example": "3",
          "description": "年金领取期间类型，计划类型为年金/变额年金/GMWB时非空<br>1 - 领取固定年数<br>2 - 领取到一定年龄<br>3 - 终身领取",
          "enum": [
            "1",
            "2",
            "3"
          ]
        },
        "endYear": {
          "type": "integer",
          "format": "int32",
          "description": "领取年数"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gurntPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "年金保证领取期间（年数或年龄）"
        },
        "payOption": {
          "type": "string",
          "example": "1",
          "description": "年金领取方式<br>1 - 现金领取<br>2 - 抵交保费<br>3 - 累积生息<br>4 - 累积生息x年后转抵交保费<br>5 - 买一个附加的缴清的附加险",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "payOptionTerm": {
          "type": "integer",
          "format": "int32",
          "description": "年数，当payOption为4时有意义，其他为空"
        },
        "payPeriod": {
          "type": "string",
          "example": "3",
          "description": "年金开始领取期间类型<br>1 - 立即领取<br>2 - 到一定年龄的周年日领取<br>3 - 若干年后领取<br>4 - 一定年龄后领取",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "payYear": {
          "type": "integer",
          "format": "int32",
          "description": "年金开始领取期间（年数或年龄）"
        },
        "planFreq": {
          "type": "string",
          "example": "1",
          "description": "领取频率<br>1 - 年<br>2 - 半年<br>3 - 季<br>4 - 月<br>5 - 趸领",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "planType": {
          "type": "string",
          "example": "1",
          "description": "支付计划类型，非空<br>1 - 现金红利<br>2 - 年金<br>3 - 生存金<br>4 - 满期金<br>5 - GMWB（保证最小提取利益）<br>6 - 变额年金<br>7 - 部分退保<br>8 - 保额红利",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8"
          ]
        }
      }
    },
    "CoverageInput": {
      "type": "object",
      "properties": {
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "缴费年期类型，非空<br>1 - 趸缴<br>2 - 按年限缴<br>3 - 缴至某确定年龄<br>4 - 终身",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "缴费年期，非空<br>趸缴为0<br>按年限缴时为缴费年限<br>缴至某确定年龄时为缴费期满年龄<br>终身为100"
        },
        "coverageAgents": {
          "type": "array",
          "description": "业绩分摊代理人列表",
          "items": {
            "$ref": "#/definitions/CoverageAgentInput"
          }
        },
        "coveragePeriod": {
          "type": "string",
          "example": "1",
          "description": "保障年期类型<br>1 - 保终身<br>2 - 按年限保<br>3 - 保至某确定年龄<br>4 - 按月保<br>5 - 按天保",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "coverageSeriaId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "保单险种临时序列号，请求内使用，唯一标识请求内某一险种"
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "description": "保障年期，保终身时为9999；按年限保时为保障年限；保至某确定年龄时为保障期满年龄；按月保时为保障月数；按天保时为保障天数"
        },
        "currentPremium": {
          "description": "当期保费",
          "$ref": "#/definitions/CoveragePremium"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        },
        "insureds": {
          "type": "array",
          "description": "险种被保人列表",
          "items": {
            "$ref": "#/definitions/CoverageInsuredInput"
          }
        },
        "masterCoverageSerialId": {
          "type": "integer",
          "format": "int32",
          "description": "主险临时序列号，当前险种为主险时为空，为附加险时须填入主险的险种序列号"
        },
        "payPlans": {
          "type": "array",
          "description": "支付计划列表",
          "items": {
            "$ref": "#/definitions/PayPlanInput"
          }
        },
        "premInvestRates": {
          "type": "array",
          "description": "保费投资比例列表",
          "items": {
            "$ref": "#/definitions/ContractInvestRateInput"
          }
        },
        "productCode": {
          "type": "string",
          "description": "产品代码"
        },
        "recurringTopup": {
          "description": "定期追加投资",
          "$ref": "#/definitions/RecurringTopupInput"
        },
        "singleTopup": {
          "description": "单次追加投资",
          "$ref": "#/definitions/SingleTopupInput"
        },
        "waiverExt": {
          "description": "险种豁免信息",
          "$ref": "#/definitions/CoverageExtWaiverInput"
        }
      }
    },
    "PolicyCustomerInput": {
      "type": "object",
      "properties": {
        "address": {
          "description": "客户地址",
          "$ref": "#/definitions/AddressInput"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        },
        "organization": {
          "description": "机构客户信息",
          "$ref": "#/definitions/Organization"
        },
        "partyContact": {
          "description": "当事人联系信息",
          "$ref": "#/definitions/PartyContact"
        },
        "partySerialId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "客户临时编号，请求内使用，唯一标识请求内某一当事人"
        },
        "partyType": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "当事人类型，1 - 个人当事人<br>2 - 机构当事人",
          "enum": [
            1,
            2
          ]
        },
        "person": {
          "description": "个人客户信息",
          "$ref": "#/definitions/Person"
        }
      }
    },
    "PayPlan": {
      "type": "object",
      "properties": {
        "coverageId": {
          "type": "string",
          "description": "保单险种序列号, UUID type",
          "readOnly": true
        },
        "endPeriod": {
          "type": "string",
          "example": "3",
          "description": "年金领取期间类型，计划类型为年金/变额年金/GMWB时非空<br>1 - 领取固定年数<br>2 - 领取到一定年龄<br>3 - 终身领取",
          "enum": [
            "1",
            "2",
            "3"
          ]
        },
        "endYear": {
          "type": "integer",
          "format": "int32",
          "description": "领取年数"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gurntPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "年金保证领取期间（年数或年龄）"
        },
        "payOption": {
          "type": "string",
          "example": "1",
          "description": "年金领取方式<br>1 - 现金领取<br>2 - 抵交保费<br>3 - 累积生息<br>4 - 累积生息x年后转抵交保费<br>5 - 买一个附加的缴清的附加险",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "payOptionTerm": {
          "type": "integer",
          "format": "int32",
          "description": "年数，当payOption为4时有意义，其他为空"
        },
        "payPeriod": {
          "type": "string",
          "example": "3",
          "description": "年金开始领取期间类型<br>1 - 立即领取<br>2 - 到一定年龄的周年日领取<br>3 - 若干年后领取<br>4 - 一定年龄后领取",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "payYear": {
          "type": "integer",
          "format": "int32",
          "description": "年金开始领取期间（年数或年龄）"
        },
        "planFreq": {
          "type": "string",
          "example": "1",
          "description": "领取频率<br>1 - 年<br>2 - 半年<br>3 - 季<br>4 - 月<br>5 - 趸领",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "planId": {
          "type": "string",
          "description": "支付计划内部序列号, UUID type",
          "readOnly": true
        },
        "planType": {
          "type": "string",
          "example": "1",
          "description": "支付计划类型，非空<br>1 - 现金红利<br>2 - 年金<br>3 - 生存金<br>4 - 满期金<br>5 - GMWB（保证最小提取利益）<br>6 - 变额年金<br>7 - 部分退保<br>8 - 保额红利",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8"
          ]
        },
        "policyId": {
          "type": "string",
          "description": "保单内部序列号, UUID type",
          "readOnly": true
        }
      }
    },
    "CustomerDeclaration": {
      "type": "object",
      "properties": {
        "declarationDate": {
          "type": "string",
          "format": "date-time",
          "description": "告知日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "details": {
          "type": "array",
          "description": "告知详细信息",
          "items": {
            "$ref": "#/definitions/CustomerDeclarationDetail"
          }
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        },
        "listId": {
          "type": "string",
          "description": "客户告知内部序列号, UUID type",
          "readOnly": true
        },
        "partyId": {
          "type": "string",
          "description": "客户编号, UUID type",
          "readOnly": true
        },
        "policyId": {
          "type": "string",
          "description": "保单内部序列号, UUID type",
          "readOnly": true
        }
      }
    },
    "CoverageAgent": {
      "type": "object",
      "properties": {
        "agentCode": {
          "type": "string",
          "description": "保单代理人代码"
        },
        "assignRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "业绩分摊比例，最大为1"
        },
        "coverageId": {
          "type": "string",
          "description": "保单险种序列号, UUID type",
          "readOnly": true
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "listId": {
          "type": "string",
          "description": "险种业绩分摊信息内部序列号, UUID type",
          "readOnly": true
        },
        "policyId": {
          "type": "string",
          "description": "保单内部序列号, UUID type",
          "readOnly": true
        }
      }
    },
    "Payer": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        },
        "listId": {
          "type": "string",
          "description": "保单角色内部序列号, UUID type",
          "readOnly": true
        },
        "partyId": {
          "type": "string",
          "description": "客户编号, UUID type",
          "readOnly": true
        },
        "policyId": {
          "type": "string",
          "description": "保单内部序列号, UUID type",
          "readOnly": true
        },
        "relationToPH": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "付款人与投保人关系，数字类型<br>1 - 自己<br>2 - 子女<br>3 - 配偶<br>10 - 父母<br>7 - 其他",
          "enum": [
            1,
            2,
            3,
            10,
            7
          ]
        },
        "shareRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "付款比例，最大为1"
        }
      }
    },
    "CollectionInput": {
      "type": "object",
      "properties": {
        "currency": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "币种，非空，1 - 人民币",
          "enum": [
            1
          ]
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        },
        "feeAmount": {
          "type": "number",
          "format": "double",
          "example": 2314,
          "description": "实际收费金额"
        },
        "payMode": {
          "type": "integer",
          "format": "int32",
          "example": 3,
          "description": "首期付款方式，数字类型<br>1 - 现金<br>2 - 支票<br>3 - 银行转账<br>30 - 信用卡",
          "enum": [
            1,
            2,
            3,
            30,
            80
          ]
        },
        "paymentPlatform": {
          "type": "string",
          "description": "第三方支付平台代码<br>0 - 支付宝<br>11 - 财付通<br>12 - 快钱<br>21 - 快捷支付<br>30 - 京东支付<br>31 - 微信<br>32 - 银联<br>99 - 其他",
          "enum": [
            "0",
            "11",
            "12",
            "21",
            "30",
            "31",
            "32",
            "99"
          ]
        },
        "thirdPtyPayNO": {
          "type": "string",
          "description": "第三方支付号码"
        }
      }
    },
    "Iterator?Policy?": {
      "type": "object"
    },
    "IssurancePolicyResult": {
      "type": "object",
      "properties": {
        "coverages": {
          "type": "array",
          "description": "保单险种列表",
          "items": {
            "$ref": "#/definitions/CoverageCalculationResult"
          }
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "币种，非空，1 - 人民币",
          "enum": [
            1
          ]
        },
        "ePolicyDownloadUrl": {
          "type": "string",
          "description": "电子保单下载地址"
        },
        "expiryDate": {
          "type": "string",
          "format": "date-time",
          "description": "终止日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        },
        "groupProposalNumber": {
          "type": "string",
          "description": "团单投保单号码"
        },
        "inceptionDate": {
          "type": "string",
          "format": "date-time",
          "description": "保单生效日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "installPrem": {
          "type": "number",
          "format": "double",
          "description": "保单保费",
          "readOnly": true
        },
        "issueDate": {
          "type": "string",
          "format": "date-time",
          "description": "承保日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "policyNumber": {
          "type": "string",
          "description": "保单号码"
        },
        "proposalNumber": {
          "type": "string",
          "description": "投保单号码"
        },
        "quotationCode": {
          "type": "string",
          "description": "试算请求编号"
        },
        "riskStatus": {
          "type": "integer",
          "format": "int32",
          "description": "保单状态<br>0 - 未生效<br>1 - 生效<br>2 - 失效<br>3 - 终止",
          "readOnly": true
        }
      }
    },
    "SingleTopupInvestRate": {
      "type": "object",
      "properties": {
        "addPremId": {
          "type": "string",
          "description": "投资序列号, UUID type",
          "readOnly": true
        },
        "assignRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "分配比例"
        },
        "coverageId": {
          "type": "string",
          "description": "保单险种序列号, UUID type",
          "readOnly": true
        },
[...]
