{
  "swagger": "2.0",
  "info": {
    "version": "0.9.6",
    "title": "eBaoCloud LI OpenAPI",
    "description": "This document is the API specification for the eBaoCloud Life part. To practice and run the APIs in this document, you need to apply an eBaoCloud tenant accout(start from a sandbox account instead of production) first.<br>\nContact liliang.zhu@ebaotech.com for more information and trial using.\n\n# Built on\nThu Sep 14 2017, 11:29:20 +07:00\n\n# Versioning\nAPI version| Date  |Comments\n--|---|--\n0.5  | 2017-06-13  | Init version\n0.6  | 2017-06-19  | Add new category and readme\n0.6.5 | 2017-06-29  | oauth2 document, Chinese version document\n0.8  | 2017-07-07  | oauth2 lanuch\n0.8.5 | 2017-07-31 | Enhancement in product services\n0.9 | 2017-08-25 | Add limits related APIs (age, premium / SA and term )\n0.9.5 | 2017-09-05 | Add new service for e-policy downloading\n0.9.6 | 2017-09-13 | Add field: extra premium\n\n# Authentication\n\n## Overview\n\neBaoCloud offers 3rd party applications the ability to issue authenticated requests on behalf of the eBaoCloud itself. eBaoCloud's implementation is based on the [Client Credentials Grant](http://tools.ietf.org/html/rfc6749#section-4.4) flow of the [oauth 2 specification](http://tools.ietf.org/html/rfc6749).\n\n## Auth Flow\n\nThe oauth2 / token authentication flow follows these 3 major steps:\n\n1. An application (backend) encodes its consumer key and secret (provided by eBaoCloud as an authorized vender) into a specially encoded set of credentials.\n2. An application (backend) makes a request to the POST oauth2 / token endpoint to exchange these credentials for a bearer token.\n3. When accessing the REST API, the application (the APP or website) uses the bearer token to authenticate.\n\n![Auth Flow](/assets/oauth.png)\n\n## Step by step\n\n* Send request to auth end point\n\n```js\nPOST: /cas/ebao/v1/json/tickets\nBody: {\"username\":\"name\", \"password\":\"pwd\"}\nResponse: {\"access_token\": \"xxxx\"}\n```\n\n* Send request with access_token in header\n\n```js\nPOST: /rest/products\nHeader: {\n  \"authorization\":\"Bearer \"+access_token,\n  \"X-ebao-tenant-id\": \"tenant-id\"\n}\n```\n\n## End Points\n\n| | Sandbox | Production |\n| :--- | :--- | :--- |\n| auth / take token | [https://sandbox.ebaocloud.com.cn/cas/ebao/v1/json/tickets](https://sandbox.ebaocloud.com.cn/cas/ebao/v1/json/tickets) | [https://ebaocloud.com.cn/cas/ebao/v1/json/tickets](https://ebaocloud.com.cn/cas/ebao/v1/json/tickets) |\n| APIs | [https://sandbox.gw.ebaocloud.com.cn/li/eBao/1/](https://sandbox.gw.ebaocloud.com.cn/li/eBao/1/) | [https://gw.ebaocloud.com.cn/li/eBao/1/](https://gw.ebaocloud.com.cn/li/eBao/1/)|\n\n\n## Sample\n\n#### Request auth from application\n\n```bash\ncurl --request POST \\\n  --url https://url/cas/ebao/v1/json/tickets \\\n  --header 'content-type: application/json' \\\n  --header 'X-ebao-tenant-id: tenant-id' \\\n  --data '{\\n \\n \"username\":\"site.admin\",\\n \"password\":\"adminPWD!\"\\n}'\n```\n\nNote:\n. the **X-ebao-tenant-id** is the unique id provided by eBaoCloud to identify the tenant.\n. the **username** and **password** are provided by eBaoCloud when you registered as an authorized vendor.\n\n\n#### Response from API GateWay\n\n* Success\n\n```js\n{\n\"access_token\" : \"TGT-233-e7Zuc5FlSAa0SShO3B1f2iugYzRQGQrSSoGwAi0VnWbnBNDwHg\"\n}\n```\n\n* Failed\n\n```js\n{\n\"access_token\" : null\n}\n```\n\n#### App call (Java code sample)\n\n```java\nHttpResponse<String> response = Unirest.post(url) // url：the UAT/product URL\n  .header(\"content-type\", \"application/json\") // application/json\n  .header(\"authorization\", \"Bearer \" + accessToken) // oauth2 access token：the accessToken\n  .header(\"X-ebao-tenant-id\", \"tenant-id\")\n  .body(body) // body: http body\n  .asString();\n```\n\n## Others\n\n### Tokens are passwords\n\nKeep in mind that the consumer key & secret, bearer token credentials, and the bearer token itself grant access to make requests on behalf of an application. These values should be considered as sensitive as passwords, and must not be shared or distributed to untrusted parties.\n\n### SSL required\n\nAll requests (both to obtain and use the tokens) **must use** HTTPS endpoints.\n"
  },
  "host": "sandbox.api.li.ebaocloud.com.cn",
  "basePath": "/rest",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "tags": [
    {
      "name": "Product",
      "description": "Product related services, including product and pacakge information retrieve, pricing and illustration calculations."
    },
    {
      "name": "Proposal"
    }
  ],
  "definitions": {
    "SalesCategoryResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "listSalesCategory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductSalesCategory"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Serializable": {
      "type": "object"
    },
    "ProductSumAssuredResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "productCode": {
          "type": "string",
          "description": "Product code"
        },
        "productSumAssured": {
          "description": "SA limit enquire result",
          "$ref": "#/definitions/ProductSumAssured"
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CalculateInsured": {
      "type": "object",
      "required": [
        "gender",
        "orderId"
      ],
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32",
          "example": 17,
          "description": "Policy holder's age on application date. At least capture one of the age or birthday.  When have both age and birthday, using birthday as the calculation base."
        },
        "birthdate": {
          "type": "string",
          "example": "1999-10-16",
          "description": "Insured's birthday, non-empty, date format: yyyy-MM-dd"
        },
        "extFields": {
          "type": "object",
          "description": "Extended field"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "gender": {
          "type": "string",
          "example": "M",
          "description": "Insured's sex, M - male;<br>F - female",
          "enum": [
            "M",
            "F"
          ]
        },
        "medicalIndi": {
          "type": "string",
          "example": "Y",
          "description": "Whether there is medical insurance coverage<br>Y - yes<br>N - no",
          "enum": [
            "Y",
            "N"
          ]
        },
        "occupationClass": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Occupation level"
        },
        "occupationCode": {
          "type": "integer",
          "format": "int32",
          "example": 10001,
          "description": "Occupation code, provide by insurer officially. For some product, this field is compulsory"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Insured sequence, for only one insured, this number is 1"
        },
        "smoking": {
          "type": "string",
          "example": "Y",
          "description": "Whether smoking, Y - yes;<br>N - no<br>By default is no smoking",
          "enum": [
            "Y",
            "N"
          ]
        },
        "socialSecurityIndi": {
          "type": "string",
          "example": "Y",
          "description": "Whether there is social medical insurance coverage<br>Y - yes<br>N - no",
          "enum": [
            "Y",
            "N"
          ]
        }
      }
    },
    "CalculateFund": {
      "type": "object",
      "required": [
        "assignRate",
        "fundCode",
        "premType"
      ],
      "properties": {
        "assignRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "Fund assign ratio"
        },
        "extFields": {
          "type": "object",
          "description": "Extended field"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "fundCode": {
          "type": "string",
          "example": "F001",
          "description": "Fund code"
        },
        "premType": {
          "type": "string",
          "example": "2: regular premium; 3: regular topup; 4: ad-hoc topup",
          "description": "Fee type for investement product"
        }
      }
    },
    "ValidationResult": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "ruleType": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProductPackageInfo": {
      "type": "object",
      "properties": {
        "baseAmount": {
          "type": "integer",
          "format": "int64",
          "description": "Base SA"
        },
        "description": {
          "type": "string",
          "description": "Product package description"
        },
        "entityId": {
          "type": "integer",
          "format": "int64"
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "Allowed maximum age"
        },
        "maxAgeUnit": {
          "type": "string",
          "description": "Allowed maximum age (unit)"
        },
        "maxAmount": {
          "type": "integer",
          "format": "int64",
          "description": "Allowed maximum SA"
        },
        "maxPhAge": {
          "type": "integer",
          "format": "int32",
          "description": "Allowed maximum policy holder's age"
        },
        "maxPremium": {
          "type": "integer",
          "format": "int64",
          "description": "Allowed maximum premium"
        },
        "minAge": {
          "type": "integer",
          "format": "int32",
          "description": "Allowed minimum age"
        },
        "minAgeUnit": {
          "type": "string",
          "description": "Allowed minimum age (unit)"
        },
        "minAmount": {
          "type": "integer",
          "format": "int64",
          "description": "Allowed minimum SA"
        },
        "minPhAge": {
          "type": "integer",
          "format": "int32",
          "description": "Allowed minimum policy holder's age"
        },
        "minPremium": {
          "type": "integer",
          "format": "int64",
          "description": "Allowed minimum premium"
        },
        "moneyId": {
          "type": "integer",
          "format": "int64",
          "description": "Product package name"
        },
        "packageCode": {
          "type": "string",
          "description": "Product package code"
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "Product package Id"
        },
        "packageName": {
          "type": "string",
          "description": "Product package name"
        },
        "pricingMethod": {
          "type": "string",
          "description": "Premiums calculation method<br>0 - premium/SA by the user input<br>1 - products sold by the unit<br>2 - calculate premiums base on sum assured, but also allows the agreement premium<br>3 - products sold under the plan or unit<br>4 - products are only allowed to sell according to plan<br>5 - according to the premium , But also allow the agreement premium<br>6 - only to allow the sum assured to premium but also allow the agreement premium<br>7 - only allow premiums to sum assured<br>8 - both sum assured to premium or sum assured to premium"
        },
        "productPkgProductMatrixs": {
          "type": "array",
          "description": "Basic package product's matrix relationship",
          "items": {
            "$ref": "#/definitions/ProductPkgProductMatrix"
          }
        },
        "productPkgProducts": {
          "type": "array",
          "description": "Basic package product",
          "items": {
            "$ref": "#/definitions/ProductPkgProduct"
          }
        },
        "productPkgTerms": {
          "type": "array",
          "description": "Basic package product terms",
          "items": {
            "$ref": "#/definitions/ProductPackageTerm"
          }
        },
        "specialClause": {
          "type": "string",
          "description": "Package clauses for sepecial usage"
        },
        "unitAmount": {
          "type": "integer",
          "format": "int64",
          "description": "Unit SA"
        },
        "unitPremium": {
          "type": "integer",
          "format": "int64",
          "description": "Unit premium"
        }
      }
    },
    "ProductTermResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "productCode": {
          "type": "string",
          "description": "Product code"
        },
        "productTerm": {
          "description": "Term limit",
          "$ref": "#/definitions/ProductTerm"
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CalculatePremium": {
      "type": "object",
      "required": [
        "paymentFreq"
      ],
      "properties": {
        "benefitLevel": {
          "type": "string",
          "example": "1",
          "description": "Benefit level, only apply to the products which sales by benefit level"
        },
        "extFields": {
          "type": "object",
          "description": "Extended field"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "paymentFreq": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Pay frequency<br>1 - yearly payment<br>2 - half yearly payment<br>3 - quarterly payment<br>4 - monthly payment<br>5 - single premium",
          "enum": [
            1,
            2,
            3,
            4,
            5
          ]
        },
        "premium": {
          "type": "number",
          "format": "double",
          "example": 2000,
          "description": "Premium, only for the calculate SA from premium"
        },
        "sumAssured": {
          "type": "number",
          "format": "double",
          "example": 1000000,
          "description": "SA, when the premium calculation is from SA to premium."
        },
        "unit": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Unit, only apply to the product which sales by unit"
        }
      }
    },
    "ProductFundPremiumLimit": {
      "type": "object",
      "properties": {
        "fundCode": {
          "type": "string",
          "description": "Fund code"
        },
        "maxInitialPrem": {
          "type": "integer",
          "format": "int64",
          "description": "Allowed maximum initial premium"
        },
        "minAdhocTopupPrem": {
          "type": "integer",
          "format": "int64",
          "description": "Allowed minimum adhoc topup amount"
        },
        "minInitialPrem": {
          "type": "integer",
          "format": "int64",
          "description": "Minimum initial premium"
        },
        "minRegulaTopupPrem": {
          "type": "integer",
          "format": "int64",
          "description": "Allowed minimum regular topup amount"
        },
        "paymentFrequency": {
          "type": "string",
          "description": "Product fund premium limit related factor: payment frequency"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "Product fund premium limit related factor: payment method"
        }
      }
    },
    "AgeLimit": {
      "type": "object",
      "properties": {
        "ageUnit": {
          "type": "string",
          "description": "Age unit, by defaut is year."
        },
        "annuityEndPeriod": {
          "type": "string",
          "description": "Age range related factor: annuity payment end period"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "description": "Age range related factor: annuity payment end year"
        },
        "annuityEndYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "Age range related factor: maximum annuity payment end year"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "description": "Age range related factor: guaranteed annuity payment year"
        },
        "annuityStartPeriod": {
          "type": "string",
          "description": "Age range related factor: annuity payment peroid"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "description": "Age range related factor: annuity payment year"
        },
        "annuityStartYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "Age range related factor: maximum annuity payment year"
        },
        "benefitLevel": {
          "type": "string",
          "description": "Age range related factor: benefit level"
        },
        "chargePeriod": {
          "type": "string",
          "description": "Age range related factor: charge period"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "description": "Age range related factor: charge year"
        },
        "chargeYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "Age range related factor: maximum charge year"
        },
        "coveragePeriod": {
          "type": "string",
          "description": "Age range related factor: coverage period"
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "description": "Age range related factor: coverage year"
        },
        "coverageYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "Age range related factor: maximum coverage year"
        },
        "gender": {
          "type": "string",
          "description": "Age range related factor: gender"
        },
        "highSa": {
          "type": "number",
          "format": "double",
          "description": "Age range related factor: maximum SA"
        },
        "lowSa": {
          "type": "number",
          "format": "double",
          "description": "Age range related factor: minimum SA"
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum age allowed"
        },
        "minAge": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum age allowed"
        },
        "paymentFrequency": {
          "type": "string",
          "description": "Age range related factor: payment  frequency"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "Age range related factor: payment method"
        }
      }
    },
    "CalculatePolicy": {
      "type": "object",
      "required": [
        "coverages"
      ],
      "properties": {
        "coverages": {
          "type": "array",
          "description": "Coverage list",
          "items": {
            "$ref": "#/definitions/CalculateCoverage"
          }
        },
        "extFields": {
          "type": "object",
          "description": "Extended field"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "inceptionDate": {
          "type": "string",
          "example": "2017-01-01",
          "description": "Policy effective date, date format: (YYYY-MM-DD)"
        }
      }
    },
    "IllustrationRequest": {
      "type": "object",
      "required": [
        "calculatePolicy"
      ],
      "properties": {
        "calculatePolicy": {
          "description": "Policy information for the illustration",
          "$ref": "#/definitions/CalculatePolicy"
        },
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "GenericVO": {
      "type": "object",
      "properties": {
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        }
      }
    },
    "AgeLimitCon": {
      "type": "object",
      "required": [
        "productCode"
      ],
      "properties": {
        "annuityEndPeriod": {
          "type": "string",
          "example": "1",
          "description": "Age range related factor: annuity payment end period"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "Age range related factor: annuity payment end year"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "Age range related factor: guaranteed annuity payment year"
        },
        "annuityStartPeriod": {
          "type": "string",
          "example": "1",
          "description": "Age range related factor: annuity payment peroid"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "Age range related factor: annuity payment year"
        },
        "benefitLevel": {
          "type": "string",
          "example": "1",
          "description": "Age range related factor: benefit level"
        },
        "chargePeriod": {
          "type": "string",
          "example": "1",
          "description": "Age range related factor: charge period"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "Age range related factor: charge year"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "1",
          "description": "Age range related factor: coverage period"
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "Age range related factor: coverage year"
        },
        "extFields": {
          "type": "object",
          "description": "Extended field"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "gender": {
          "type": "string",
          "example": "F",
          "description": "Age range related factor: gender"
        },
        "premiumFrequency": {
          "type": "string",
          "example": "1",
          "description": "Age range related factor: payment  frequency"
        },
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "Product code"
        },
        "sumAssured": {
          "type": "number",
          "format": "double",
          "example": 100000,
          "description": "Age range related factor: SA"
        }
      }
    },
    "Bonus": {
      "type": "object",
      "properties": {
        "cashBonus": {
          "type": "boolean",
          "example": false,
          "description": "Whether there is a cash bonus"
        },
        "cashBonusOptions": {
          "type": "array",
          "description": "Allowed cash bonus option<br>1 - Get it now<br>2 - Pay with cash bonus premium<br>3 - There is an insurance company account",
          "items": {
            "type": "string"
          }
        },
        "cashBonusUnitAmount": {
          "type": "number",
          "format": "double",
          "description": "Cash bonus unit"
        },
        "cashBonusVestYear": {
          "type": "integer",
          "format": "int32",
          "description": "Cash bonus must stay in the insurance company after years of investment before they can receive"
        }
      }
    },
    "PremiumLimit": {
      "type": "object",
      "properties": {
        "chargePeriod": {
          "type": "string",
          "description": "Premium limites related factor: charge period"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "description": "Premium limites related factor: charge year"
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "description": "Premium limites related factor: currency"
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "Premium limites related factor: maximum age"
        },
        "maxPrem": {
          "type": "integer",
          "format": "int64",
          "description": "Premium limites related factor: maximum premium"
        },
        "minAge": {
          "type": "integer",
          "format": "int32",
          "description": "Premium limites related factor: minium age"
        },
        "minPrem": {
          "type": "integer",
          "format": "int64",
          "description": "Premium limites related factor: minium premium"
        },
        "paymentFrequency": {
          "type": "string",
          "description": "Premium limites related factor: payment frequency"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "Premium limites related factor: payment method"
        }
      }
    },
    "CalculatePremSAResponse": {
      "type": "object",
      "properties": {
        "calculatePolicyResult": {
          "description": "Calculation result",
          "$ref": "#/definitions/CalculatePolicyResult"
        },
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CalculatePolicyResult": {
      "type": "object",
      "properties": {
        "calculateCoverageResults": {
          "type": "array",
          "description": "The detailed calculation of the results of the calculation",
          "items": {
            "$ref": "#/definitions/CalculateCoverageResult"
          }
        },
        "inceptionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Inception date"
        },
        "installPrem": {
          "type": "number",
          "format": "double",
          "description": "Install premium"
        }
      }
    },
    "PackagesResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "listBasicProductPackageInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BasicProductPackageInfo"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Annuity": {
      "type": "object",
      "properties": {
        "annuityEndPeriod": {
          "type": "string",
          "description": "Annuity payment end period type<br>1 - Few years<br>2 - Till certain age<br>3 - Whole life"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int64",
          "description": "Annuity end year or end age"
        },
        "annuityStartPeriod": {
          "type": "string",
          "description": "Annuity payment start period type<br>1 - immediately<br>2 - From the next policy anniversary date <br>3 - After few years (policy anniversary date)<br>4 - From the birthday"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int64",
          "description": "Annuity start year or start age"
        },
        "extFields": {
          "type": "object",
          "description": "Extended field"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        }
      }
    },
    "ProductResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "productInfo": {
          "description": "Product details",
          "$ref": "#/definitions/ProductInfo"
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ProductPremiumResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "productCode": {
          "type": "string",
          "description": "Product code"
        },
        "productPremium": {
          "description": "Premium limit enquire result",
          "$ref": "#/definitions/ProductPremium"
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "TermLimit": {
      "type": "object",
      "properties": {
        "annuityEndPeriod": {
          "type": "string",
          "description": "Annuity payment end period"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "description": "Annuity payment end year"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "description": "Annuity guarentee pay year"
        },
        "annuityStartPeriod": {
          "type": "string",
          "description": "Annuity payment end period"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "description": "Annuity payment end year"
        },
        "chargePeriod": {
          "type": "string",
          "description": "Charge period"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "description": "Charge year"
        },
        "coveragePeriod": {
          "type": "string",
          "description": "Coverage period"
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "description": "Coverage year"
        }
      }
    },
    "TopupWithdrawnPlan": {
      "type": "object",
      "required": [
        "amount",
        "endYear",
        "premType",
        "startYear"
      ],
      "properties": {
        "amount": {
          "type": "number",
          "format": "double",
          "example": 100000,
          "description": "Amount"
        },
        "endYear": {
          "type": "integer",
          "format": "int64",
          "example": 5,
          "description": "Topup and withdraw plan: ending year"
        },
        "extFields": {
          "type": "object",
          "description": "Extended field"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "premType": {
          "type": "string",
          "example": "3: regular topup; 7: partial withdrawn; 4: ad-hoc topup",
          "description": "Fee type for investement product"
        },
        "startYear": {
          "type": "integer",
          "format": "int64",
          "example": 2,
          "description": "Start policy year"
        }
      }
    },
    "ProductsResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "listProductBasicInformation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductBasicInformation"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ProductRatingParametersResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "productCode": {
          "type": "string",
          "description": "Product code"
        },
        "ratingParameterType": {
          "type": "string",
          "description": "Rating relation parameter type"
        },
        "ratingParameters": {
          "type": "array",
          "description": "Rating relation parameter",
          "items": {
            "type": "string"
          }
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ProductPkgProduct": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "number",
          "format": "double"
        },
        "baseAmount": {
          "type": "number",
          "format": "double"
        },
        "benefitLevel": {
          "type": "string"
        },
        "calcMethod": {
          "type": "string"
        },
        "entityId": {
          "type": "integer",
          "format": "int64"
        },
        "freeIndi": {
          "type": "string"
        },
        "listId": {
          "type": "integer",
          "format": "int64"
        },
        "maxAmount": {
          "type": "number",
          "format": "double"
        },
        "maxPremium": {
          "type": "number",
          "format": "double"
        },
        "minAmount": {
          "type": "number",
          "format": "double"
        },
        "minPremium": {
          "type": "number",
          "format": "double"
        },
        "optional": {
          "type": "string"
        },
        "packageId": {
          "type": "integer",
          "format": "int64"
        },
        "premium": {
          "type": "number",
          "format": "double"
        },
        "premiumProportion": {
          "type": "number",
          "format": "double"
        },
        "productId": {
          "type": "integer",
          "format": "int64"
        },
        "saProportion": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "Illustrations": {
      "type": "object",
      "properties": {
        "illustrationResultList": {
          "type": "array",
          "description": "Illustration results list",
          "items": {
            "$ref": "#/definitions/IllustrationResult"
          }
        }
      }
    },
    "MainInformation": {
      "type": "object",
      "properties": {
        "currency": {
          "type": "integer",
          "format": "int32",
          "description": "Currency, non empty<br>1 - CNY"
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "Product sales end date"
        },
        "familyType": {
          "type": "string",
          "description": "Family product type"
        },
        "indexIndi": {
          "type": "string",
          "description": "Indexation indicator"
        },
        "mainPlan": {
          "type": "string",
          "description": "Whether it is the main plan"
        },
        "orgId": {
          "type": "integer",
          "format": "int64",
          "description": "The organization this product belongs to"
        },
        "productAbbreviation": {
          "type": "string",
          "description": "Product introduction"
        },
        "productCode": {
          "type": "string",
          "description": "Product code"
        },
        "productDescription": {
          "type": "string",
          "description": "Product description"
        },
        "productName": {
          "type": "string",
          "description": "Product Name"
        },
        "salesCategory": {
          "description": "Product sales category",
          "$ref": "#/definitions/ProductSalesCategory"
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Product sales start date"
        }
      }
    },
    "CalculatePremSARequest": {
      "type": "object",
      "required": [
        "calculatePolicy"
      ],
      "properties": {
        "calculatePolicy": {
          "description": "Insurance premium calculation data",
          "$ref": "#/definitions/CalculatePolicy"
        },
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ProductCoverMultiple": {
      "type": "object",
      "properties": {
        "coverMultipleItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CoverMultipleItem"
          }
        }
      }
    },
    "CoverMultipleItem": {
      "type": "object",
      "properties": {
        "ageRange": {
          "type": "string",
          "description": "Age range"
        },
        "maxValue": {
          "type": "number",
          "format": "double",
          "description": "Allowed maximum value"
        },
        "minValue": {
          "type": "number",
          "format": "double",
          "description": "Allowed minimum value"
        },
        "productCode": {
          "type": "string",
          "description": "Product code"
        },
        "termRange": {
          "type": "string",
          "description": "Term range"
        }
      }
    },
    "PackageResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "productPackageInfo": {
          "description": "Product package details",
          "$ref": "#/definitions/ProductPackageInfo"
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ProductPackageTerm": {
      "type": "object",
      "properties": {
        "chargePeriod": {
          "type": "string"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32"
        },
        "coveragePeriod": {
          "type": "string"
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32"
        },
        "entityId": {
          "type": "integer",
          "format": "int64"
        },
        "listId": {
          "type": "integer",
          "format": "int64"
        },
        "packageId": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "ProductFund": {
      "type": "object",
      "properties": {
        "bonusSettleType": {
          "type": "integer",
          "format": "int32",
          "description": "Bonus settlement type<br>1 - settle bonus with principal<br>2 - settle bonus separately"
        },
        "fundCode": {
          "type": "string",
          "description": "Fund code"
        },
        "guaranteedRateOption": {
          "type": "integer",
          "format": "int32",
          "description": "Guaranteed interest rate indicator"
        },
        "maxPartialWithdralVal": {
          "type": "integer",
          "format": "int64",
          "description": "Allowed maximum partial withdraw amount"
        },
        "maxSwitInTimes": {
          "type": "integer",
          "format": "int32",
          "description": "Allowed maximum switch in times"
        },
        "maxSwitOutTimes": {
          "type": "integer",
          "format": "int32",
          "description": "Allowed maximum switch out times"
        },
        "minPartialWithdralRemainingVal": {
          "type": "integer",
          "format": "int64",
          "description": "Allowed minimum remain value after partial withdraw"
        },
        "minPartialWithdralval": {
          "type": "integer",
          "format": "int64",
          "description": "Allowed minimum parial withdraw amount"
        },
        "minSwitOutVal": {
          "type": "integer",
          "format": "int64",
          "description": "Allowed minimum switch out amount"
        },
        "minSwitRemainVal": {
          "type": "integer",
          "format": "int64",
          "description": "Allowed minimum remain value after switch"
        },
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "Product ID"
        },
        "settleDay": {
          "type": "integer",
          "format": "int32",
          "description": "settlement day"
        },
        "settleFreq": {
          "type": "string",
          "description": "settlement freqency"
        },
        "settleMethod": {
          "type": "integer",
          "format": "int32",
          "description": "settlement method"
        },
        "settleMonth": {
          "type": "integer",
          "format": "int32",
          "description": "settlement month"
        },
        "settleRatePeriodUnit": {
          "type": "string",
          "description": "settlement period unit"
        },
        "settleSimpleCompound": {
          "type": "string",
          "description": "settlement interest, simple or compound"
        },
        "settleYearType": {
          "type": "integer",
          "format": "int32",
          "description": "settlement year type"
        },
        "switchPeriodUnit": {
          "type": "string",
          "description": "Minimum fund switch limit"
        }
      }
    },
    "LiabilityInformation": {
      "type": "object",
      "properties": {
        "categoryId": {
          "type": "integer",
          "format": "int64",
          "description": "Liability category Id"
        },
        "categoryName": {
          "type": "string",
          "description": "Liability category name"
        },
        "liabilityId": {
          "type": "integer",
          "format": "int64",
          "description": "Liability Id"
        },
        "liabilityName": {
          "type": "string",
          "description": "Liability name"
        }
      }
    },
    "TermLimitCon": {
      "type": "object",
      "required": [
        "productCode"
      ],
      "properties": {
        "annuityEndPeriod": {
          "type": "string",
          "example": "1",
          "description": "Term limit list related factor: Annuity payment end period"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "example": 10,
          "description": "Term limit list related factor: Annuity payment end year"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "Term limit list related factor: Annuity guarentee pay year"
        },
        "annuityStartPeriod": {
          "type": "string",
          "example": "1",
          "description": "Term limit list related factor: Annuity payment end period"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "example": 10,
          "description": "Term limit list related factor: Annuity payment end year"
        },
        "chargePeriod": {
          "type": "string",
          "example": "1",
          "description": "Term limit list related factor: charge period"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "Term limit list related factor: charge year"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "1",
          "description": "Term limit list related factor: coverage period"
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "Term limit list related factor: coverage year"
        },
        "extFields": {
          "type": "object",
          "description": "Extended field"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "SA limit"
        }
      }
    },
    "ProductLiability": {
      "type": "object",
      "properties": {
        "annuity": {
          "type": "boolean",
          "example": false,
          "description": "Is it annuity product"
        },
        "liabilities": {
          "type": "array",
          "description": "Product liability list",
          "items": {
            "$ref": "#/definitions/LiabilityInformation"
          }
        },
        "survivalBenefitOptions": {
          "type": "array",
          "description": "Allowed Survival Benefit Option<br>1 - Get it now<br>2 - Pay with premium for payment<br>3 - There is an insurance company account",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ProductRelationship": {
      "type": "object",
      "properties": {
        "attachRelation": {
          "type": "string",
          "description": "Product relationship: <br>N - attach"
        },
        "attachType": {
          "type": "string",
          "description": "Additional type 1 - only allowed once again 2 - allowed to attach multiple times"
        },
        "masterProductCode": {
          "type": "string",
          "description": "Main product code"
        },
        "masterProductId": {
          "type": "integer",
          "format": "int64",
          "description": "The main product Id"
        },
        "maxAthAge": {
          "type": "integer",
          "format": "int32",
          "description": "Allow the maximum age of additional"
        },
        "maxAthMastAge": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum age of attached"
        },
        "maxAttachSa2MainSaRate": {
          "type": "number",
          "format": "double",
          "description": "The maximum proportion of SA of attached product to SA of master product"
        },
        "maxAttachedSa": {
          "type": "number",
          "format": "double",
          "description": "The maximum SA of the attached product"
        },
        "maxTotalSa2MainSaRate": {
          "type": "number",
          "format": "double",
          "description": "The maximum proportion of SA of policy to SA of master product"
        },
        "minAthAge": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum age of attaching"
        },
        "minAthMastAge": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum age of attached"
        },
        "minAttachSa2MainSaRate": {
          "type": "number",
          "format": "double",
          "description": "The minimum proportion of SA of attached product to SA of master product"
        },
        "minMastSaAmount": {
          "type": "number",
          "format": "double",
          "description": "The minimum SA of master product"
        },
        "riderProductCode": {
          "type": "string",
          "description": "Rider product code"
        },
        "riderProductId": {
          "type": "integer",
          "format": "int64",
          "description": "Rider products Id"
        },
        "riderSa2MainPremRate": {
          "type": "number",
          "format": "double",
          "description": "The ratio between attached rider's SA and master product's premium"
        },
        "saNoEqual": {
          "type": "string",
          "description": "Whether the rider‘s SA can be equal to the main plan's"
        },
        "totalOverRate": {
          "type": "number",
          "format": "double",
          "description": "The maximum total SA over SA of attached plan rate"
        }
      }
    },
    "SaLimitCon": {
      "type": "object",
      "required": [
        "productCode"
      ],
      "properties": {
        "extFields": {
          "type": "object",
          "description": "Extended field"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "insuredAgeMonth": {
          "type": "integer",
          "format": "int32",
          "example": 60,
          "description": "SA limit related factor: insured age (in month)"
        },
        "occupationCode": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "SA limit related factor: occupation code"
        },
        "payMethod": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "SA limit related factor: payment method"
        },
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "Product code"
        }
      }
    },
    "ProductPremium": {
      "type": "object",
      "properties": {
        "adhocTopup": {
          "type": "array",
          "description": "投资险加费限额",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "decreasePremium": {
          "type": "array",
          "description": "投资险降低保费限额",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "decreaseRegularTopup": {
          "type": "array",
          "description": "投资险减少持续保费限额",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "increasePremium": {
          "type": "array",
          "description": "Increase premium limt",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "increaseRegularTopup": {
          "type": "array",
          "description": "投资险增加持续保费限额",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "initialPremium": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "listFundPremiumLimit": {
          "type": "array",
          "description": "投资险减基金级别限额",
          "items": {
            "$ref": "#/definitions/ProductFundPremiumLimit"
          }
        },
        "regularTopup": {
          "type": "array",
          "description": "投资险持续加费限额",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "subsequentPremium": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        }
      }
    },
    "GenericValidationResult": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "ruleType": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProductTerm": {
      "type": "object",
      "properties": {
        "listTermLimit": {
          "type": "array",
          "description": "Term limit list",
          "items": {
            "$ref": "#/definitions/TermLimit"
          }
        }
      }
    },
    "ProductSumAssured": {
      "type": "object",
      "properties": {
        "saLimit": {
          "type": "array",
          "description": "Product sum assured limit",
          "items": {
            "$ref": "#/definitions/SaLimit"
          }
        }
      }
    },
    "IllustrationResult": {
      "type": "object",
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32",
          "description": "Age"
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "Amount"
        },
        "calcType": {
          "type": "integer",
          "format": "int32",
          "description": "Calculation type"
        },
        "coverageId": {
          "type": "integer",
          "format": "int64",
          "description": "Coverage ID, integer: such as 1,2"
        },
        "fundCode": {
          "type": "string",
          "description": "Fund code"
        },
        "name": {
          "type": "string",
          "description": "Illustration name"
        },
        "orderSeq": {
          "type": "integer",
          "format": "int32",
          "description": "Sequence"
        },
        "performanceType": {
          "type": "integer",
          "format": "int32",
          "description": "Illustration type"
        },
        "policyMonth": {
          "type": "integer",
          "format": "int32",
          "description": "Policy month"
        },
        "policyYear": {
          "type": "integer",
          "format": "int32",
          "description": "Policy year"
        }
      }
    },
    "ProductInfo": {
      "type": "object",
      "properties": {
        "attachedRiders": {
          "type": "array",
          "description": "The relationship of main plan and rider",
          "items": {
            "$ref": "#/definitions/ProductRelationship"
          }
        },
        "benefitType": {
          "type": "string",
          "description": "Product benefit category<br>22 - Reimbursement medical insurance<br>23 - subsidised medical insurance<br>31 - accident insurance<br>11 - endowment insurance<br>12 - annuities insurance<br>13 - life insurance<br>14 - term insurance<br>41 - investment insurance<br>15 - mortgage insurance<br>16 - long-term care<br>17 - critical illness"
        },
        "bonus": {
          "description": "Bonus information",
          "$ref": "#/definitions/Bonus"
        },
        "liability": {
          "description": "Product liability",
          "$ref": "#/definitions/ProductLiability"
        },
        "listProductFund": {
          "type": "array",
          "description": "Fund code",
          "items": {
            "$ref": "#/definitions/ProductFund"
          }
        },
        "maininfo": {
          "description": "Product main information",
          "$ref": "#/definitions/MainInformation"
        },
        "premSaCalc": {
          "description": "Product premium calculation related information",
          "$ref": "#/definitions/PremiumSaCalculation"
        },
        "productCoverMultiple": {
          "description": "The ratio of SA and premium",
          "$ref": "#/definitions/ProductCoverMultiple"
        },
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "Product ID"
        }
      }
    },
    "ProductBasicInformation": {
      "type": "object",
      "properties": {
        "benefitType": {
          "type": "string",
          "description": "Product benefit category<br>22 - Reimbursement medical insurance<br>23 - subsidised medical insurance<br>31 - accident insurance<br>11 - endowment insurance<br>12 - annuities insurance<br>13 - life insurance<br>14 - term insurance<br>41 - investment insurance<br>15 - mortgage insurance<br>16 - long-term care<br>17 - critical illness"
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "Product end sale date"
        },
        "isMainProduct": {
          "type": "string",
          "description": "Whether it is the main plan"
        },
        "minSAOrUnit": {
          "type": "integer",
          "format": "int64",
          "description": "Minimum SA or Unit"
        },
        "productAbbr": {
          "type": "string",
          "description": "Product introduction"
        },
        "productCode": {
          "type": "string",
          "description": "Product code"
        },
        "productDescription": {
          "type": "string",
          "description": "Product description"
        },
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "Product ID"
        },
        "productName": {
          "type": "string",
          "description": "Product name"
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Product start sales date"
        }
      }
    },
    "SaLimit": {
      "type": "object",
      "properties": {
        "currency": {
          "type": "integer",
          "format": "int32",
          "description": "Currency"
        },
        "highAgeMonth": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum age allowed of the insured"
        },
        "limitUnit": {
          "type": "string",
          "description": "Insured or unit limit<br>1 - insured amount<br>2 - unit"
        },
        "lowAgeMonth": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum age allowed of the insured"
        },
        "maxAmount": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum amount, the amount of SA, or the unit"
        },
        "minAmount": {
          "type": "integer",
          "format": "int64",
          "description": "The minimum amount, the amount of SA, or the unit"
        },
        "occupationCode": {
          "type": "integer",
          "format": "int32",
          "description": "Occupation code"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "Payment method"
        }
      }
    },
    "BasicProductPackageInfo": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Product package description"
        },
        "moneyId": {
          "type": "integer",
          "format": "int64",
          "description": "Product package's currency"
        },
        "packageCode": {
          "type": "string",
          "description": "Product package code"
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "Product package Id"
        },
        "packageName": {
          "type": "string",
          "description": "Product package name"
        }
      }
    },
    "PremiumLimitCon": {
      "type": "object",
      "required": [
        "productCode"
      ],
      "properties": {
        "chargePeriod": {
          "type": "string",
          "example": "1",
          "description": "Premium limites related factor: charge period"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "Premium limites related factor: charge year"
        },
        "extFields": {
          "type": "object",
          "description": "Extended field"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "insuredAge": {
          "type": "integer",
          "format": "int32",
          "example": 50,
          "description": "Premium limites related factor: insured age"
        },
        "payMode": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Premium limites related factor: payment method"
        },
        "premiumFrequency": {
          "type": "string",
          "example": "1",
          "description": "Premium limites related factor: payment frequency"
        },
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "Product code"
        }
      }
    },
    "ProductPkgProductMatrix": {
      "type": "object",
      "properties": {
        "attachId": {
          "type": "integer",
          "format": "int64",
          "description": "Rider product id"
        },
        "attachMode": {
          "type": "string",
          "description": "Product relationship type: <br>1 - 共存关系<br>2 - 依赖关系<br>3 - 互斥关系"
        },
        "entityId": {
          "type": "integer",
          "format": "int64"
        },
        "listId": {
          "type": "integer",
          "format": "int64",
          "description": "List id"
        },
        "masterId": {
          "type": "integer",
          "format": "int64",
          "description": "Master product Id"
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "Product package Id"
        }
      }
    },
    "ProductSalesCategory": {
      "type": "object",
      "properties": {
        "categoryCode": {
          "type": "string",
          "description": "Product sales category code"
        },
        "categoryId": {
          "type": "integer",
          "format": "int32",
          "description": "Product sales category Id"
        },
        "categoryName": {
          "type": "string",
          "description": "Product sales category name"
        },
        "description": {
          "type": "string",
          "description": "Product sales category description"
        },
        "displayOrder": {
          "type": "integer",
          "format": "int32",
          "description": "Display order"
        },
        "entityIdName": {
          "type": "string"
        },
        "identifier": {
          "$ref": "#/definitions/Serializable"
        },
        "parentCateId": {
          "type": "string",
          "description": "Product sales category's parent category Id"
        }
      }
    },
    "ProductAgeResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "productAge": {
          "description": "Policy holder's age range",
          "$ref": "#/definitions/ProductAge"
        },
        "productCode": {
          "type": "string",
          "description": "Product code"
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "PremiumSaCalculation": {
      "type": "object",
      "properties": {
        "ageBase": {
          "type": "string",
          "description": "Age calculation method<br>1 - according to the age of insurance<br>2 - according to the year of the annual anniversary of the policy"
        },
        "premiumFrequency": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unitFlag": {
          "type": "string",
          "description": "Premiums calculation method<br>0 - premium/SA by the user input<br>1 - products sold by the unit<br>2 - calculate premiums base on sum assured, but also allows the agreement premium<br>3 - products sold under the plan or unit<br>4 - products are only allowed to sell according to plan<br>5 - according to the premium , But also allow the agreement premium<br>6 - only to allow the sum assured to premium but also allow the agreement premium<br>7 - only allow premiums to sum assured<br>8 - both sum assured to premium or sum assured to premium"
        },
        "waiver": {
          "type": "boolean",
          "example": false,
          "description": "Whether it is a waiver plan"
        }
      }
    },
    "CalculateCoverage": {
      "type": "object",
      "required": [
        "calculatePremium",
        "coverageId",
        "coveragePeriod",
        "insureds",
        "productCode"
      ],
      "properties": {
        "annuity": {
          "description": "Annuity information",
          "$ref": "#/definitions/Annuity"
        },
        "calculatePremium": {
          "description": "Product premium calculation related factory",
          "$ref": "#/definitions/CalculatePremium"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "Charge period type<br>1 - Single payment<br>2 - pay next few years<br>3 - pay till a certain age<br>4 - pay for whole life<br>If the product supports payment peroid, this field is compulsory",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "Payment period<br>When payment period type = 1, the field is meaningless<br>When payment period type = 2, this field represents years<br>When payment period type = 3, this field represents the age<br>When payment period type = 4, this field represents months"
        },
        "coverageId": {
          "type": "integer",
          "format": "int64",
          "example": 1,
          "description": "Coverage ID, integer: such as 1,2"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "Coverage type<br>1 - whole life<br>2 - per year<br>3 - Cover to a certain age<br>4 - per month<br>5 - per day",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "Coverage period<br>When coverage period type = 1, the field is meaningless<br>When coverage period type = 2, this field represents years<br>When coverage period type = 3, this field represents the age<br>When coverage period type = 4, this field represents months"
        },
        "extFields": {
          "type": "object",
          "description": "Extended field"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "funds": {
          "type": "array",
          "description": "Fund list",
          "items": {
            "$ref": "#/definitions/CalculateFund"
          }
        },
        "insureds": {
          "type": "array",
          "description": "Product premium calculation, insured related information",
          "items": {
            "$ref": "#/definitions/CalculateInsured"
          }
        },
        "masterCoverageId": {
          "type": "integer",
          "format": "int64",
          "example": 1,
          "description": "Master coverage ID, for master coverage, this should be empty; for non-master coverage, this should be its master coverage id"
        },
        "productCode": {
          "type": "string",
          "example": "0170",
          "description": "Product code"
        },
        "topupWithdrawns": {
          "type": "array",
          "description": "Topup and withdraw plan",
          "items": {
            "$ref": "#/definitions/TopupWithdrawnPlan"
          }
        },
        "waivedSa": {
          "type": "number",
          "format": "double",
          "example": 100000,
          "description": "Waived SA, only apply to the waiver product"
        }
      }
    },
    "CalculateCoverageResult": {
      "type": "object",
      "properties": {
        "coverageId": {
          "type": "integer",
          "format": "int64",
          "description": "Inputed coverage code"
        },
        "extraPrem": {
          "type": "number",
          "format": "double",
          "description": "Extra premium"
        },
        "productCode": {
          "type": "string",
          "description": "Product code for calculation"
        },
        "sumAssured": {
          "type": "number",
          "format": "double",
          "description": "Sum assured (SA)"
        },
        "totalPremAf": {
          "type": "number",
          "format": "double",
          "description": "Total premium"
        },
        "unit": {
          "type": "integer",
          "format": "int32",
          "description": "Total unit"
        }
      }
    },
    "ProductAge": {
      "type": "object",
      "properties": {
        "insuredAge": {
          "type": "array",
          "description": "The age limit of the insured person",
          "items": {
            "$ref": "#/definitions/AgeLimit"
          }
        },
        "policyHolderAge": {
          "type": "array",
          "description": "Policy holder's age range",
          "items": {
            "$ref": "#/definitions/AgeLimit"
          }
        }
      }
    },
    "IllustrationResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "illustrations": {
          "description": "Illustration results",
          "$ref": "#/definitions/Illustrations"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Policy": {
      "type": "object",
      "properties": {
        "applyDate": {
          "type": "string",
          "format": "date-time",
          "description": "Application date, non-empty, date format: yyyy-MM-dd'T'HH:mm:ss"
        },
        "beneficiaries": {
          "type": "array",
          "description": "List of beneficiaries",
          "items": {
            "$ref": "#/definitions/Beneficiary"
          }
        },
        "brokerCode": {
          "type": "string",
          "example": "ebao",
          "description": "Broker code"
        },
        "contractorCode": {
          "type": "string",
          "example": "ebao",
          "description": "Contractor code"
        },
        "coverages": {
          "type": "array",
          "description": "Policy's coverage list",
          "items": {
            "$ref": "#/definitions/Coverage"
          }
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Currency, non empty<br>1 - CNY",
          "enum": [
            1
          ]
        },
        "customers": {
          "type": "array",
          "description": "Policy customer list",
          "items": {
            "$ref": "#/definitions/PolicyCustomer"
          }
        },
        "declarations": {
          "type": "array",
          "description": "Customer declaration list",
          "items": {
            "$ref": "#/definitions/CustomerDeclaration"
          }
        },
        "deliverType": {
          "type": "string",
          "example": "M",
          "description": "Policy delivery method<br>H - by people<br>M - by mail",
          "enum": [
            "H",
            "M"
          ]
        },
        "ePolicyDownloadUrl": {
          "type": "string",
          "description": "Electronic policy download address"
        },
        "expiryDate": {
          "type": "string",
          "format": "date-time",
          "description": "Termination date, date format: yyyy-MM-dd'T'HH:mm:ss"
        },
        "extendedProps": {
          "type": "object",
          "description": "Extended information, Map type, Key / Value, should be character",
          "additionalProperties": {
            "type": "string"
          }
        },
        "groupProposalNumber": {
          "type": "string",
          "description": "Group proposal No."
        },
        "inceptionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Policy effective date, date format: yyyy-MM-dd'T'HH:mm:ss"
        },
        "installPrem": {
          "type": "number",
          "format": "double",
          "description": "Policy premium"
        },
        "insureds": {
          "type": "array",
          "description": "Policy issured list",
          "items": {
            "$ref": "#/definitions/Insured"
          }
        },
        "insurerCode": {
          "type": "string",
          "description": "Insurance company code"
        },
        "issueDate": {
          "type": "string",
          "format": "date-time",
          "description": "Policy issue date, date format: yyyy-MM-dd'T'HH:mm:ss"
        },
        "payerAccounts": {
          "type": "array",
          "description": "Payment method list",
          "items": {
            "$ref": "#/definitions/PayerAccount"
          }
        },
        "payers": {
          "type": "array",
          "description": "Payer list",
          "items": {
            "$ref": "#/definitions/Payer"
          }
        },
        "policyHolder": {
          "description": "Policy holder",
          "$ref": "#/definitions/PolicyHolder"
        },
        "policyId": {
          "type": "string",
          "description": "Policy internal serial number, UUID type",
          "readOnly": true
        },
        "policyNumber": {
          "type": "string",
          "description": "Policy number"
        },
        "policyPackage": {
          "description": "Product package",
          "$ref": "#/definitions/PolicyPackage"
        },
        "policyType": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Policy type<br>1 - Individual policy<br>2 - Group policy<br>3 - Bancassurance",
          "enum": [
            1,
            2,
            3
          ]
        },
        "preprintedProposalNumber": {
          "type": "string",
          "description": "Pre-printed proposal number"
        },
        "proposalNumber": {
          "type": "string",
          "description": "Proposal number"
        },
        "quotationCode": {
          "type": "string",
          "description": "Quotation calculation request number"
        },
        "riskStatus": {
          "type": "integer",
          "format": "int32",
          "description": "Policy status<br>0 - not inforce<br>1 - inforce<br>2 - lapsed<br>3 - terminated",
          "readOnly": true
        },
        "salesChannelCode": {
          "type": "string",
          "description": "Sales channel code"
        },
        "serviceAgentCode": {
          "type": "string",
          "description": "Policy agent code"
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date of submission, date format: yyyy-MM-dd'T'HH:mm:ss"
        },
        "tenantCode": {
          "type": "string",
          "example": "GUEST",
          "description": "Tenant code"
        },
        "trustees": {
          "type": "array",
          "description": "List of trustees",
          "items": {
            "$ref": "#/definitions/Trustee"
          }
        }
      }
    },
    "PremInvestRate": {
      "type": "object",
      "properties": {
        "addPremId": {
          "type": "string",
          "description": "Add premium ID, UUID type",
          "readOnly": true
        },
        "assignRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "Fund assign ratio"
        },
        "coverageId": {
          "type": "string",
          "description": "Insurance coverage(benefit) ID, UUID type",
          "readOnly": true
        },
        "extendedProps": {
          "type": "object",
          "description": "Extended information, Map type, Key / Value, should be character",
          "additionalProperties": {
            "type": "string"
          }
        },
        "fundCode": {
          "type": "string",
          "example": "F001",
          "description": "Fund code"
        },
        "listId": {
          "type": "string",
          "description": "Insurance type insured internal serial number, UUID type",
          "readOnly": true
        },
        "policyId": {
          "type": "string",
          "description": "Policy internal serial number, UUID type",
          "readOnly": true
        }
      }
    },
    "PolicyPackage": {
      "type": "object",
      "properties": {
        "packageCode": {
          "type": "string",
          "description": "Product package code"
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "Product package of internal serial number",
          "readOnly": true
        },
        "unit": {
          "type": "number",
          "format": "double",
          "description": "Product package unit, the default is 1"
        }
      }
    },
    "QuotationResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "External transaction serial number"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "External client request time"
        },
        "exceptions": {
          "type": "array",
          "description": "Exception information:",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "description": "Business failure reason description list node",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "policy": {
          "description": "Policy",
          "$ref": "#/definitions/QuotationPolicyResult"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "Request result<br>1 - business success<br>0 - business failure<br>-1 - application exception"
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "address1": {
          "type": "string",
          "example": "上海市",
          "description": "Province"
        },
        "address2": {
          "type": "string",
          "example": "上海市",
          "description": "City"
        },
        "address3": {
          "type": "string",
          "example": "杨浦区",
          "description": "District"
        },
        "address4": {
          "type": "string",
          "example": "淞沪路270号创智天地3号楼3楼",
          "description": "Address"
        },
        "addressId": {
          "type": "string",
          "description": "Address internal serial number, UUID type",
          "readOnly": true
        },
        "postCode": {
          "type": "string",
          "example": "200433",
          "description": "Post code"
        }
      }
    },
    "CoverageInsuredInput": {
      "type": "object",
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32",
          "example": 25,
          "description": "Age"
        },
        "extendedProps": {
          "type": "object",
          "description": "Extended information, Map type, Key / Value, should be character",
          "additionalProperties": {
            "type": "string"
          }
        },
        "occupationClass": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Occupation level"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Insurance type of the insured person, the default is 1, if one plan applied by more than one insured (family policy or personal risk), the value is greater than 1"
        },
        "partySerialId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Insured customer temporary number, request within the use of a unique identification request within a party"
        }
      }
    },
    "AddressInput": {
      "type": "object",
      "properties": {
        "address1": {
          "type": "string",
          "example": "上海市",
          "description": "Province"
        },
        "address2": {
          "type": "string",
          "example": "上海市",
          "description": "City"
        },
        "address3": {
          "type": "string",
          "example": "杨浦区",
          "description": "District"
        },
        "address4": {
          "type": "string",
          "example": "淞沪路270号创智天地3号楼3楼",
          "description": "Address"
        },
        "postCode": {
          "type": "string",
          "example": "200433",
          "description": "Post code"
        }
      }
    },
    "InsuredInput": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "description": "Extended information, Map type, Key / Value, should be character",
          "additionalProperties": {
            "type": "string"
          }
        },
        "medicalIndi": {
          "type": "string",
          "example": "Y",
          "description": "Whether there is medical insurance coverage<br>Y - yes<br>N - no",
          "enum": [
            "Y",
            "N"
          ]
        },
        "partySerialId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Customer temporary number, internal usage. Unique identify the customer for one request"
        },
        "relationToPH": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "The relationship between the insured and the insured, integer type<br>1 - self<br>2 - child<br>3 - spouse<br>10 - parent<br>7 - others",
          "enum": [
            1,
            2,
            3,
            10,
            4,
            7
          ]
        },
        "socialSecurityIndi": {
          "type": "string",
          "example": "Y",
          "description": "Whether there is social medical insurance coverage<br>Y - yes<br>N - no",
          "enum": [
            "Y",
            "N"
          ]
        }
      }
    },
    "PayerAccount": {
      "type": "object",
      "properties": {
        "bankAccount": {
          "description": "The first premium bank account",
          "$ref": "#/definitions/BankAccount"
        },
        "extendedProps": {
          "type": "object",
          "description": "Extended information, Map type, Key / Value, should be character",
          "additionalProperties": {
            "type": "string"
          }
        },
        "listId": {
          "type": "string",
          "description": "Policy customer internal serial number, UUID type",
          "readOnly": true
        },
        "nextBankAccount": {
          "description": "Renewal premium bank account",
          "$ref": "#/definitions/BankAccount"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "example": 3,
          "description": "First time payment method, integer<br>1 - cash<br>2 - check<br>3 - bank transfer<br>30 - credit card",
          "enum": [
            1,
            2,
            3,
            30,
            80
          ]
        },
        "paymentMethodNext": {
          "type": "integer",
          "format": "int32",
          "example": 3,
          "description": "Renewal payment method, integer<br>1 - cash<br>2 - check<br>3 - bank transfer<br>30 - credit card",
          "enum": [
            1,
            2,
            3,
            30,
            80
          ]
        },
        "policyId": {
          "type": "string",
          "description": "Policy internal serial number, UUID type",
          "readOnly": true
        }
      }
    },
    "PayPlanInput": {
      "type": "object",
      "properties": {
        "endPeriod": {
          "type": "string",
          "example": "3",
          "description": "Year to receive the type of annuity, the type of annuity / variable annuity / GMWB should not be empty<br>1 to receive a fixed number of years<br>2 to receive till a certain age<br>3 - receive whole life",
          "enum": [
            "1",
            "2",
            "3"
          ]
        },
        "endYear": {
          "type": "integer",
          "format": "int32",
          "description": "The number of payment years"
        },
        "extendedProps": {
          "type": "object",
          "description": "Extended information, Map type, Key / Value, should be character",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gurntPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Annuity guarantee period (years or age)"
        },
        "payOption": {
          "type": "string",
          "example": "1",
          "description": "The annuity receive payment options<br>1 - to receive payment by cash<br>2 - to pay premium<br>3 - accumulated interest<br>4 - accumulated interest x years after the transfer to pay premium<br>5 - to buy an additional payment of rider",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "payOptionTerm": {
          "type": "integer",
          "format": "int32",
          "description": "Years, only when payOption is 4, this field has value, for others are empty"
        },
        "payPeriod": {
          "type": "string",
          "example": "3",
          "description": "The annuity begins to receive the type of period<br>1 - is immediately received<br>2 - till a certain age to receive<br>3 - years after the collection<br>4 - after a certain age to receive",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "payYear": {
          "type": "integer",
          "format": "int32",
          "description": "The annuity begins to receive the period (years or age)"
        },
        "planFreq": {
          "type": "string",
          "example": "1",
          "description": "To receive frequency<br>1 - yearly<br>2 - half yearly<br>3 - quarterly <br>4 - monthly<br>5 - single",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "planType": {
          "type": "string",
          "example": "1",
          "description": "Payment plan type<br>1 - cash payment<br>2 - annuity<br>3 - survival benefit<br>4 - maturity  5 - GMWB (guaranteed minimum benefit)<br>6 - variable annuity<br>7 - partial surrender<br>8 - SA dividends",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8"
          ]
        }
      }
    },
    "CoverageInput": {
      "type": "object",
      "properties": {
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "Payment period type, non-empty<br>1 - single<br>2 - per year<br>3 to a certain age<br>4 - whole life",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "Payment period, non-empty<br>0 - single;<br>by age: till which age or to pay the payment period: the pay years;<br>whole life is 100"
        },
        "coverageAgents": {
          "type": "array",
          "description": "List of performance sharing of agent",
          "items": {
            "$ref": "#/definitions/CoverageAgentInput"
          }
        },
        "coveragePeriod": {
          "type": "string",
          "example": "1",
          "description": "Coverage type<br>1 - whole life<br>2 - per year<br>3 - Cover to a certain age<br>4 - per month<br>5 - per day",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "coverageSeriaId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Plan internal serial number, the request within the use of a unique identification within a certain kind of insurance"
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "description": "Coverage Term. Meaning of this property is associated with property \"coveragePeriod\" (\"type\" for short). when covers whole life, value of this property is 9999;<br>and if type is 2, means years covered;<br>and if type is 3, means age when coverage expired;<br>and if type is 4, means months covered;<br>and if type is 5, means days covered."
        },
        "currentPremium": {
          "description": "The current period premium",
          "$ref": "#/definitions/CoveragePremium"
        },
        "extendedProps": {
          "type": "object",
          "description": "Extended information, Map type, Key / Value, should be character",
          "additionalProperties": {
            "type": "string"
          }
        },
        "insureds": {
          "type": "array",
          "description": "List of insured",
          "items": {
            "$ref": "#/definitions/CoverageInsuredInput"
          }
        },
        "masterCoverageSerialId": {
          "type": "integer",
          "format": "int32",
          "description": "Temporary main plan serial number, the current insurance for the main plan is empty, for the rider to be filled into the main insurance of the serial number"
        },
        "payPlans": {
          "type": "array",
          "description": "Payment plan list",
          "items": {
            "$ref": "#/definitions/PayPlanInput"
          }
        },
        "premInvestRates": {
          "type": "array",
          "description": "The ratio of premium and investment amount",
          "items": {
            "$ref": "#/definitions/ContractInvestRateInput"
          }
        },
        "productCode": {
          "type": "string",
          "description": "Product code"
        },
        "recurringTopup": {
          "description": "Recurring topup",
          "$ref": "#/definitions/RecurringTopupInput"
        },
        "singleTopup": {
          "description": "Single topup",
          "$ref": "#/definitions/SingleTopupInput"
        },
        "waiverExt": {
          "description": "Waiver plan information",
          "$ref": "#/definitions/CoverageExtWaiverInput"
        }
      }
    },
    "PolicyCustomerInput": {
      "type": "object",
      "properties": {
        "address": {
          "description": "Customer address",
          "$ref": "#/definitions/AddressInput"
        },
        "extendedProps": {
          "type": "object",
          "description": "Extended information, Map type, Key / Value, should be character",
          "additionalProperties": {
            "type": "string"
          }
        },
        "organization": {
          "description": "Organization customer information",
          "$ref": "#/definitions/Organization"
        },
        "partyContact": {
          "description": "Party contact information",
          "$ref": "#/definitions/PartyContact"
        },
        "partySerialId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Customer temporary number, internal usage. Unique identify the customer for one request"
        },
        "partyType": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "The type of the party<br>1 - the personal party<br>2 - organization",
          "enum": [
            1,
            2
          ]
        },
        "person": {
          "description": "Personal customer information",
          "$ref": "#/definitions/Person"
        }
      }
    },
    "PayPlan": {
      "type": "object",
      "properties": {
        "coverageId": {
          "type": "string",
          "description": "Insurance coverage(benefit) ID, UUID type",
          "readOnly": true
        },
        "endPeriod": {
          "type": "string",
          "example": "3",
          "description": "Year to receive the type of annuity, the type of annuity / variable annuity / GMWB should not be empty<br>1 to receive a fixed number of years<br>2 to receive till a certain age<br>3 - receive whole life",
          "enum": [
            "1",
            "2",
            "3"
          ]
        },
        "endYear": {
          "type": "integer",
          "format": "int32",
          "description": "The number of payment years"
        },
        "extendedProps": {
          "type": "object",
          "description": "Extended information, Map type, Key / Value, should be character",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gurntPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "Annuity guarantee period (years or age)"
        },
        "payOption": {
          "type": "string",
          "example": "1",
[...]
