{
  "swagger": "2.0",
  "info": {
    "version": "0.9.5",
    "title": "eBaoCould LI OpenAPI",
    "description": "This document is the API specification for the eBaoCloud Life part. To practice and run the APIs in this document, you need to apply a eBaoCloud tenant accout(start from a sandbox account instead of produciton) first.<br>\nContact liliang.zhu@ebaotech.com for more information and trail using.\n\n# Built on\nMon Sep 11 2017, 15:48:09 +08:00\n\n# Versioning\nAPI version| Date  |Comments\n--|---|--\n0.5  | 2017-06-13  | Init version\n0.6  | 2017-06-19  | Add new category and readme\n0.6.5 | 2017-06-29  | oauth2 document, chinese version document\n0.8  | 2017-07-07  | oauth2 lanuch\n0.8.5 | 2017-07-31 | Enhancement in product services\n0.9 | 2017-08-25 | Add limits related APIs (age, premium / SA and term )\n0.9.5 | 2017-09-05 | Add new service for e-policy downloading\n\n# Authentication\n\n## Overview\n\neBaoCloud offers 3rd party applications the ability to issue authenticated requests on behalf of the eBaoCloud itself. eBaoCloud's implementation is based on the [Client Credentials Grant](http://tools.ietf.org/html/rfc6749#section-4.4) flow of the [oauth 2 specification](http://tools.ietf.org/html/rfc6749).\n\n## Auth Flow\n\nThe oauth2 / token authentication flow follows these 3 major steps:\n\n1. An application (backend) encodes its consumer key and secret (provided by eBaoCloud as an authorized vender) into a specially encoded set of credentials.\n2. An application (backend) makes a request to the POST oauth2 / token endpoint to exchange these credentials for a bearer token.\n3. When accessing the REST API, the application (the APP or website) uses the bearer token to authenticate.\n\n![Auth Flow](/assets/oauth.png)\n\n## Step by step\n\n* Send request to auth end point\n\n```js\nPOST: /cas/ebao/v1/json/tickets\nBody: {\"username\":\"name\", \"password\":\"pwd\"}\nResponse: {\"access_token\": \"xxxx\"}\n```\n\n* Send request with access_token in header\n\n```js\nPOST: /rest/products\nHeader: {\n  \"authorization\":\"Bearer \"+access_token,\n  \"X-ebao-tenant-id\": \"tenant-id\"\n}\n```\n\n## End Points\n\n| | Sandbox | Production |\n| :--- | :--- | :--- |\n| auth / take token | [https://sandbox.ebaocloud.com.cn/cas/ebao/v1/json/tickets](https://sandbox.ebaocloud.com.cn/cas/ebao/v1/json/tickets) | [https://ebaocloud.com.cn/cas/ebao/v1/json/tickets](https://ebaocloud.com.cn/cas/ebao/v1/json/tickets) |\n| APIs | [https://sandbox.gw.ebaocloud.com.cn/li/eBao/1/](https://sandbox.gw.ebaocloud.com.cn/li/eBao/1/) | [https://gw.ebaocloud.com.cn/li/eBao/1/](https://gw.ebaocloud.com.cn/li/eBao/1/)|\n\n\n## Sample\n\n#### Request auth from application\n\n```bash\ncurl --request POST \\\n  --url https://url/cas/ebao/v1/json/tickets \\\n  --header 'content-type: application/json' \\\n  --header 'X-ebao-tenant-id: tenant-id' \\\n  --data '{\\n \\n \"username\":\"site.admin\",\\n \"password\":\"adminPWD!\"\\n}'\n```\n\nNote:\n. the **X-ebao-tenant-id** is the unique id provided by eBaoCloud to identify the tenant.\n. the **username** and **password** are provided by eBaoCloud when you registered as an authorized vendor.\n\n\n#### Response from API GateWay\n\n* Success\n\n```js\n{\n\"access_token\" : \"TGT-233-e7Zuc5FlSAa0SShO3B1f2iugYzRQGQrSSoGwAi0VnWbnBNDwHg\"\n}\n```\n\n* Failed\n\n```js\n{\n\"access_token\" : null\n}\n```\n\n#### App call (Java code sample)\n\n```java\nHttpResponse<String> response = Unirest.post(url) // url：the UAT/product URL\n  .header(\"content-type\", \"application/json\") // application/json\n  .header(\"authorization\", \"Bearer \" + accessToken) // oauth2 access token：the accessToken\n  .header(\"X-ebao-tenant-id\", \"tenant-id\")\n  .body(body) // body: http body\n  .asString();\n```\n\n## Others\n\n### Tokens are passwords\n\nKeep in mind that the consumer key & secret, bearer token credentials, and the bearer token itself grant access to make requests on behalf of an application. These values should be considered as sensitive as passwords, and must not be shared or distributed to untrusted parties.\n\n### SSL required\n\nAll requests (both to obtain and use the tokens) **must use** HTTPS endpoints.\n"
  },
  "host": "sandbox.api.li.ebaocloud.com.cn",
  "basePath": "/rest",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "tags": [
    {
      "name": "Product"
    },
    {
      "name": "Proposal"
    }
  ],
  "definitions": {
    "SalesCategoryResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "listSalesCategory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductSalesCategory"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Serializable": {
      "type": "object"
    },
    "ProductSumAssuredResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "productCode": {
          "type": "string",
          "description": "definitions.ProductSumAssuredResponse.properties.productCode.description"
        },
        "productSumAssured": {
          "description": "definitions.ProductSumAssuredResponse.properties.productSumAssured.description",
          "$ref": "#/definitions/ProductSumAssured"
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CalculateInsured": {
      "type": "object",
      "required": [
        "gender",
        "orderId"
      ],
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32",
          "example": 17,
          "description": "definitions.CalculateInsured.properties.age.description"
        },
        "birthdate": {
          "type": "string",
          "example": "1999-10-16",
          "description": "definitions.CalculateInsured.properties.birthdate.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.CalculateInsured.properties.extFields.description"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "gender": {
          "type": "string",
          "example": "M",
          "description": "definitions.CalculateInsured.properties.gender.description",
          "enum": [
            "M",
            "F"
          ]
        },
        "medicalIndi": {
          "type": "string",
          "example": "Y",
          "description": "definitions.CalculateInsured.properties.medicalIndi.description",
          "enum": [
            "Y",
            "N"
          ]
        },
        "occupationClass": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.CalculateInsured.properties.occupationClass.description"
        },
        "occupationCode": {
          "type": "integer",
          "format": "int32",
          "example": 10001,
          "description": "definitions.CalculateInsured.properties.occupationCode.description"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.CalculateInsured.properties.orderId.description"
        },
        "smoking": {
          "type": "string",
          "example": "Y",
          "description": "definitions.CalculateInsured.properties.smoking.description",
          "enum": [
            "Y",
            "N"
          ]
        },
        "socialSecurityIndi": {
          "type": "string",
          "example": "Y",
          "description": "definitions.CalculateInsured.properties.socialSecurityIndi.description",
          "enum": [
            "Y",
            "N"
          ]
        }
      }
    },
    "CalculateFund": {
      "type": "object",
      "required": [
        "assignRate",
        "fundCode",
        "premType"
      ],
      "properties": {
        "assignRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "definitions.CalculateFund.properties.assignRate.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.CalculateFund.properties.extFields.description"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "fundCode": {
          "type": "string",
          "example": "F001",
          "description": "definitions.CalculateFund.properties.fundCode.description"
        },
        "premType": {
          "type": "string",
          "example": "2: regular premium; 3: regular topup; 4: ad-hoc topup",
          "description": "definitions.CalculateFund.properties.premType.description"
        }
      }
    },
    "ValidationResult": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "ruleType": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProductPackageInfo": {
      "type": "object",
      "properties": {
        "baseAmount": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.baseAmount.description"
        },
        "description": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.description.description"
        },
        "entityId": {
          "type": "integer",
          "format": "int64"
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductPackageInfo.properties.maxAge.description"
        },
        "maxAgeUnit": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.maxAgeUnit.description"
        },
        "maxAmount": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.maxAmount.description"
        },
        "maxPhAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductPackageInfo.properties.maxPhAge.description"
        },
        "maxPremium": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.maxPremium.description"
        },
        "minAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductPackageInfo.properties.minAge.description"
        },
        "minAgeUnit": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.minAgeUnit.description"
        },
        "minAmount": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.minAmount.description"
        },
        "minPhAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductPackageInfo.properties.minPhAge.description"
        },
        "minPremium": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.minPremium.description"
        },
        "moneyId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.moneyId.description"
        },
        "packageCode": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.packageCode.description"
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.packageId.description"
        },
        "packageName": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.packageName.description"
        },
        "pricingMethod": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.pricingMethod.description"
        },
        "productPkgProductMatrixs": {
          "type": "array",
          "description": "definitions.ProductPackageInfo.properties.productPkgProductMatrixs.description",
          "items": {
            "$ref": "#/definitions/ProductPkgProductMatrix"
          }
        },
        "productPkgProducts": {
          "type": "array",
          "description": "definitions.ProductPackageInfo.properties.productPkgProducts.description",
          "items": {
            "$ref": "#/definitions/ProductPkgProduct"
          }
        },
        "productPkgTerms": {
          "type": "array",
          "description": "definitions.ProductPackageInfo.properties.productPkgTerms.description",
          "items": {
            "$ref": "#/definitions/ProductPackageTerm"
          }
        },
        "specialClause": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.specialClause.description"
        },
        "unitAmount": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.unitAmount.description"
        },
        "unitPremium": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.unitPremium.description"
        }
      }
    },
    "ProductTermResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "productCode": {
          "type": "string",
          "description": "definitions.ProductTermResponse.properties.productCode.description"
        },
        "productTerm": {
          "description": "definitions.ProductTermResponse.properties.productTerm.description",
          "$ref": "#/definitions/ProductTerm"
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CalculatePremium": {
      "type": "object",
      "required": [
        "paymentFreq"
      ],
      "properties": {
        "benefitLevel": {
          "type": "string",
          "example": "1",
          "description": "definitions.CalculatePremium.properties.benefitLevel.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.CalculatePremium.properties.extFields.description"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "paymentFreq": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.CalculatePremium.properties.paymentFreq.description",
          "enum": [
            1,
            2,
            3,
            4,
            5
          ]
        },
        "premium": {
          "type": "number",
          "format": "double",
          "example": 2000,
          "description": "definitions.CalculatePremium.properties.premium.description"
        },
        "sumAssured": {
          "type": "number",
          "format": "double",
          "example": 1000000,
          "description": "definitions.CalculatePremium.properties.sumAssured.description"
        },
        "unit": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.CalculatePremium.properties.unit.description"
        }
      }
    },
    "ProductFundPremiumLimit": {
      "type": "object",
      "properties": {
        "fundCode": {
          "type": "string",
          "description": "definitions.ProductFundPremiumLimit.properties.fundCode.description"
        },
        "maxInitialPrem": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFundPremiumLimit.properties.maxInitialPrem.description"
        },
        "minAdhocTopupPrem": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFundPremiumLimit.properties.minAdhocTopupPrem.description"
        },
        "minInitialPrem": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFundPremiumLimit.properties.minInitialPrem.description"
        },
        "minRegulaTopupPrem": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFundPremiumLimit.properties.minRegulaTopupPrem.description"
        },
        "paymentFrequency": {
          "type": "string",
          "description": "definitions.ProductFundPremiumLimit.properties.paymentFrequency.description"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFundPremiumLimit.properties.paymentMethod.description"
        }
      }
    },
    "AgeLimit": {
      "type": "object",
      "properties": {
        "ageUnit": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.ageUnit.description"
        },
        "annuityEndPeriod": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.annuityEndPeriod.description"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.annuityEndYear.description"
        },
        "annuityEndYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.annuityEndYearMax.description"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.annuityPayEnsure.description"
        },
        "annuityStartPeriod": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.annuityStartPeriod.description"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.annuityStartYear.description"
        },
        "annuityStartYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.annuityStartYearMax.description"
        },
        "benefitLevel": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.benefitLevel.description"
        },
        "chargePeriod": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.chargePeriod.description"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.chargeYear.description"
        },
        "chargeYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.chargeYearMax.description"
        },
        "coveragePeriod": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.coveragePeriod.description"
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.coverageYear.description"
        },
        "coverageYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.coverageYearMax.description"
        },
        "gender": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.gender.description"
        },
        "highSa": {
          "type": "number",
          "format": "double",
          "description": "definitions.AgeLimit.properties.highSa.description"
        },
        "lowSa": {
          "type": "number",
          "format": "double",
          "description": "definitions.AgeLimit.properties.lowSa.description"
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.maxAge.description"
        },
        "minAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.minAge.description"
        },
        "paymentFrequency": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.paymentFrequency.description"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.paymentMethod.description"
        }
      }
    },
    "CalculatePolicy": {
      "type": "object",
      "required": [
        "coverages"
      ],
      "properties": {
        "coverages": {
          "type": "array",
          "description": "definitions.CalculatePolicy.properties.coverages.description",
          "items": {
            "$ref": "#/definitions/CalculateCoverage"
          }
        },
        "extFields": {
          "type": "object",
          "description": "definitions.CalculatePolicy.properties.extFields.description"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "inceptionDate": {
          "type": "string",
          "example": "2017-01-01",
          "description": "definitions.CalculatePolicy.properties.inceptionDate.description"
        }
      }
    },
    "IllustrationRequest": {
      "type": "object",
      "required": [
        "calculatePolicy"
      ],
      "properties": {
        "calculatePolicy": {
          "description": "definitions.IllustrationRequest.properties.calculatePolicy.description",
          "$ref": "#/definitions/CalculatePolicy"
        },
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "GenericVO": {
      "type": "object",
      "properties": {
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        }
      }
    },
    "AgeLimitCon": {
      "type": "object",
      "required": [
        "productCode"
      ],
      "properties": {
        "annuityEndPeriod": {
          "type": "string",
          "example": "1",
          "description": "definitions.AgeLimitCon.properties.annuityEndPeriod.description"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.AgeLimitCon.properties.annuityEndYear.description"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.AgeLimitCon.properties.annuityPayEnsure.description"
        },
        "annuityStartPeriod": {
          "type": "string",
          "example": "1",
          "description": "definitions.AgeLimitCon.properties.annuityStartPeriod.description"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.AgeLimitCon.properties.annuityStartYear.description"
        },
        "benefitLevel": {
          "type": "string",
          "example": "1",
          "description": "definitions.AgeLimitCon.properties.benefitLevel.description"
        },
        "chargePeriod": {
          "type": "string",
          "example": "1",
          "description": "definitions.AgeLimitCon.properties.chargePeriod.description"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.AgeLimitCon.properties.chargeYear.description"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "1",
          "description": "definitions.AgeLimitCon.properties.coveragePeriod.description"
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.AgeLimitCon.properties.coverageYear.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.AgeLimitCon.properties.extFields.description"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "gender": {
          "type": "string",
          "example": "F",
          "description": "definitions.AgeLimitCon.properties.gender.description"
        },
        "premiumFrequency": {
          "type": "string",
          "example": "1",
          "description": "definitions.AgeLimitCon.properties.premiumFrequency.description"
        },
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "definitions.AgeLimitCon.properties.productCode.description"
        },
        "sumAssured": {
          "type": "number",
          "format": "double",
          "example": 100000,
          "description": "definitions.AgeLimitCon.properties.sumAssured.description"
        }
      }
    },
    "Bonus": {
      "type": "object",
      "properties": {
        "cashBonus": {
          "type": "boolean",
          "example": false,
          "description": "definitions.Bonus.properties.cashBonus.description"
        },
        "cashBonusOptions": {
          "type": "array",
          "description": "definitions.Bonus.properties.cashBonusOptions.description",
          "items": {
            "type": "string"
          }
        },
        "cashBonusUnitAmount": {
          "type": "number",
          "format": "double",
          "description": "definitions.Bonus.properties.cashBonusUnitAmount.description"
        },
        "cashBonusVestYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.Bonus.properties.cashBonusVestYear.description"
        }
      }
    },
    "PremiumLimit": {
      "type": "object",
      "properties": {
        "chargePeriod": {
          "type": "string",
          "description": "definitions.PremiumLimit.properties.chargePeriod.description"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.PremiumLimit.properties.chargeYear.description"
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.PremiumLimit.properties.currency.description"
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.PremiumLimit.properties.maxAge.description"
        },
        "maxPrem": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.PremiumLimit.properties.maxPrem.description"
        },
        "minAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.PremiumLimit.properties.minAge.description"
        },
        "minPrem": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.PremiumLimit.properties.minPrem.description"
        },
        "paymentFrequency": {
          "type": "string",
          "description": "definitions.PremiumLimit.properties.paymentFrequency.description"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.PremiumLimit.properties.paymentMethod.description"
        }
      }
    },
    "CalculatePremSAResponse": {
      "type": "object",
      "properties": {
        "calculatePolicyResult": {
          "description": "definitions.CalculatePremSAResponse.properties.calculatePolicyResult.description",
          "$ref": "#/definitions/CalculatePolicyResult"
        },
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CalculatePolicyResult": {
      "type": "object",
      "properties": {
        "calculateCoverageResults": {
          "type": "array",
          "description": "definitions.CalculatePolicyResult.properties.calculateCoverageResults.description",
          "items": {
            "$ref": "#/definitions/CalculateCoverageResult"
          }
        },
        "inceptionDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.CalculatePolicyResult.properties.inceptionDate.description"
        },
        "installPrem": {
          "type": "number",
          "format": "double",
          "description": "definitions.CalculatePolicyResult.properties.installPrem.description"
        }
      }
    },
    "PackagesResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "listBasicProductPackageInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BasicProductPackageInfo"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Annuity": {
      "type": "object",
      "properties": {
        "annuityEndPeriod": {
          "type": "string",
          "description": "definitions.Annuity.properties.annuityEndPeriod.description"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.Annuity.properties.annuityEndYear.description"
        },
        "annuityStartPeriod": {
          "type": "string",
          "description": "definitions.Annuity.properties.annuityStartPeriod.description"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.Annuity.properties.annuityStartYear.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.Annuity.properties.extFields.description"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        }
      }
    },
    "ProductResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "productInfo": {
          "description": "definitions.ProductResponse.properties.productInfo.description",
          "$ref": "#/definitions/ProductInfo"
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ProductPremiumResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "productCode": {
          "type": "string",
          "description": "definitions.ProductPremiumResponse.properties.productCode.description"
        },
        "productPremium": {
          "description": "definitions.ProductPremiumResponse.properties.productPremium.description",
          "$ref": "#/definitions/ProductPremium"
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "TermLimit": {
      "type": "object",
      "properties": {
        "annuityEndPeriod": {
          "type": "string",
          "description": "definitions.TermLimit.properties.annuityEndPeriod.description"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.TermLimit.properties.annuityEndYear.description"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.TermLimit.properties.annuityPayEnsure.description"
        },
        "annuityStartPeriod": {
          "type": "string",
          "description": "definitions.TermLimit.properties.annuityStartPeriod.description"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.TermLimit.properties.annuityStartYear.description"
        },
        "chargePeriod": {
          "type": "string",
          "description": "definitions.TermLimit.properties.chargePeriod.description"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.TermLimit.properties.chargeYear.description"
        },
        "coveragePeriod": {
          "type": "string",
          "description": "definitions.TermLimit.properties.coveragePeriod.description"
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.TermLimit.properties.coverageYear.description"
        }
      }
    },
    "TopupWithdrawnPlan": {
      "type": "object",
      "required": [
        "amount",
        "endYear",
        "premType",
        "startYear"
      ],
      "properties": {
        "amount": {
          "type": "number",
          "format": "double",
          "example": 100000,
          "description": "definitions.TopupWithdrawnPlan.properties.amount.description"
        },
        "endYear": {
          "type": "integer",
          "format": "int64",
          "example": 5,
          "description": "definitions.TopupWithdrawnPlan.properties.endYear.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.TopupWithdrawnPlan.properties.extFields.description"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "premType": {
          "type": "string",
          "example": "3: regular topup; 7: partial withdrawn; 4: ad-hoc topup",
          "description": "definitions.TopupWithdrawnPlan.properties.premType.description"
        },
        "startYear": {
          "type": "integer",
          "format": "int64",
          "example": 2,
          "description": "definitions.TopupWithdrawnPlan.properties.startYear.description"
        }
      }
    },
    "ProductsResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "listProductBasicInformation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductBasicInformation"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ProductRatingParametersResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "productCode": {
          "type": "string",
          "description": "definitions.ProductRatingParametersResponse.properties.productCode.description"
        },
        "ratingParameterType": {
          "type": "string",
          "description": "definitions.ProductRatingParametersResponse.properties.ratingParameterType.description"
        },
        "ratingParameters": {
          "type": "array",
          "description": "definitions.ProductRatingParametersResponse.properties.ratingParameters.description",
          "items": {
            "type": "string"
          }
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ProductPkgProduct": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "number",
          "format": "double"
        },
        "baseAmount": {
          "type": "number",
          "format": "double"
        },
        "benefitLevel": {
          "type": "string"
        },
        "calcMethod": {
          "type": "string"
        },
        "entityId": {
          "type": "integer",
          "format": "int64"
        },
        "freeIndi": {
          "type": "string"
        },
        "listId": {
          "type": "integer",
          "format": "int64"
        },
        "maxAmount": {
          "type": "number",
          "format": "double"
        },
        "maxPremium": {
          "type": "number",
          "format": "double"
        },
        "minAmount": {
          "type": "number",
          "format": "double"
        },
        "minPremium": {
          "type": "number",
          "format": "double"
        },
        "optional": {
          "type": "string"
        },
        "packageId": {
          "type": "integer",
          "format": "int64"
        },
        "premium": {
          "type": "number",
          "format": "double"
        },
        "premiumProportion": {
          "type": "number",
          "format": "double"
        },
        "productId": {
          "type": "integer",
          "format": "int64"
        },
        "saProportion": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "Illustrations": {
      "type": "object",
      "properties": {
        "illustrationResultList": {
          "type": "array",
          "description": "definitions.Illustrations.properties.illustrationResultList.description",
          "items": {
            "$ref": "#/definitions/IllustrationResult"
          }
        }
      }
    },
    "MainInformation": {
      "type": "object",
      "properties": {
        "currency": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.MainInformation.properties.currency.description"
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.MainInformation.properties.endDate.description"
        },
        "familyType": {
          "type": "string",
          "description": "definitions.MainInformation.properties.familyType.description"
        },
        "indexIndi": {
          "type": "string",
          "description": "definitions.MainInformation.properties.indexIndi.description"
        },
        "mainPlan": {
          "type": "string",
          "description": "definitions.MainInformation.properties.mainPlan.description"
        },
        "orgId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.MainInformation.properties.orgId.description"
        },
        "productAbbreviation": {
          "type": "string",
          "description": "definitions.MainInformation.properties.productAbbreviation.description"
        },
        "productCode": {
          "type": "string",
          "description": "definitions.MainInformation.properties.productCode.description"
        },
        "productDescription": {
          "type": "string",
          "description": "definitions.MainInformation.properties.productDescription.description"
        },
        "productName": {
          "type": "string",
          "description": "definitions.MainInformation.properties.productName.description"
        },
        "salesCategory": {
          "description": "definitions.MainInformation.properties.salesCategory.description",
          "$ref": "#/definitions/ProductSalesCategory"
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.MainInformation.properties.startDate.description"
        }
      }
    },
    "CalculatePremSARequest": {
      "type": "object",
      "required": [
        "calculatePolicy"
      ],
      "properties": {
        "calculatePolicy": {
          "description": "definitions.CalculatePremSARequest.properties.calculatePolicy.description",
          "$ref": "#/definitions/CalculatePolicy"
        },
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ProductCoverMultiple": {
      "type": "object",
      "properties": {
        "coverMultipleItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CoverMultipleItem"
          }
        }
      }
    },
    "CoverMultipleItem": {
      "type": "object",
      "properties": {
        "ageRange": {
          "type": "string",
          "description": "definitions.CoverMultipleItem.properties.ageRange.description"
        },
        "maxValue": {
          "type": "number",
          "format": "double",
          "description": "definitions.CoverMultipleItem.properties.maxValue.description"
        },
        "minValue": {
          "type": "number",
          "format": "double",
          "description": "definitions.CoverMultipleItem.properties.minValue.description"
        },
        "productCode": {
          "type": "string",
          "description": "definitions.CoverMultipleItem.properties.productCode.description"
        },
        "termRange": {
          "type": "string",
          "description": "definitions.CoverMultipleItem.properties.termRange.description"
        }
      }
    },
    "PackageResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "productPackageInfo": {
          "description": "definitions.PackageResponse.properties.productPackageInfo.description",
          "$ref": "#/definitions/ProductPackageInfo"
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ProductPackageTerm": {
      "type": "object",
      "properties": {
        "chargePeriod": {
          "type": "string"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32"
        },
        "coveragePeriod": {
          "type": "string"
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32"
        },
        "entityId": {
          "type": "integer",
          "format": "int64"
        },
        "listId": {
          "type": "integer",
          "format": "int64"
        },
        "packageId": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "ProductFund": {
      "type": "object",
      "properties": {
        "bonusSettleType": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.bonusSettleType.description"
        },
        "fundCode": {
          "type": "string",
          "description": "definitions.ProductFund.properties.fundCode.description"
        },
        "guaranteedRateOption": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.guaranteedRateOption.description"
        },
        "maxPartialWithdralVal": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFund.properties.maxPartialWithdralVal.description"
        },
        "maxSwitInTimes": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.maxSwitInTimes.description"
        },
        "maxSwitOutTimes": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.maxSwitOutTimes.description"
        },
        "minPartialWithdralRemainingVal": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFund.properties.minPartialWithdralRemainingVal.description"
        },
        "minPartialWithdralval": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFund.properties.minPartialWithdralval.description"
        },
        "minSwitOutVal": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFund.properties.minSwitOutVal.description"
        },
        "minSwitRemainVal": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFund.properties.minSwitRemainVal.description"
        },
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFund.properties.productId.description"
        },
        "settleDay": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.settleDay.description"
        },
        "settleFreq": {
          "type": "string",
          "description": "definitions.ProductFund.properties.settleFreq.description"
        },
        "settleMethod": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.settleMethod.description"
        },
        "settleMonth": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.settleMonth.description"
        },
        "settleRatePeriodUnit": {
          "type": "string",
          "description": "definitions.ProductFund.properties.settleRatePeriodUnit.description"
        },
        "settleSimpleCompound": {
          "type": "string",
          "description": "definitions.ProductFund.properties.settleSimpleCompound.description"
        },
        "settleYearType": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.settleYearType.description"
        },
        "switchPeriodUnit": {
          "type": "string",
          "description": "definitions.ProductFund.properties.switchPeriodUnit.description"
        }
      }
    },
    "LiabilityInformation": {
      "type": "object",
      "properties": {
        "categoryId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.LiabilityInformation.properties.categoryId.description"
        },
        "categoryName": {
          "type": "string",
          "description": "definitions.LiabilityInformation.properties.categoryName.description"
        },
        "liabilityId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.LiabilityInformation.properties.liabilityId.description"
        },
        "liabilityName": {
          "type": "string",
          "description": "definitions.LiabilityInformation.properties.liabilityName.description"
        }
      }
    },
    "TermLimitCon": {
      "type": "object",
      "required": [
        "productCode"
      ],
      "properties": {
        "annuityEndPeriod": {
          "type": "string",
          "example": "1",
          "description": "definitions.TermLimitCon.properties.annuityEndPeriod.description"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "example": 10,
          "description": "definitions.TermLimitCon.properties.annuityEndYear.description"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.TermLimitCon.properties.annuityPayEnsure.description"
        },
        "annuityStartPeriod": {
          "type": "string",
          "example": "1",
          "description": "definitions.TermLimitCon.properties.annuityStartPeriod.description"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "example": 10,
          "description": "definitions.TermLimitCon.properties.annuityStartYear.description"
        },
        "chargePeriod": {
          "type": "string",
          "example": "1",
          "description": "definitions.TermLimitCon.properties.chargePeriod.description"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.TermLimitCon.properties.chargeYear.description"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "1",
          "description": "definitions.TermLimitCon.properties.coveragePeriod.description"
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.TermLimitCon.properties.coverageYear.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.TermLimitCon.properties.extFields.description"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "definitions.TermLimitCon.properties.productCode.description"
        }
      }
    },
    "ProductLiability": {
      "type": "object",
      "properties": {
        "annuity": {
          "type": "boolean",
          "example": false,
          "description": "definitions.ProductLiability.properties.annuity.description"
        },
        "liabilities": {
          "type": "array",
          "description": "definitions.ProductLiability.properties.liabilities.description",
          "items": {
            "$ref": "#/definitions/LiabilityInformation"
          }
        },
        "survivalBenefitOptions": {
          "type": "array",
          "description": "definitions.ProductLiability.properties.survivalBenefitOptions.description",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ProductRelationship": {
      "type": "object",
      "properties": {
        "attachRelation": {
          "type": "string",
          "description": "definitions.ProductRelationship.properties.attachRelation.description"
        },
        "attachType": {
          "type": "string",
          "description": "definitions.ProductRelationship.properties.attachType.description"
        },
        "masterProductCode": {
          "type": "string",
          "description": "definitions.ProductRelationship.properties.masterProductCode.description"
        },
        "masterProductId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductRelationship.properties.masterProductId.description"
        },
        "maxAthAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductRelationship.properties.maxAthAge.description"
        },
        "maxAthMastAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductRelationship.properties.maxAthMastAge.description"
        },
        "maxAttachSa2MainSaRate": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.maxAttachSa2MainSaRate.description"
        },
        "maxAttachedSa": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.maxAttachedSa.description"
        },
        "maxTotalSa2MainSaRate": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.maxTotalSa2MainSaRate.description"
        },
        "minAthAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductRelationship.properties.minAthAge.description"
        },
        "minAthMastAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductRelationship.properties.minAthMastAge.description"
        },
        "minAttachSa2MainSaRate": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.minAttachSa2MainSaRate.description"
        },
        "minMastSaAmount": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.minMastSaAmount.description"
        },
        "riderProductCode": {
          "type": "string",
          "description": "definitions.ProductRelationship.properties.riderProductCode.description"
        },
        "riderProductId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductRelationship.properties.riderProductId.description"
        },
        "riderSa2MainPremRate": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.riderSa2MainPremRate.description"
        },
        "saNoEqual": {
          "type": "string",
          "description": "definitions.ProductRelationship.properties.saNoEqual.description"
        },
        "totalOverRate": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.totalOverRate.description"
        }
      }
    },
    "SaLimitCon": {
      "type": "object",
      "required": [
        "productCode"
      ],
      "properties": {
        "extFields": {
          "type": "object",
          "description": "definitions.SaLimitCon.properties.extFields.description"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "insuredAgeMonth": {
          "type": "integer",
          "format": "int32",
          "example": 60,
          "description": "definitions.SaLimitCon.properties.insuredAgeMonth.description"
        },
        "occupationCode": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.SaLimitCon.properties.occupationCode.description"
        },
        "payMethod": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.SaLimitCon.properties.payMethod.description"
        },
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "definitions.SaLimitCon.properties.productCode.description"
        }
      }
    },
    "ProductPremium": {
      "type": "object",
      "properties": {
        "adhocTopup": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.adhocTopup.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "decreasePremium": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.decreasePremium.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "decreaseRegularTopup": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.decreaseRegularTopup.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "increasePremium": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.increasePremium.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "increaseRegularTopup": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.increaseRegularTopup.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "initialPremium": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "listFundPremiumLimit": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.listFundPremiumLimit.description",
          "items": {
            "$ref": "#/definitions/ProductFundPremiumLimit"
          }
        },
        "regularTopup": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.regularTopup.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "subsequentPremium": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        }
      }
    },
    "GenericValidationResult": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "ruleType": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProductTerm": {
      "type": "object",
      "properties": {
        "listTermLimit": {
          "type": "array",
          "description": "definitions.ProductTerm.properties.listTermLimit.description",
          "items": {
            "$ref": "#/definitions/TermLimit"
          }
        }
      }
    },
    "ProductSumAssured": {
      "type": "object",
      "properties": {
        "saLimit": {
          "type": "array",
          "description": "definitions.ProductSumAssured.properties.saLimit.description",
          "items": {
            "$ref": "#/definitions/SaLimit"
          }
        }
      }
    },
    "IllustrationResult": {
      "type": "object",
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.IllustrationResult.properties.age.description"
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "definitions.IllustrationResult.properties.amount.description"
        },
        "calcType": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.IllustrationResult.properties.calcType.description"
        },
        "coverageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.IllustrationResult.properties.coverageId.description"
        },
        "fundCode": {
          "type": "string",
          "description": "definitions.IllustrationResult.properties.fundCode.description"
        },
        "name": {
          "type": "string",
          "description": "definitions.IllustrationResult.properties.name.description"
        },
        "orderSeq": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.IllustrationResult.properties.orderSeq.description"
        },
        "performanceType": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.IllustrationResult.properties.performanceType.description"
        },
        "policyMonth": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.IllustrationResult.properties.policyMonth.description"
        },
        "policyYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.IllustrationResult.properties.policyYear.description"
        }
      }
    },
    "ProductInfo": {
      "type": "object",
      "properties": {
        "attachedRiders": {
          "type": "array",
          "description": "definitions.ProductInfo.properties.attachedRiders.description",
          "items": {
            "$ref": "#/definitions/ProductRelationship"
          }
        },
        "benefitType": {
          "type": "string",
          "description": "definitions.ProductInfo.properties.benefitType.description"
        },
        "bonus": {
          "description": "definitions.ProductInfo.properties.bonus.description",
          "$ref": "#/definitions/Bonus"
        },
        "liability": {
          "description": "definitions.ProductInfo.properties.liability.description",
          "$ref": "#/definitions/ProductLiability"
        },
        "listProductFund": {
          "type": "array",
          "description": "definitions.ProductInfo.properties.listProductFund.description",
          "items": {
            "$ref": "#/definitions/ProductFund"
          }
        },
        "maininfo": {
          "description": "definitions.ProductInfo.properties.maininfo.description",
          "$ref": "#/definitions/MainInformation"
        },
        "premSaCalc": {
          "description": "definitions.ProductInfo.properties.premSaCalc.description",
          "$ref": "#/definitions/PremiumSaCalculation"
        },
        "productCoverMultiple": {
          "description": "definitions.ProductInfo.properties.productCoverMultiple.description",
          "$ref": "#/definitions/ProductCoverMultiple"
        },
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductInfo.properties.productId.description"
        }
      }
    },
    "ProductBasicInformation": {
      "type": "object",
      "properties": {
        "benefitType": {
          "type": "string",
          "description": "definitions.ProductBasicInformation.properties.benefitType.description"
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ProductBasicInformation.properties.endDate.description"
        },
        "isMainProduct": {
          "type": "string",
          "description": "definitions.ProductBasicInformation.properties.isMainProduct.description"
        },
        "minSAOrUnit": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductBasicInformation.properties.minSAOrUnit.description"
        },
        "productAbbr": {
          "type": "string",
          "description": "definitions.ProductBasicInformation.properties.productAbbr.description"
        },
        "productCode": {
          "type": "string",
          "description": "definitions.ProductBasicInformation.properties.productCode.description"
        },
        "productDescription": {
          "type": "string",
          "description": "definitions.ProductBasicInformation.properties.productDescription.description"
        },
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductBasicInformation.properties.productId.description"
        },
        "productName": {
          "type": "string",
          "description": "definitions.ProductBasicInformation.properties.productName.description"
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ProductBasicInformation.properties.startDate.description"
        }
      }
    },
    "SaLimit": {
      "type": "object",
      "properties": {
        "currency": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.SaLimit.properties.currency.description"
        },
        "highAgeMonth": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.SaLimit.properties.highAgeMonth.description"
        },
        "limitUnit": {
          "type": "string",
          "description": "definitions.SaLimit.properties.limitUnit.description"
        },
        "lowAgeMonth": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.SaLimit.properties.lowAgeMonth.description"
        },
        "maxAmount": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.SaLimit.properties.maxAmount.description"
        },
        "minAmount": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.SaLimit.properties.minAmount.description"
        },
        "occupationCode": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.SaLimit.properties.occupationCode.description"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.SaLimit.properties.paymentMethod.description"
        }
      }
    },
    "BasicProductPackageInfo": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "definitions.BasicProductPackageInfo.properties.description.description"
        },
        "moneyId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.BasicProductPackageInfo.properties.moneyId.description"
        },
        "packageCode": {
          "type": "string",
          "description": "definitions.BasicProductPackageInfo.properties.packageCode.description"
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.BasicProductPackageInfo.properties.packageId.description"
        },
        "packageName": {
          "type": "string",
          "description": "definitions.BasicProductPackageInfo.properties.packageName.description"
        }
      }
    },
    "PremiumLimitCon": {
      "type": "object",
      "required": [
        "productCode"
      ],
      "properties": {
        "chargePeriod": {
          "type": "string",
          "example": "1",
          "description": "definitions.PremiumLimitCon.properties.chargePeriod.description"
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.PremiumLimitCon.properties.chargeYear.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.PremiumLimitCon.properties.extFields.description"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "insuredAge": {
          "type": "integer",
          "format": "int32",
          "example": 50,
          "description": "definitions.PremiumLimitCon.properties.insuredAge.description"
        },
        "payMode": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.PremiumLimitCon.properties.payMode.description"
        },
        "premiumFrequency": {
          "type": "string",
          "example": "1",
          "description": "definitions.PremiumLimitCon.properties.premiumFrequency.description"
        },
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "definitions.PremiumLimitCon.properties.productCode.description"
        }
      }
    },
    "ProductPkgProductMatrix": {
      "type": "object",
      "properties": {
        "attachId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPkgProductMatrix.properties.attachId.description"
        },
        "attachMode": {
          "type": "string",
          "description": "definitions.ProductPkgProductMatrix.properties.attachMode.description"
        },
        "entityId": {
          "type": "integer",
          "format": "int64"
        },
        "listId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPkgProductMatrix.properties.listId.description"
        },
        "masterId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPkgProductMatrix.properties.masterId.description"
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPkgProductMatrix.properties.packageId.description"
        }
      }
    },
    "ProductSalesCategory": {
      "type": "object",
      "properties": {
        "categoryCode": {
          "type": "string",
          "description": "definitions.ProductSalesCategory.properties.categoryCode.description"
        },
        "categoryId": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductSalesCategory.properties.categoryId.description"
        },
        "categoryName": {
          "type": "string",
          "description": "definitions.ProductSalesCategory.properties.categoryName.description"
        },
        "description": {
          "type": "string",
          "description": "definitions.ProductSalesCategory.properties.description.description"
        },
        "displayOrder": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductSalesCategory.properties.displayOrder.description"
        },
        "entityIdName": {
          "type": "string"
        },
        "identifier": {
          "$ref": "#/definitions/Serializable"
        },
        "parentCateId": {
          "type": "string",
          "description": "definitions.ProductSalesCategory.properties.parentCateId.description"
        }
      }
    },
    "ProductAgeResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "productAge": {
          "description": "definitions.ProductAgeResponse.properties.productAge.description",
          "$ref": "#/definitions/ProductAge"
        },
        "productCode": {
          "type": "string",
          "description": "definitions.ProductAgeResponse.properties.productCode.description"
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "PremiumSaCalculation": {
      "type": "object",
      "properties": {
        "ageBase": {
          "type": "string",
          "description": "definitions.PremiumSaCalculation.properties.ageBase.description"
        },
        "premiumFrequency": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unitFlag": {
          "type": "string",
          "description": "definitions.PremiumSaCalculation.properties.unitFlag.description"
        },
        "waiver": {
          "type": "boolean",
          "example": false,
          "description": "definitions.PremiumSaCalculation.properties.waiver.description"
        }
      }
    },
    "CalculateCoverage": {
      "type": "object",
      "required": [
        "calculatePremium",
        "coverageId",
        "coveragePeriod",
        "insureds",
        "productCode"
      ],
      "properties": {
        "annuity": {
          "description": "definitions.CalculateCoverage.properties.annuity.description",
          "$ref": "#/definitions/Annuity"
        },
        "calculatePremium": {
          "description": "definitions.CalculateCoverage.properties.calculatePremium.description",
          "$ref": "#/definitions/CalculatePremium"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.CalculateCoverage.properties.chargePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.CalculateCoverage.properties.chargeYear.description"
        },
        "coverageId": {
          "type": "integer",
          "format": "int64",
          "example": 1,
          "description": "definitions.CalculateCoverage.properties.coverageId.description"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.CalculateCoverage.properties.coveragePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "definitions.CalculateCoverage.properties.coverageYear.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.CalculateCoverage.properties.extFields.description"
        },
        "extObject": {
          "$ref": "#/definitions/GenericVO"
        },
        "funds": {
          "type": "array",
          "description": "definitions.CalculateCoverage.properties.funds.description",
          "items": {
            "$ref": "#/definitions/CalculateFund"
          }
        },
        "insureds": {
          "type": "array",
          "description": "definitions.CalculateCoverage.properties.insureds.description",
          "items": {
            "$ref": "#/definitions/CalculateInsured"
          }
        },
        "masterCoverageId": {
          "type": "integer",
          "format": "int64",
          "example": 1,
          "description": "definitions.CalculateCoverage.properties.masterCoverageId.description"
        },
        "productCode": {
          "type": "string",
          "example": "0170",
          "description": "definitions.CalculateCoverage.properties.productCode.description"
        },
        "topupWithdrawns": {
          "type": "array",
          "description": "definitions.CalculateCoverage.properties.topupWithdrawns.description",
          "items": {
            "$ref": "#/definitions/TopupWithdrawnPlan"
          }
        },
        "waivedSa": {
          "type": "number",
          "format": "double",
          "example": 100000,
          "description": "definitions.CalculateCoverage.properties.waivedSa.description"
        }
      }
    },
    "CalculateCoverageResult": {
      "type": "object",
      "properties": {
        "coverageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.CalculateCoverageResult.properties.coverageId.description"
        },
        "productCode": {
          "type": "string",
          "description": "definitions.CalculateCoverageResult.properties.productCode.description"
        },
        "sumAssured": {
          "type": "number",
          "format": "double",
          "description": "definitions.CalculateCoverageResult.properties.sumAssured.description"
        },
        "totalPremAf": {
          "type": "number",
          "format": "double",
          "description": "definitions.CalculateCoverageResult.properties.totalPremAf.description"
        },
        "unit": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.CalculateCoverageResult.properties.unit.description"
        }
      }
    },
    "ProductAge": {
      "type": "object",
      "properties": {
        "insuredAge": {
          "type": "array",
          "description": "definitions.ProductAge.properties.insuredAge.description",
          "items": {
            "$ref": "#/definitions/AgeLimit"
          }
        },
        "policyHolderAge": {
          "type": "array",
          "description": "definitions.ProductAge.properties.policyHolderAge.description",
          "items": {
            "$ref": "#/definitions/AgeLimit"
          }
        }
      }
    },
    "IllustrationResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "illustrations": {
          "description": "definitions.IllustrationResponse.properties.illustrations.description",
          "$ref": "#/definitions/Illustrations"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "result": {
          "type": "integer",
          "format": "int32"
        },
        "serviceReqTime": {
          "type": "string",
          "format": "date-time"
        },
        "serviceResTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Policy": {
      "type": "object",
      "properties": {
        "applyDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.Policy.properties.applyDate.description"
        },
        "beneficiaries": {
          "type": "array",
          "description": "definitions.Policy.properties.beneficiaries.description",
          "items": {
            "$ref": "#/definitions/Beneficiary"
          }
        },
        "brokerCode": {
          "type": "string",
          "example": "ebao",
          "description": "definitions.Policy.properties.brokerCode.description"
        },
        "contractorCode": {
          "type": "string",
          "example": "ebao",
          "description": "definitions.Policy.properties.contractorCode.description"
        },
        "coverages": {
          "type": "array",
          "description": "definitions.Policy.properties.coverages.description",
          "items": {
            "$ref": "#/definitions/Coverage"
          }
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.Policy.properties.currency.description",
          "enum": [
            1
          ]
        },
        "customers": {
          "type": "array",
          "description": "definitions.Policy.properties.customers.description",
          "items": {
            "$ref": "#/definitions/PolicyCustomer"
          }
        },
        "declarations": {
          "type": "array",
          "description": "definitions.Policy.properties.declarations.description",
          "items": {
            "$ref": "#/definitions/CustomerDeclaration"
          }
        },
        "deliverType": {
          "type": "string",
          "example": "M",
          "description": "definitions.Policy.properties.deliverType.description",
          "enum": [
            "H",
            "M"
          ]
        },
        "ePolicyDownloadUrl": {
          "type": "string",
          "description": "definitions.Policy.properties.ePolicyDownloadUrl.description"
        },
        "expiryDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.Policy.properties.expiryDate.description"
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.Policy.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        },
        "groupProposalNumber": {
          "type": "string",
          "description": "definitions.Policy.properties.groupProposalNumber.description"
        },
        "inceptionDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.Policy.properties.inceptionDate.description"
        },
        "installPrem": {
          "type": "number",
          "format": "double",
          "description": "definitions.Policy.properties.installPrem.description"
        },
        "insureds": {
          "type": "array",
          "description": "definitions.Policy.properties.insureds.description",
          "items": {
            "$ref": "#/definitions/Insured"
          }
        },
        "insurerCode": {
          "type": "string",
          "description": "definitions.Policy.properties.insurerCode.description"
        },
        "issueDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.Policy.properties.issueDate.description"
        },
        "payerAccounts": {
          "type": "array",
          "description": "definitions.Policy.properties.payerAccounts.description",
          "items": {
            "$ref": "#/definitions/PayerAccount"
          }
        },
        "payers": {
          "type": "array",
          "description": "definitions.Policy.properties.payers.description",
          "items": {
            "$ref": "#/definitions/Payer"
          }
        },
        "policyHolder": {
          "description": "definitions.Policy.properties.policyHolder.description",
          "$ref": "#/definitions/PolicyHolder"
        },
        "policyId": {
          "type": "string",
          "description": "definitions.Policy.properties.policyId.description",
          "readOnly": true
        },
        "policyNumber": {
          "type": "string",
          "description": "definitions.Policy.properties.policyNumber.description"
        },
        "policyPackage": {
          "description": "definitions.Policy.properties.policyPackage.description",
          "$ref": "#/definitions/PolicyPackage"
        },
        "policyType": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.Policy.properties.policyType.description",
          "enum": [
            1,
            2,
            3
          ]
        },
        "preprintedProposalNumber": {
          "type": "string",
          "description": "definitions.Policy.properties.preprintedProposalNumber.description"
        },
        "proposalNumber": {
          "type": "string",
          "description": "definitions.Policy.properties.proposalNumber.description"
        },
        "quotationCode": {
          "type": "string",
          "description": "definitions.Policy.properties.quotationCode.description"
        },
        "riskStatus": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.Policy.properties.riskStatus.description",
          "readOnly": true
        },
        "salesChannelCode": {
          "type": "string",
          "description": "definitions.Policy.properties.salesChannelCode.description"
        },
        "serviceAgentCode": {
          "type": "string",
          "description": "definitions.Policy.properties.serviceAgentCode.description"
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.Policy.properties.submissionDate.description"
        },
        "tenantCode": {
          "type": "string",
          "example": "GUEST",
          "description": "definitions.Policy.properties.tenantCode.description"
        },
        "trustees": {
          "type": "array",
          "description": "definitions.Policy.properties.trustees.description",
          "items": {
            "$ref": "#/definitions/Trustee"
          }
        }
      }
    },
    "PremInvestRate": {
      "type": "object",
      "properties": {
        "addPremId": {
          "type": "string",
          "description": "definitions.PremInvestRate.properties.addPremId.description",
          "readOnly": true
        },
        "assignRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "definitions.PremInvestRate.properties.assignRate.description"
        },
        "coverageId": {
          "type": "string",
          "description": "definitions.PremInvestRate.properties.coverageId.description",
          "readOnly": true
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.PremInvestRate.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        },
        "fundCode": {
          "type": "string",
          "example": "F001",
          "description": "definitions.PremInvestRate.properties.fundCode.description"
        },
        "listId": {
          "type": "string",
          "description": "definitions.PremInvestRate.properties.listId.description",
          "readOnly": true
        },
        "policyId": {
          "type": "string",
          "description": "definitions.PremInvestRate.properties.policyId.description",
          "readOnly": true
        }
      }
    },
    "PolicyPackage": {
      "type": "object",
      "properties": {
        "packageCode": {
          "type": "string",
          "description": "definitions.PolicyPackage.properties.packageCode.description"
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.PolicyPackage.properties.packageId.description",
          "readOnly": true
        },
        "unit": {
          "type": "number",
          "format": "double",
          "description": "definitions.PolicyPackage.properties.unit.description"
        }
      }
    },
    "QuotationResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.QuotationResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.QuotationResponse.properties.clientRequestTime.description"
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.QuotationResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "description": "definitions.QuotationResponse.properties.messages.description",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "policy": {
          "description": "definitions.QuotationResponse.properties.policy.description",
          "$ref": "#/definitions/QuotationPolicyResult"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.QuotationResponse.properties.result.description"
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "address1": {
          "type": "string",
          "example": "上海市",
          "description": "definitions.Address.properties.address1.description"
        },
        "address2": {
          "type": "string",
          "example": "上海市",
          "description": "definitions.Address.properties.address2.description"
        },
        "address3": {
          "type": "string",
          "example": "杨浦区",
          "description": "definitions.Address.properties.address3.description"
        },
        "address4": {
          "type": "string",
          "example": "淞沪路270号创智天地3号楼3楼",
          "description": "definitions.Address.properties.address4.description"
        },
        "addressId": {
          "type": "string",
          "description": "definitions.Address.properties.addressId.description",
          "readOnly": true
        },
        "postCode": {
          "type": "string",
          "example": "200433",
          "description": "definitions.Address.properties.postCode.description"
        }
      }
    },
    "CoverageInsuredInput": {
      "type": "object",
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32",
          "example": 25,
          "description": "definitions.CoverageInsuredInput.properties.age.description"
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.CoverageInsuredInput.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        },
        "occupationClass": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.CoverageInsuredInput.properties.occupationClass.description"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.CoverageInsuredInput.properties.orderId.description"
        },
        "partySerialId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.CoverageInsuredInput.properties.partySerialId.description"
        }
      }
    },
    "AddressInput": {
      "type": "object",
      "properties": {
        "address1": {
          "type": "string",
          "example": "上海市",
          "description": "definitions.AddressInput.properties.address1.description"
        },
        "address2": {
          "type": "string",
          "example": "上海市",
          "description": "definitions.AddressInput.properties.address2.description"
        },
        "address3": {
          "type": "string",
          "example": "杨浦区",
          "description": "definitions.AddressInput.properties.address3.description"
        },
        "address4": {
          "type": "string",
          "example": "淞沪路270号创智天地3号楼3楼",
          "description": "definitions.AddressInput.properties.address4.description"
        },
        "postCode": {
          "type": "string",
          "example": "200433",
          "description": "definitions.AddressInput.properties.postCode.description"
        }
      }
    },
    "InsuredInput": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "description": "definitions.InsuredInput.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        },
        "medicalIndi": {
          "type": "string",
          "example": "Y",
          "description": "definitions.InsuredInput.properties.medicalIndi.description",
          "enum": [
            "Y",
            "N"
          ]
        },
        "partySerialId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.InsuredInput.properties.partySerialId.description"
        },
        "relationToPH": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.InsuredInput.properties.relationToPH.description",
          "enum": [
            1,
            2,
            3,
            10,
            4,
            7
          ]
        },
        "socialSecurityIndi": {
          "type": "string",
          "example": "Y",
          "description": "definitions.InsuredInput.properties.socialSecurityIndi.description",
          "enum": [
            "Y",
            "N"
          ]
        }
      }
    },
    "PayerAccount": {
      "type": "object",
      "properties": {
        "bankAccount": {
          "description": "definitions.PayerAccount.properties.bankAccount.description",
          "$ref": "#/definitions/BankAccount"
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.PayerAccount.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        },
        "listId": {
          "type": "string",
          "description": "definitions.PayerAccount.properties.listId.description",
          "readOnly": true
        },
        "nextBankAccount": {
          "description": "definitions.PayerAccount.properties.nextBankAccount.description",
          "$ref": "#/definitions/BankAccount"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "example": 3,
          "description": "definitions.PayerAccount.properties.paymentMethod.description",
          "enum": [
            1,
            2,
            3,
            30,
            80
          ]
        },
        "paymentMethodNext": {
          "type": "integer",
          "format": "int32",
          "example": 3,
          "description": "definitions.PayerAccount.properties.paymentMethodNext.description",
          "enum": [
            1,
            2,
            3,
            30,
            80
          ]
        },
        "policyId": {
          "type": "string",
          "description": "definitions.PayerAccount.properties.policyId.description",
          "readOnly": true
        }
      }
    },
    "PayPlanInput": {
      "type": "object",
      "properties": {
        "endPeriod": {
          "type": "string",
          "example": "3",
          "description": "definitions.PayPlanInput.properties.endPeriod.description",
          "enum": [
            "1",
            "2",
            "3"
          ]
        },
        "endYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.PayPlanInput.properties.endYear.description"
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.PayPlanInput.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gurntPeriod": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.PayPlanInput.properties.gurntPeriod.description"
        },
        "payOption": {
          "type": "string",
          "example": "1",
[...]
