{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "APIs of Policy Alteration",
    "termsOfService": "http://docs.ebaocloud.life/",
    "contact": {
      "name": "eBaoTech"
    }
  },
  "host": "sandbox.li.ph.ebaocloud.com",
  "basePath": "/policy",
  "tags": [{
    "name": "Freelook"
  }, {
    "name": "ChangeContactInfo"
  }],
  "paths": {
    "/policy-alterations/{insurerCode}/changeContactInfo": {
      "post": {
        "tags": ["ChangeContactInfo"],
        "summary": "ChangeContactInfo",
        "description": "ChangeContactInfo",
        "operationId": "inforceUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "insurerCode",
          "in": "path",
          "description": "insurerCode",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "request",
          "description": "request",
          "required": true,
          "schema": {
            "$ref": "#/definitions/ChangingContactInfoRequest"
          }
        }, {
          "name": "X-ebao-tenant-id",
          "in": "header",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ChangingContactInfoResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/policy-alterations/{insurerCode}/freelook": {
      "post": {
        "tags": ["Freelook"],
        "summary": "Freelook",
        "description": "Freelook",
        "operationId": "inforceUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "insurerCode",
          "in": "path",
          "description": "insurerCode",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "request",
          "description": "request",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FreelookRequest"
          }
        }, {
          "name": "X-ebao-tenant-id",
          "in": "header",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FreelookResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/policy-alterations/{insurerCode}/freelook/quotations": {
      "post": {
        "tags": ["Freelook"],
        "summary": "FreelookQuotations",
        "description": "Freelook Quotation",
        "operationId": "quoteUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "insurerCode",
          "in": "path",
          "description": "insurerCode",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "request",
          "description": "request",
          "required": true,
          "schema": {
            "$ref": "#/definitions/FreelookQuotationRequest"
          }
        }, {
          "name": "X-ebao-tenant-id",
          "in": "header",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FreelookQuotationResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "ChangingContactInfoResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "messages": {
          "type": "array",
          "description": "业务失败原因描述列表节点",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "changeNo": {
          "type": "string",
          "description": "变更序号"
        },
        "finishTime": {
          "type": "string",
          "format": "date-time",
          "description": "变更完成时间，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "itemResults": {
          "type": "array",
          "description": "保单变更结果列表",
          "items": {
            "$ref": "#/definitions/ChangingContactInfoItemResultInfo"
          }
        }
      }
    },
    "AddressInput": {
      "type": "object",
      "properties": {
        "address1": {
          "type": "string",
          "example": "上海市",
          "description": "省"
        },
        "address2": {
          "type": "string",
          "example": "上海市",
          "description": "市"
        },
        "address3": {
          "type": "string",
          "example": "杨浦区",
          "description": "区县"
        },
        "address4": {
          "type": "string",
          "example": "淞沪路270号创智天地3号楼3楼",
          "description": "地址"
        },
        "postCode": {
          "type": "string",
          "example": "200433",
          "description": "邮编"
        }
      }
    },
    "FreelookResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "messages": {
          "type": "array",
          "description": "业务失败原因描述列表节点",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "changeNo": {
          "type": "string",
          "description": "变更序号"
        },
        "finishTime": {
          "type": "string",
          "format": "date-time",
          "description": "变更完成时间，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "itemResults": {
          "type": "array",
          "description": "保单变更结果列表",
          "items": {
            "$ref": "#/definitions/FreelookItemResultInfo"
          }
        }
      }
    },
    "ChangingContactInfoItemResultInfo": {
      "type": "object",
      "required": ["effectiveDate", "orderId", "policyNumber", "serviceId"],
      "properties": {
        "itemResult": {
          "$ref": "#/definitions/ChangingContactInfoResultDetail"
        },
        "policyNumber": {
          "type": "string",
          "example": "0000017623",
          "description": "保单号码"
        },
        "serviceId": {
          "type": "integer",
          "format": "int32",
          "example": 201,
          "description": "保单变更项<br>201 - 犹豫期退保<br>104 - 变更联系方式",
          "enum": [201, 104]
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "提交日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "变更生效日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "description": "变更序号"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FreelookRequest": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "items": {
          "type": "array",
          "description": "变更请求列表",
          "items": {
            "$ref": "#/definitions/FreelookItemInput"
          }
        }
      }
    },
    "ChangingContactInfoItemInput": {
      "type": "object",
      "required": ["effectiveDate", "itemDetail", "orderId", "policyNumber", "serviceId"],
      "properties": {
        "policyNumber": {
          "type": "string",
          "example": "0000017623",
          "description": "保单号码"
        },
        "serviceId": {
          "type": "integer",
          "format": "int32",
          "example": 201,
          "description": "保单变更项<br>201 - 犹豫期退保<br>104 - 变更联系方式",
          "enum": [201, 104]
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "提交日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "变更生效日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "description": "变更序号"
        },
        "itemDetail": {
          "description": "变更详细信息",
          "$ref": "#/definitions/ChangingContactInfoInputDetail"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FreelookResultDetail": {
      "type": "object",
      "properties": {
        "totalGrossPremium": {
          "type": "number",
          "format": "double",
          "description": "期缴保费"
        },
        "totalExtraPremium": {
          "type": "number",
          "format": "double",
          "description": "加费"
        },
        "suspense": {
          "type": "number",
          "format": "double",
          "description": "保单账户余额"
        },
        "advancePremium": {
          "type": "number",
          "format": "double",
          "description": "保单预缴保费"
        },
        "medicalFee": {
          "type": "number",
          "format": "double",
          "description": "体检费"
        },
        "totalRefundAmount": {
          "type": "number",
          "format": "double",
          "description": "犹豫期退保原因"
        },
        "adminFee": {
          "type": "number",
          "format": "double"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FreelookQuotationRequest": {
      "type": "object",
      "required": ["effectiveDate", "item", "policyNumber", "serviceId"],
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "policyNumber": {
          "type": "string",
          "example": "0000017623",
          "description": "保单号码"
        },
        "serviceId": {
          "type": "integer",
          "format": "int32",
          "example": 201,
          "description": "保单变更项<br>201 - 犹豫期退保",
          "enum": [201]
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "提交日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "变更生效日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "item": {
          "description": "犹豫期退保试算请求信息",
          "$ref": "#/definitions/FreelookInputDetail"
        }
      }
    },
    "CommonAlterationCoverageInput": {
      "type": "object",
      "properties": {
        "coverageNo": {
          "type": "string",
          "example": "197531",
          "description": "保单险种代号"
        }
      }
    },
    "ChangingContactInfoInputDetail": {
      "type": "object",
      "properties": {
        "partyId": {
          "type": "string",
          "description": "客户编号"
        },
        "partyContact": {
          "description": "当事人联系信息",
          "$ref": "#/definitions/PartyContact"
        },
        "address": {
          "description": "客户地址",
          "$ref": "#/definitions/AddressInput"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FreelookItemInput": {
      "type": "object",
      "required": ["effectiveDate", "itemDetail", "orderId", "policyNumber", "serviceId"],
      "properties": {
        "policyNumber": {
          "type": "string",
          "example": "0000017623",
          "description": "保单号码"
        },
        "serviceId": {
          "type": "integer",
          "format": "int32",
          "example": 201,
          "description": "保单变更项<br>201 - 犹豫期退保<br>104 - 变更联系方式",
          "enum": [201, 104]
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "提交日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "变更生效日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "description": "变更序号"
        },
        "itemDetail": {
          "description": "变更详细信息",
          "$ref": "#/definitions/FreelookInputDetail"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ChangingContactInfoRequest": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "items": {
          "type": "array",
          "description": "变更请求列表",
          "items": {
            "$ref": "#/definitions/ChangingContactInfoItemInput"
          }
        }
      }
    },
    "FreelookQuotationResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "外部交易流水号"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "外部请求时间"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "请求结果，<br>1 - 业务成功<br>0 - 业务失败<br>-1 - 程序异常"
        },
        "messages": {
          "type": "array",
          "description": "业务失败原因描述列表节点",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "异常信息",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "policyNumber": {
          "type": "string",
          "description": "保单号码"
        },
        "serviceId": {
          "type": "integer",
          "format": "int32",
          "example": 201,
          "description": "保单变更项<br>201 - 犹豫期退保",
          "enum": [201]
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "提交日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "变更生效日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "quotationResult": {
          "description": "犹豫期退保试算结果信息",
          "$ref": "#/definitions/FreelookResultDetail"
        }
      }
    },
    "ChangingContactInfoResultDetail": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GenericValidationResult": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "ruleType": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PartyContact": {
      "type": "object",
      "properties": {
        "homeTel": {
          "type": "string",
          "example": "87654321",
          "description": "家庭电话"
        },
        "mobileTel": {
          "type": "string",
          "example": "15012345678",
          "description": "手机号"
        },
        "officeTel": {
          "type": "string",
          "example": "88888888",
          "description": "工作电话"
        },
        "officeTelExt": {
          "type": "string",
          "example": "1234",
          "description": "工作电话分机号"
        },
        "email": {
          "type": "string",
          "example": "TestPerson14@126.com",
          "description": "电子邮箱"
        },
        "contact": {
          "type": "string",
          "example": "张三",
          "description": "联系人"
        },
        "contactTel": {
          "type": "string",
          "example": "88888888",
          "description": "联系人电话"
        },
        "fax": {
          "type": "string",
          "example": "88888887",
          "description": "传真"
        }
      }
    },
    "FreelookItemResultInfo": {
      "type": "object",
      "required": ["effectiveDate", "orderId", "policyNumber", "serviceId"],
      "properties": {
        "itemResult": {
          "$ref": "#/definitions/FreelookResultDetail"
        },
        "policyNumber": {
          "type": "string",
          "example": "0000017623",
          "description": "保单号码"
        },
        "serviceId": {
          "type": "integer",
          "format": "int32",
          "example": 201,
          "description": "保单变更项<br>201 - 犹豫期退保<br>104 - 变更联系方式",
          "enum": [201, 104]
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "提交日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "变更生效日期，日期格式：yyyy-MM-dd'T'HH:mm:ss"
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "description": "变更序号"
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FreelookInputDetail": {
      "type": "object",
      "required": ["alteredCoverages", "freelookReason"],
      "properties": {
        "freelookReason": {
          "type": "integer",
          "format": "int32",
          "example": 54,
          "description": "犹豫期退保原因，51-财务困难；52-销售误导；53-服务缺失；54-产品与需求不匹配；55-其他",
          "enum": [51, 52, 53, 54, 55]
        },
        "alteredCoverages": {
          "type": "array",
          "description": "犹豫期退保险种列表",
          "items": {
            "$ref": "#/definitions/CommonAlterationCoverageInput"
          }
        },
        "extendedProps": {
          "type": "object",
          "description": "扩展信息, Map类型, Key/Value都是字符型",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  }
}
