{
  "swagger": "2.0",
  "info": {
    "version": "1.5",
    "title": "eBaoCloud LI OpenAPI",
    "termsOfService": "http://api.ebaocloud.life/",
    "contact": {
      "email": "liliang.zhu@ebaotech.com"
    }
  },
  "host": "sandbox.gw.ebaocloud.com.cn",
  "basePath": "/eBao/1.0/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "tags": [
    {
      "name": "Product"
    },
    {
      "name": "Proposal"
    },
    {
      "name": "Freelook"
    },
    {
      "name": "ChangeContactInfo"
    }
  ],
  "definitions": {
    "SalesCategoryResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.SalesCategoryResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.SalesCategoryResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.SalesCategoryResponse.properties.result.description"
        },
        "messages": {
          "type": "array",
          "description": "definitions.SalesCategoryResponse.properties.messages.description",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.SalesCategoryResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "listSalesCategory": {
          "type": "array",
          "description": "definitions.SalesCategoryResponse.properties.listSalesCategory.description",
          "items": {
            "$ref": "#/definitions/ProductSalesCategory"
          }
        }
      }
    },
    "ProductSumAssuredResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.ProductSumAssuredResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ProductSumAssuredResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductSumAssuredResponse.properties.result.description"
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.ProductSumAssuredResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "productCode": {
          "type": "string",
          "description": "definitions.ProductSumAssuredResponse.properties.productCode.description"
        },
        "productSumAssured": {
          "description": "definitions.ProductSumAssuredResponse.properties.productSumAssured.description",
          "$ref": "#/definitions/ProductSumAssured"
        }
      }
    },
    "CalculateInsured": {
      "type": "object",
      "required": [
        "gender",
        "orderId"
      ],
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32",
          "example": 17,
          "description": "definitions.CalculateInsured.properties.age.description"
        },
        "gender": {
          "type": "string",
          "example": "M",
          "description": "definitions.CalculateInsured.properties.gender.description",
          "enum": [
            "M",
            "F"
          ]
        },
        "birthdate": {
          "type": "string",
          "example": "1999-10-16",
          "description": "definitions.CalculateInsured.properties.birthdate.description"
        },
        "smoking": {
          "type": "string",
          "example": "Y",
          "description": "definitions.CalculateInsured.properties.smoking.description",
          "enum": [
            "Y",
            "N"
          ]
        },
        "occupationCode": {
          "type": "integer",
          "format": "int32",
          "example": 10001,
          "description": "definitions.CalculateInsured.properties.occupationCode.description"
        },
        "occupationClass": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.CalculateInsured.properties.occupationClass.description"
        },
        "medicalIndi": {
          "type": "string",
          "example": "Y",
          "description": "definitions.CalculateInsured.properties.medicalIndi.description",
          "enum": [
            "Y",
            "N"
          ]
        },
        "socialSecurityIndi": {
          "type": "string",
          "example": "Y",
          "description": "definitions.CalculateInsured.properties.socialSecurityIndi.description",
          "enum": [
            "Y",
            "N"
          ]
        },
        "orderId": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.CalculateInsured.properties.orderId.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.CalculateInsured.properties.extFields.description"
        }
      }
    },
    "CalculateFund": {
      "type": "object",
      "required": [
        "assignRate",
        "fundCode",
        "premType"
      ],
      "properties": {
        "fundCode": {
          "type": "string",
          "example": "F001",
          "description": "definitions.CalculateFund.properties.fundCode.description"
        },
        "assignRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "definitions.CalculateFund.properties.assignRate.description"
        },
        "premType": {
          "type": "string",
          "example": "2: regular premium; 3: regular topup; 4: ad-hoc topup",
          "description": "definitions.CalculateFund.properties.premType.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.CalculateFund.properties.extFields.description"
        }
      }
    },
    "ProductPackageInfo": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "packageCode": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.packageCode.description"
        },
        "packageName": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.packageName.description"
        },
        "moneyId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.moneyId.description"
        },
        "description": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.description.description"
        },
        "specialClause": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.specialClause.description"
        },
        "pricingMethod": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.pricingMethod.description"
        },
        "unitPremium": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.unitPremium.description"
        },
        "unitAmount": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.unitAmount.description"
        },
        "minAmount": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.minAmount.description"
        },
        "maxAmount": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.maxAmount.description"
        },
        "baseAmount": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.baseAmount.description"
        },
        "minPremium": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.minPremium.description"
        },
        "maxPremium": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.maxPremium.description"
        },
        "minAgeUnit": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.minAgeUnit.description"
        },
        "minAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductPackageInfo.properties.minAge.description"
        },
        "maxAgeUnit": {
          "type": "string",
          "description": "definitions.ProductPackageInfo.properties.maxAgeUnit.description"
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductPackageInfo.properties.maxAge.description"
        },
        "minPhAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductPackageInfo.properties.minPhAge.description"
        },
        "maxPhAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductPackageInfo.properties.maxPhAge.description"
        },
        "productPkgTerms": {
          "type": "array",
          "description": "definitions.ProductPackageInfo.properties.productPkgTerms.description",
          "items": {
            "$ref": "#/definitions/ProductPackageTerm"
          }
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageInfo.properties.packageId.description"
        },
        "productPkgProducts": {
          "type": "array",
          "description": "definitions.ProductPackageInfo.properties.productPkgProducts.description",
          "items": {
            "$ref": "#/definitions/ProductPkgProduct"
          }
        },
        "productPkgProductMatrixs": {
          "type": "array",
          "description": "definitions.ProductPackageInfo.properties.productPkgProductMatrixs.description",
          "items": {
            "$ref": "#/definitions/ProductPkgProductMatrix"
          }
        }
      }
    },
    "ProductTermResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.ProductTermResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ProductTermResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductTermResponse.properties.result.description"
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.ProductTermResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "productCode": {
          "type": "string",
          "description": "definitions.ProductTermResponse.properties.productCode.description"
        },
        "productTerm": {
          "description": "definitions.ProductTermResponse.properties.productTerm.description",
          "$ref": "#/definitions/ProductTerm"
        }
      }
    },
    "CalculatePremium": {
      "type": "object",
      "required": [
        "paymentFreq"
      ],
      "properties": {
        "sumAssured": {
          "type": "number",
          "format": "double",
          "example": 1000000,
          "description": "definitions.CalculatePremium.properties.sumAssured.description"
        },
        "premium": {
          "type": "number",
          "format": "double",
          "example": 2000,
          "description": "definitions.CalculatePremium.properties.premium.description"
        },
        "unit": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.CalculatePremium.properties.unit.description"
        },
        "benefitLevel": {
          "type": "string",
          "example": "1",
          "description": "definitions.CalculatePremium.properties.benefitLevel.description"
        },
        "paymentFreq": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.CalculatePremium.properties.paymentFreq.description",
          "enum": [
            1,
            2,
            3,
            4,
            5
          ]
        },
        "extFields": {
          "type": "object",
          "description": "definitions.CalculatePremium.properties.extFields.description"
        }
      }
    },
    "ProductFundPremiumLimit": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "fundCode": {
          "type": "string",
          "description": "definitions.ProductFundPremiumLimit.properties.fundCode.description"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFundPremiumLimit.properties.paymentMethod.description"
        },
        "minAdhocTopupPrem": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFundPremiumLimit.properties.minAdhocTopupPrem.description"
        },
        "minRegulaTopupPrem": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFundPremiumLimit.properties.minRegulaTopupPrem.description"
        },
        "paymentFrequency": {
          "type": "string",
          "description": "definitions.ProductFundPremiumLimit.properties.paymentFrequency.description"
        },
        "minInitialPrem": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFundPremiumLimit.properties.minInitialPrem.description"
        },
        "maxInitialPrem": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFundPremiumLimit.properties.maxInitialPrem.description"
        }
      }
    },
    "AgeLimit": {
      "type": "object",
      "required": [
        "coveragePeriod"
      ],
      "properties": {
        "benefitLevel": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.benefitLevel.description"
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "minAgeUnit": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.minAgeUnit.description"
        },
        "minAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.minAge.description"
        },
        "maxAgeUnit": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.maxAgeUnit.description"
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.maxAge.description"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.AgeLimit.properties.chargePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.AgeLimit.properties.chargeYear.description"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.AgeLimit.properties.coveragePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "definitions.AgeLimit.properties.coverageYear.description"
        },
        "annuityStartPeriod": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.annuityStartPeriod.description"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.annuityStartYear.description"
        },
        "annuityEndPeriod": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.annuityEndPeriod.description"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.annuityEndYear.description"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.annuityPayEnsure.description"
        },
        "coverageYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.coverageYearMax.description"
        },
        "annuityStartYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.annuityStartYearMax.description"
        },
        "annuityEndYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.annuityEndYearMax.description"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.paymentMethod.description"
        },
        "gender": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.gender.description"
        },
        "paymentFrequency": {
          "type": "string",
          "description": "definitions.AgeLimit.properties.paymentFrequency.description"
        },
        "lowSa": {
          "type": "number",
          "format": "double",
          "description": "definitions.AgeLimit.properties.lowSa.description"
        },
        "highSa": {
          "type": "number",
          "format": "double",
          "description": "definitions.AgeLimit.properties.highSa.description"
        },
        "chargeYearMax": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.AgeLimit.properties.chargeYearMax.description"
        }
      }
    },
    "CalculatePolicy": {
      "type": "object",
      "required": [
        "coverages"
      ],
      "properties": {
        "inceptionDate": {
          "type": "string",
          "example": "2017-01-01",
          "description": "definitions.CalculatePolicy.properties.inceptionDate.description"
        },
        "coverages": {
          "type": "array",
          "description": "definitions.CalculatePolicy.properties.coverages.description",
          "items": {
            "$ref": "#/definitions/CalculateCoverage"
          }
        },
        "extFields": {
          "type": "object",
          "description": "definitions.CalculatePolicy.properties.extFields.description"
        }
      }
    },
    "IllustrationRequest": {
      "type": "object",
      "required": [
        "calculatePolicy"
      ],
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.IllustrationRequest.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.IllustrationRequest.properties.clientRequestTime.description"
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "calculatePolicy": {
          "description": "definitions.IllustrationRequest.properties.calculatePolicy.description",
          "$ref": "#/definitions/CalculatePolicy"
        },
        "performanceLevel": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.IllustrationRequest.properties.performanceLevel.description"
        }
      }
    },
    "AgeLimitCon": {
      "type": "object",
      "required": [
        "coveragePeriod",
        "productCode"
      ],
      "properties": {
        "benefitLevel": {
          "type": "string",
          "example": "1",
          "description": "definitions.AgeLimitCon.properties.benefitLevel.description"
        },
        "sumAssured": {
          "type": "number",
          "format": "double",
          "example": 100000,
          "description": "definitions.AgeLimitCon.properties.sumAssured.description"
        },
        "gender": {
          "type": "string",
          "example": "F",
          "description": "definitions.AgeLimitCon.properties.gender.description"
        },
        "premiumFrequency": {
          "type": "string",
          "example": "1",
          "description": "definitions.AgeLimitCon.properties.premiumFrequency.description"
        },
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "definitions.AgeLimitCon.properties.productCode.description"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.AgeLimitCon.properties.chargePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.AgeLimitCon.properties.chargeYear.description"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.AgeLimitCon.properties.coveragePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "definitions.AgeLimitCon.properties.coverageYear.description"
        },
        "annuityStartPeriod": {
          "type": "string",
          "example": "1",
          "description": "definitions.AgeLimitCon.properties.annuityStartPeriod.description"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.AgeLimitCon.properties.annuityStartYear.description"
        },
        "annuityEndPeriod": {
          "type": "string",
          "example": "1",
          "description": "definitions.AgeLimitCon.properties.annuityEndPeriod.description"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.AgeLimitCon.properties.annuityEndYear.description"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.AgeLimitCon.properties.annuityPayEnsure.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.AgeLimitCon.properties.extFields.description"
        }
      }
    },
    "Bonus": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "cashBonus": {
          "type": "boolean",
          "example": false,
          "description": "definitions.Bonus.properties.cashBonus.description"
        },
        "cashBonusVestYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.Bonus.properties.cashBonusVestYear.description"
        },
        "cashBonusUnitAmount": {
          "type": "number",
          "format": "double",
          "description": "definitions.Bonus.properties.cashBonusUnitAmount.description"
        },
        "cashBonusOptions": {
          "type": "array",
          "description": "definitions.Bonus.properties.cashBonusOptions.description",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PremiumLimit": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "minPrem": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.PremiumLimit.properties.minPrem.description"
        },
        "maxPrem": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.PremiumLimit.properties.maxPrem.description"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.PremiumLimit.properties.paymentMethod.description"
        },
        "paymentFrequency": {
          "type": "string",
          "description": "definitions.PremiumLimit.properties.paymentFrequency.description"
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.PremiumLimit.properties.currency.description"
        },
        "minAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.PremiumLimit.properties.minAge.description"
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.PremiumLimit.properties.maxAge.description"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.PremiumLimit.properties.chargePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.PremiumLimit.properties.chargeYear.description"
        }
      }
    },
    "CalculatePremSAResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.CalculatePremSAResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.CalculatePremSAResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.CalculatePremSAResponse.properties.result.description"
        },
        "messages": {
          "type": "array",
          "description": "definitions.CalculatePremSAResponse.properties.messages.description",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.CalculatePremSAResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "calculatePolicyResult": {
          "description": "definitions.CalculatePremSAResponse.properties.calculatePolicyResult.description",
          "$ref": "#/definitions/CalculatePolicyResult"
        }
      }
    },
    "CalculatePolicyResult": {
      "type": "object",
      "properties": {
        "installPrem": {
          "type": "number",
          "format": "double",
          "description": "definitions.CalculatePolicyResult.properties.installPrem.description"
        },
        "annualPrem": {
          "type": "number",
          "format": "double",
          "description": "definitions.CalculatePolicyResult.properties.annualPrem.description"
        },
        "policyFee": {
          "type": "number",
          "format": "double",
          "description": "definitions.CalculatePolicyResult.properties.policyFee.description"
        },
        "inceptionDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.CalculatePolicyResult.properties.inceptionDate.description"
        },
        "calculateCoverageResults": {
          "type": "array",
          "description": "definitions.CalculatePolicyResult.properties.calculateCoverageResults.description",
          "items": {
            "$ref": "#/definitions/CalculateCoverageResult"
          }
        }
      }
    },
    "PackagesResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.PackagesResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.PackagesResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.PackagesResponse.properties.result.description"
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.PackagesResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "listBasicProductPackageInfo": {
          "type": "array",
          "description": "definitions.PackagesResponse.properties.listBasicProductPackageInfo.description",
          "items": {
            "$ref": "#/definitions/BasicProductPackageInfo"
          }
        }
      }
    },
    "Annuity": {
      "type": "object",
      "properties": {
        "annuityStartPeriod": {
          "type": "string",
          "description": "definitions.Annuity.properties.annuityStartPeriod.description"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.Annuity.properties.annuityStartYear.description"
        },
        "annuityEndPeriod": {
          "type": "string",
          "description": "definitions.Annuity.properties.annuityEndPeriod.description"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.Annuity.properties.annuityEndYear.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.Annuity.properties.extFields.description"
        }
      }
    },
    "ProductResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.ProductResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ProductResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductResponse.properties.result.description"
        },
        "messages": {
          "type": "array",
          "description": "definitions.ProductResponse.properties.messages.description",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.ProductResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "productInfo": {
          "description": "definitions.ProductResponse.properties.productInfo.description",
          "$ref": "#/definitions/ProductInfo"
        }
      }
    },
    "ProductPremiumResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.ProductPremiumResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ProductPremiumResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductPremiumResponse.properties.result.description"
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.ProductPremiumResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "productCode": {
          "type": "string",
          "description": "definitions.ProductPremiumResponse.properties.productCode.description"
        },
        "productPremium": {
          "description": "definitions.ProductPremiumResponse.properties.productPremium.description",
          "$ref": "#/definitions/ProductPremium"
        }
      }
    },
    "TermLimit": {
      "type": "object",
      "required": [
        "coveragePeriod"
      ],
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.TermLimit.properties.chargePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.TermLimit.properties.chargeYear.description"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.TermLimit.properties.coveragePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "definitions.TermLimit.properties.coverageYear.description"
        },
        "annuityStartPeriod": {
          "type": "string",
          "description": "definitions.TermLimit.properties.annuityStartPeriod.description"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.TermLimit.properties.annuityStartYear.description"
        },
        "annuityEndPeriod": {
          "type": "string",
          "description": "definitions.TermLimit.properties.annuityEndPeriod.description"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.TermLimit.properties.annuityEndYear.description"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.TermLimit.properties.annuityPayEnsure.description"
        }
      }
    },
    "TopupWithdrawnPlan": {
      "type": "object",
      "required": [
        "amount",
        "endYear",
        "premType",
        "startYear"
      ],
      "properties": {
        "premType": {
          "type": "string",
          "example": "3: regular topup; 7: partial withdrawn; 4: ad-hoc topup",
          "description": "definitions.TopupWithdrawnPlan.properties.premType.description"
        },
        "startYear": {
          "type": "integer",
          "format": "int64",
          "example": 2,
          "description": "definitions.TopupWithdrawnPlan.properties.startYear.description"
        },
        "endYear": {
          "type": "integer",
          "format": "int64",
          "example": 5,
          "description": "definitions.TopupWithdrawnPlan.properties.endYear.description"
        },
        "amount": {
          "type": "number",
          "format": "double",
          "example": 100000,
          "description": "definitions.TopupWithdrawnPlan.properties.amount.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.TopupWithdrawnPlan.properties.extFields.description"
        }
      }
    },
    "ProductsResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.ProductsResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ProductsResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductsResponse.properties.result.description"
        },
        "messages": {
          "type": "array",
          "description": "definitions.ProductsResponse.properties.messages.description",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.ProductsResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "listProductBasicInformation": {
          "type": "array",
          "description": "definitions.ProductsResponse.properties.listProductBasicInformation.description",
          "items": {
            "$ref": "#/definitions/ProductBasicInformation"
          }
        }
      }
    },
    "ProductRatingParametersResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.ProductRatingParametersResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ProductRatingParametersResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductRatingParametersResponse.properties.result.description"
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.ProductRatingParametersResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "productCode": {
          "type": "string",
          "description": "definitions.ProductRatingParametersResponse.properties.productCode.description"
        },
        "ratingParameters": {
          "type": "array",
          "description": "definitions.ProductRatingParametersResponse.properties.ratingParameters.description",
          "items": {
            "type": "string"
          }
        },
        "ratingParameterType": {
          "type": "string",
          "description": "definitions.ProductRatingParametersResponse.properties.ratingParameterType.description"
        }
      }
    },
    "ProductPkgProduct": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPkgProduct.properties.packageId.description"
        },
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPkgProduct.properties.productId.description"
        },
        "optional": {
          "type": "string",
          "description": "definitions.ProductPkgProduct.properties.optional.description"
        },
        "saProportion": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductPkgProduct.properties.saProportion.description"
        },
        "premiumProportion": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductPkgProduct.properties.premiumProportion.description"
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductPkgProduct.properties.amount.description"
        },
        "premium": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductPkgProduct.properties.premium.description"
        },
        "calcMethod": {
          "type": "string",
          "description": "definitions.ProductPkgProduct.properties.calcMethod.description"
        },
        "benefitLevel": {
          "type": "string",
          "description": "definitions.ProductPkgProduct.properties.benefitLevel.description"
        },
        "freeIndi": {
          "type": "string",
          "description": "definitions.ProductPkgProduct.properties.freeIndi.description"
        },
        "minAmount": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductPkgProduct.properties.minAmount.description"
        },
        "maxAmount": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductPkgProduct.properties.maxAmount.description"
        },
        "minPremium": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductPkgProduct.properties.minPremium.description"
        },
        "maxPremium": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductPkgProduct.properties.maxPremium.description"
        },
        "baseAmount": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductPkgProduct.properties.baseAmount.description"
        }
      }
    },
    "Illustrations": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "illustrationResultList": {
          "type": "array",
          "description": "definitions.Illustrations.properties.illustrationResultList.description",
          "items": {
            "$ref": "#/definitions/IllustrationResult"
          }
        }
      }
    },
    "MainInformation": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "productCode": {
          "type": "string",
          "description": "definitions.MainInformation.properties.productCode.description"
        },
        "productName": {
          "type": "string",
          "description": "definitions.MainInformation.properties.productName.description"
        },
        "mainPlan": {
          "type": "string",
          "description": "definitions.MainInformation.properties.mainPlan.description"
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.MainInformation.properties.currency.description"
        },
        "orgId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.MainInformation.properties.orgId.description"
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.MainInformation.properties.startDate.description"
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.MainInformation.properties.endDate.description"
        },
        "salesCategory": {
          "description": "definitions.MainInformation.properties.salesCategory.description",
          "$ref": "#/definitions/ProductSalesCategory"
        },
        "productDescription": {
          "type": "string",
          "description": "definitions.MainInformation.properties.productDescription.description"
        },
        "productAbbreviation": {
          "type": "string",
          "description": "definitions.MainInformation.properties.productAbbreviation.description"
        },
        "ally": {
          "type": "string",
          "description": "definitions.MainInformation.properties.ally.description"
        },
        "indexIndi": {
          "type": "string",
          "description": "definitions.MainInformation.properties.indexIndi.description"
        },
        "spouseWaiver": {
          "type": "string",
          "description": "definitions.MainInformation.properties.spouseWaiver.description"
        },
        "familyType": {
          "type": "string",
          "description": "definitions.MainInformation.properties.familyType.description"
        },
        "payerWop": {
          "type": "string",
          "description": "definitions.MainInformation.properties.payerWop.description"
        }
      }
    },
    "CalculatePremSARequest": {
      "type": "object",
      "required": [
        "calculatePolicy"
      ],
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.CalculatePremSARequest.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.CalculatePremSARequest.properties.clientRequestTime.description"
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "calculatePolicy": {
          "description": "definitions.CalculatePremSARequest.properties.calculatePolicy.description",
          "$ref": "#/definitions/CalculatePolicy"
        }
      }
    },
    "ProductCoverMultiple": {
      "type": "object",
      "properties": {
        "coverMultipleItems": {
          "type": "array",
          "description": "definitions.ProductCoverMultiple.properties.coverMultipleItems.description",
          "items": {
            "$ref": "#/definitions/CoverMultipleItem"
          }
        }
      }
    },
    "CoverMultipleItem": {
      "type": "object",
      "properties": {
        "productCode": {
          "type": "string",
          "description": "definitions.CoverMultipleItem.properties.productCode.description"
        },
        "ageRange": {
          "type": "string",
          "description": "definitions.CoverMultipleItem.properties.ageRange.description"
        },
        "termRange": {
          "type": "string",
          "description": "definitions.CoverMultipleItem.properties.termRange.description"
        },
        "minValue": {
          "type": "number",
          "format": "double",
          "description": "definitions.CoverMultipleItem.properties.minValue.description"
        },
        "maxValue": {
          "type": "number",
          "format": "double",
          "description": "definitions.CoverMultipleItem.properties.maxValue.description"
        }
      }
    },
    "PackageResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.PackageResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.PackageResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.PackageResponse.properties.result.description"
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.PackageResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "productPackageInfo": {
          "description": "definitions.PackageResponse.properties.productPackageInfo.description",
          "$ref": "#/definitions/ProductPackageInfo"
        }
      }
    },
    "ProductPackageTerm": {
      "type": "object",
      "required": [
        "coveragePeriod"
      ],
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPackageTerm.properties.packageId.description"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.ProductPackageTerm.properties.chargePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.ProductPackageTerm.properties.chargeYear.description"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.ProductPackageTerm.properties.coveragePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "definitions.ProductPackageTerm.properties.coverageYear.description"
        }
      }
    },
    "ProductFund": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "fundCode": {
          "type": "string",
          "description": "definitions.ProductFund.properties.fundCode.description"
        },
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFund.properties.productId.description"
        },
        "minPartialWithdralval": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFund.properties.minPartialWithdralval.description"
        },
        "minPartialWithdralRemainingVal": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFund.properties.minPartialWithdralRemainingVal.description"
        },
        "minSwitOutVal": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFund.properties.minSwitOutVal.description"
        },
        "minSwitRemainVal": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFund.properties.minSwitRemainVal.description"
        },
        "switchPeriodUnit": {
          "type": "string",
          "description": "definitions.ProductFund.properties.switchPeriodUnit.description"
        },
        "maxSwitInTimes": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.maxSwitInTimes.description"
        },
        "maxSwitOutTimes": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.maxSwitOutTimes.description"
        },
        "maxPartialWithdralVal": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductFund.properties.maxPartialWithdralVal.description"
        },
        "settleRatePeriodUnit": {
          "type": "string",
          "description": "definitions.ProductFund.properties.settleRatePeriodUnit.description"
        },
        "settleYearType": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.settleYearType.description"
        },
        "settleFreq": {
          "type": "string",
          "description": "definitions.ProductFund.properties.settleFreq.description"
        },
        "settleMonth": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.settleMonth.description"
        },
        "settleDay": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.settleDay.description"
        },
        "settleMethod": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.settleMethod.description"
        },
        "guaranteedRateOption": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.guaranteedRateOption.description"
        },
        "settleSimpleCompound": {
          "type": "string",
          "description": "definitions.ProductFund.properties.settleSimpleCompound.description"
        },
        "bonusSettleType": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductFund.properties.bonusSettleType.description"
        }
      }
    },
    "LiabilityInformation": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "liabilityName": {
          "type": "string",
          "description": "definitions.LiabilityInformation.properties.liabilityName.description"
        },
        "categoryName": {
          "type": "string",
          "description": "definitions.LiabilityInformation.properties.categoryName.description"
        },
        "liabilityId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.LiabilityInformation.properties.liabilityId.description"
        },
        "categoryId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.LiabilityInformation.properties.categoryId.description"
        }
      }
    },
    "TermLimitCon": {
      "type": "object",
      "required": [
        "coverageYear",
        "productCode"
      ],
      "properties": {
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "definitions.TermLimitCon.properties.productCode.description"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.TermLimitCon.properties.coveragePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargePeriod": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.TermLimitCon.properties.chargePeriod.description"
        },
        "coverageYear": {
          "type": "string",
          "example": "2",
          "description": "definitions.TermLimitCon.properties.coverageYear.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "definitions.TermLimitCon.properties.chargeYear.description"
        },
        "annuityStartPeriod": {
          "type": "string",
          "example": "1",
          "description": "definitions.TermLimitCon.properties.annuityStartPeriod.description"
        },
        "annuityStartYear": {
          "type": "integer",
          "format": "int32",
          "example": 10,
          "description": "definitions.TermLimitCon.properties.annuityStartYear.description"
        },
        "annuityEndPeriod": {
          "type": "string",
          "example": "1",
          "description": "definitions.TermLimitCon.properties.annuityEndPeriod.description"
        },
        "annuityEndYear": {
          "type": "integer",
          "format": "int32",
          "example": 10,
          "description": "definitions.TermLimitCon.properties.annuityEndYear.description"
        },
        "annuityPayEnsure": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.TermLimitCon.properties.annuityPayEnsure.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.TermLimitCon.properties.extFields.description"
        }
      }
    },
    "ProductLiability": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annuity": {
          "type": "boolean",
          "example": false,
          "description": "definitions.ProductLiability.properties.annuity.description"
        },
        "survivalBenefitOptions": {
          "type": "array",
          "description": "definitions.ProductLiability.properties.survivalBenefitOptions.description",
          "items": {
            "type": "string"
          }
        },
        "liabilities": {
          "type": "array",
          "description": "definitions.ProductLiability.properties.liabilities.description",
          "items": {
            "$ref": "#/definitions/LiabilityInformation"
          }
        }
      }
    },
    "ProductRelationship": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "masterProductCode": {
          "type": "string",
          "description": "definitions.ProductRelationship.properties.masterProductCode.description"
        },
        "riderProductCode": {
          "type": "string",
          "description": "definitions.ProductRelationship.properties.riderProductCode.description"
        },
        "attachRelation": {
          "type": "string",
          "description": "definitions.ProductRelationship.properties.attachRelation.description"
        },
        "maxAttachedSa": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.maxAttachedSa.description"
        },
        "minAttachSa2MainSaRate": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.minAttachSa2MainSaRate.description"
        },
        "maxTotalSa2MainSaRate": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.maxTotalSa2MainSaRate.description"
        },
        "maxAttachSa2MainSaRate": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.maxAttachSa2MainSaRate.description"
        },
        "riderSa2MainPremRate": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.riderSa2MainPremRate.description"
        },
        "saNoEqual": {
          "type": "string",
          "description": "definitions.ProductRelationship.properties.saNoEqual.description"
        },
        "minAthAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductRelationship.properties.minAthAge.description"
        },
        "maxAthAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductRelationship.properties.maxAthAge.description"
        },
        "minAthMastAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductRelationship.properties.minAthMastAge.description"
        },
        "maxAthMastAge": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductRelationship.properties.maxAthMastAge.description"
        },
        "minMastSaAmount": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.minMastSaAmount.description"
        },
        "totalOverRate": {
          "type": "number",
          "format": "double",
          "description": "definitions.ProductRelationship.properties.totalOverRate.description"
        },
        "masterProductId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductRelationship.properties.masterProductId.description"
        },
        "riderProductId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductRelationship.properties.riderProductId.description"
        },
        "attachType": {
          "type": "string",
          "description": "definitions.ProductRelationship.properties.attachType.description"
        }
      }
    },
    "SaLimitCon": {
      "type": "object",
      "required": [
        "productCode"
      ],
      "properties": {
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "definitions.SaLimitCon.properties.productCode.description"
        },
        "insuredAgeMonth": {
          "type": "integer",
          "format": "int32",
          "example": 60,
          "description": "definitions.SaLimitCon.properties.insuredAgeMonth.description"
        },
        "occupationCode": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.SaLimitCon.properties.occupationCode.description"
        },
        "payMethod": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.SaLimitCon.properties.payMethod.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.SaLimitCon.properties.extFields.description"
        }
      }
    },
    "ProductPremium": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "initialPremium": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.initialPremium.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "subsequentPremium": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.subsequentPremium.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "adhocTopup": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.adhocTopup.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "regularTopup": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.regularTopup.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "increasePremium": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.increasePremium.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "decreasePremium": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.decreasePremium.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "increaseRegularTopup": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.increaseRegularTopup.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "decreaseRegularTopup": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.decreaseRegularTopup.description",
          "items": {
            "$ref": "#/definitions/PremiumLimit"
          }
        },
        "listFundPremiumLimit": {
          "type": "array",
          "description": "definitions.ProductPremium.properties.listFundPremiumLimit.description",
          "items": {
            "$ref": "#/definitions/ProductFundPremiumLimit"
          }
        }
      }
    },
    "GenericValidationResult": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "ruleType": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProductTerm": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "listTermLimit": {
          "type": "array",
          "description": "definitions.ProductTerm.properties.listTermLimit.description",
          "items": {
            "$ref": "#/definitions/TermLimit"
          }
        }
      }
    },
    "ProductSumAssured": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "saLimit": {
          "type": "array",
          "description": "definitions.ProductSumAssured.properties.saLimit.description",
          "items": {
            "$ref": "#/definitions/SaLimit"
          }
        }
      }
    },
    "IllustrationResult": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "coverageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.IllustrationResult.properties.coverageId.description"
        },
        "calcType": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.IllustrationResult.properties.calcType.description"
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "definitions.IllustrationResult.properties.amount.description"
        },
        "performanceType": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.IllustrationResult.properties.performanceType.description"
        },
        "age": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.IllustrationResult.properties.age.description"
        },
        "policyYear": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.IllustrationResult.properties.policyYear.description"
        },
        "policyMonth": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.IllustrationResult.properties.policyMonth.description"
        },
        "fundCode": {
          "type": "string",
          "description": "definitions.IllustrationResult.properties.fundCode.description"
        },
        "name": {
          "type": "string",
          "description": "definitions.IllustrationResult.properties.name.description"
        },
        "orderSeq": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.IllustrationResult.properties.orderSeq.description"
        }
      }
    },
    "ProductInfo": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maininfo": {
          "description": "definitions.ProductInfo.properties.maininfo.description",
          "$ref": "#/definitions/MainInformation"
        },
        "benefitType": {
          "type": "string",
          "description": "definitions.ProductInfo.properties.benefitType.description"
        },
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductInfo.properties.productId.description"
        },
        "premSaCalc": {
          "description": "definitions.ProductInfo.properties.premSaCalc.description",
          "$ref": "#/definitions/PremiumSaCalculation"
        },
        "liability": {
          "description": "definitions.ProductInfo.properties.liability.description",
          "$ref": "#/definitions/ProductLiability"
        },
        "bonus": {
          "description": "definitions.ProductInfo.properties.bonus.description",
          "$ref": "#/definitions/Bonus"
        },
        "attachedRiders": {
          "type": "array",
          "description": "definitions.ProductInfo.properties.attachedRiders.description",
          "items": {
            "$ref": "#/definitions/ProductRelationship"
          }
        },
        "productCoverMultiple": {
          "description": "definitions.ProductInfo.properties.productCoverMultiple.description",
          "$ref": "#/definitions/ProductCoverMultiple"
        },
        "listProductFund": {
          "type": "array",
          "description": "definitions.ProductInfo.properties.listProductFund.description",
          "items": {
            "$ref": "#/definitions/ProductFund"
          }
        }
      }
    },
    "ProductBasicInformation": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "productId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductBasicInformation.properties.productId.description"
        },
        "productCode": {
          "type": "string",
          "description": "definitions.ProductBasicInformation.properties.productCode.description"
        },
        "productName": {
          "type": "string",
          "description": "definitions.ProductBasicInformation.properties.productName.description"
        },
        "productAbbr": {
          "type": "string",
          "description": "definitions.ProductBasicInformation.properties.productAbbr.description"
        },
        "productDescription": {
          "type": "string",
          "description": "definitions.ProductBasicInformation.properties.productDescription.description"
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ProductBasicInformation.properties.startDate.description"
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ProductBasicInformation.properties.endDate.description"
        },
        "benefitType": {
          "type": "string",
          "description": "definitions.ProductBasicInformation.properties.benefitType.description"
        },
        "isMainProduct": {
          "type": "string",
          "description": "definitions.ProductBasicInformation.properties.isMainProduct.description"
        },
        "minSAOrUnit": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductBasicInformation.properties.minSAOrUnit.description"
        }
      }
    },
    "SaLimit": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "limitUnit": {
          "type": "string",
          "description": "definitions.SaLimit.properties.limitUnit.description"
        },
        "maxAmount": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.SaLimit.properties.maxAmount.description"
        },
        "minAmount": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.SaLimit.properties.minAmount.description"
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.SaLimit.properties.currency.description"
        },
        "lowAgeMonth": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.SaLimit.properties.lowAgeMonth.description"
        },
        "highAgeMonth": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.SaLimit.properties.highAgeMonth.description"
        },
        "occupationCode": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.SaLimit.properties.occupationCode.description"
        },
        "paymentMethod": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.SaLimit.properties.paymentMethod.description"
        }
      }
    },
    "BasicProductPackageInfo": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.BasicProductPackageInfo.properties.packageId.description"
        },
        "packageCode": {
          "type": "string",
          "description": "definitions.BasicProductPackageInfo.properties.packageCode.description"
        },
        "packageName": {
          "type": "string",
          "description": "definitions.BasicProductPackageInfo.properties.packageName.description"
        },
        "moneyId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.BasicProductPackageInfo.properties.moneyId.description"
        },
        "description": {
          "type": "string",
          "description": "definitions.BasicProductPackageInfo.properties.description.description"
        }
      }
    },
    "PremiumLimitCon": {
      "type": "object",
      "required": [
        "productCode"
      ],
      "properties": {
        "productCode": {
          "type": "string",
          "example": "ABC",
          "description": "definitions.PremiumLimitCon.properties.productCode.description"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.PremiumLimitCon.properties.chargePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.PremiumLimitCon.properties.chargeYear.description"
        },
        "insuredAge": {
          "type": "integer",
          "format": "int32",
          "example": 50,
          "description": "definitions.PremiumLimitCon.properties.insuredAge.description"
        },
        "premiumFrequency": {
          "type": "string",
          "example": "1",
          "description": "definitions.PremiumLimitCon.properties.premiumFrequency.description"
        },
        "payMode": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.PremiumLimitCon.properties.payMode.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.PremiumLimitCon.properties.extFields.description"
        }
      }
    },
    "ProductPkgProductMatrix": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPkgProductMatrix.properties.packageId.description"
        },
        "masterId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPkgProductMatrix.properties.masterId.description"
        },
        "attachId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.ProductPkgProductMatrix.properties.attachId.description"
        },
        "attachMode": {
          "type": "string",
          "description": "definitions.ProductPkgProductMatrix.properties.attachMode.description"
        }
      }
    },
    "ProductSalesCategory": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "categoryName": {
          "type": "string",
          "description": "definitions.ProductSalesCategory.properties.categoryName.description"
        },
        "description": {
          "type": "string",
          "description": "definitions.ProductSalesCategory.properties.description.description"
        },
        "categoryCode": {
          "type": "string",
          "description": "definitions.ProductSalesCategory.properties.categoryCode.description"
        },
        "displayOrder": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductSalesCategory.properties.displayOrder.description"
        },
        "categoryId": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductSalesCategory.properties.categoryId.description"
        },
        "parentCateId": {
          "type": "string",
          "description": "definitions.ProductSalesCategory.properties.parentCateId.description"
        }
      }
    },
    "ProductAgeResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.ProductAgeResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.ProductAgeResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.ProductAgeResponse.properties.result.description"
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.ProductAgeResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "productCode": {
          "type": "string",
          "description": "definitions.ProductAgeResponse.properties.productCode.description"
        },
        "productAge": {
          "description": "definitions.ProductAgeResponse.properties.productAge.description",
          "$ref": "#/definitions/ProductAge"
        }
      }
    },
    "PremiumSaCalculation": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "unitFlag": {
          "type": "string",
          "description": "definitions.PremiumSaCalculation.properties.unitFlag.description"
        },
        "waiver": {
          "type": "boolean",
          "example": false,
          "description": "definitions.PremiumSaCalculation.properties.waiver.description"
        },
        "ageBase": {
          "type": "string",
          "description": "definitions.PremiumSaCalculation.properties.ageBase.description"
        },
        "premiumFrequency": {
          "type": "array",
          "description": "definitions.PremiumSaCalculation.properties.premiumFrequency.description",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CalculateCoverage": {
      "type": "object",
      "required": [
        "calculatePremium",
        "coverageId",
        "coveragePeriod",
        "insureds",
        "productCode"
      ],
      "properties": {
        "coverageId": {
          "type": "integer",
          "format": "int64",
          "example": 1,
          "description": "definitions.CalculateCoverage.properties.coverageId.description"
        },
        "productCode": {
          "type": "string",
          "example": "0170",
          "description": "definitions.CalculateCoverage.properties.productCode.description"
        },
        "chargePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.CalculateCoverage.properties.chargePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4"
          ]
        },
        "chargeYear": {
          "type": "integer",
          "format": "int32",
          "example": 5,
          "description": "definitions.CalculateCoverage.properties.chargeYear.description"
        },
        "coveragePeriod": {
          "type": "string",
          "example": "2",
          "description": "definitions.CalculateCoverage.properties.coveragePeriod.description",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "coverageYear": {
          "type": "integer",
          "format": "int32",
          "example": 20,
          "description": "definitions.CalculateCoverage.properties.coverageYear.description"
        },
        "masterCoverageId": {
          "type": "integer",
          "format": "int64",
          "example": 1,
          "description": "definitions.CalculateCoverage.properties.masterCoverageId.description"
        },
        "calculatePremium": {
          "description": "definitions.CalculateCoverage.properties.calculatePremium.description",
          "$ref": "#/definitions/CalculatePremium"
        },
        "insureds": {
          "type": "array",
          "description": "definitions.CalculateCoverage.properties.insureds.description",
          "items": {
            "$ref": "#/definitions/CalculateInsured"
          }
        },
        "annuity": {
          "description": "definitions.CalculateCoverage.properties.annuity.description",
          "$ref": "#/definitions/Annuity"
        },
        "funds": {
          "type": "array",
          "description": "definitions.CalculateCoverage.properties.funds.description",
          "items": {
            "$ref": "#/definitions/CalculateFund"
          }
        },
        "topupWithdrawns": {
          "type": "array",
          "description": "definitions.CalculateCoverage.properties.topupWithdrawns.description",
          "items": {
            "$ref": "#/definitions/TopupWithdrawnPlan"
          }
        },
        "mortgageRates": {
          "type": "array",
          "description": "definitions.CalculateCoverage.properties.mortgageRates.description",
          "items": {
            "$ref": "#/definitions/CalculateCoverageMortgageRate"
          }
        },
        "waivedSa": {
          "type": "number",
          "format": "double",
          "example": 100000,
          "description": "definitions.CalculateCoverage.properties.waivedSa.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.CalculateCoverage.properties.extFields.description"
        }
      }
    },
    "CalculateCoverageResult": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "productCode": {
          "type": "string",
          "description": "definitions.CalculateCoverageResult.properties.productCode.description"
        },
        "sumAssured": {
          "type": "number",
          "format": "double",
          "description": "definitions.CalculateCoverageResult.properties.sumAssured.description"
        },
        "unit": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.CalculateCoverageResult.properties.unit.description"
        },
        "totalPremAf": {
          "type": "number",
          "format": "double",
          "description": "definitions.CalculateCoverageResult.properties.totalPremAf.description"
        },
        "premAn": {
          "type": "number",
          "format": "double",
          "description": "definitions.CalculateCoverageResult.properties.premAn.description"
        },
        "extraPrem": {
          "type": "number",
          "format": "double",
          "description": "definitions.CalculateCoverageResult.properties.extraPrem.description"
        },
        "paymentFrey": {
          "type": "string",
          "description": "definitions.CalculateCoverageResult.properties.paymentFrey.description"
        },
        "coverageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.CalculateCoverageResult.properties.coverageId.description"
        }
      }
    },
    "CalculateCoverageMortgageRate": {
      "type": "object",
      "required": [
        "levelPeriod",
        "mortgageRate"
      ],
      "properties": {
        "lowPolicyYear": {
          "type": "integer",
          "format": "int32",
          "example": 2,
          "description": "definitions.CalculateCoverageMortgageRate.properties.lowPolicyYear.description"
        },
        "highPolicyYear": {
          "type": "integer",
          "format": "int32",
          "example": 2,
          "description": "definitions.CalculateCoverageMortgageRate.properties.highPolicyYear.description"
        },
        "levelPeriod": {
          "type": "integer",
          "format": "int32",
          "example": 2,
          "description": "definitions.CalculateCoverageMortgageRate.properties.levelPeriod.description"
        },
        "mortgageRate": {
          "type": "number",
          "format": "double",
          "example": 0.05,
          "description": "definitions.CalculateCoverageMortgageRate.properties.mortgageRate.description"
        },
        "extFields": {
          "type": "object",
          "description": "definitions.CalculateCoverageMortgageRate.properties.extFields.description"
        }
      }
    },
    "ProductAge": {
      "type": "object",
      "properties": {
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "policyHolderAge": {
          "type": "array",
          "description": "definitions.ProductAge.properties.policyHolderAge.description",
          "items": {
            "$ref": "#/definitions/AgeLimit"
          }
        },
        "insuredAge": {
          "type": "array",
          "description": "definitions.ProductAge.properties.insuredAge.description",
          "items": {
            "$ref": "#/definitions/AgeLimit"
          }
        }
      }
    },
    "IllustrationResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "definitions.IllustrationResponse.properties.clientRequestId.description"
        },
        "clientRequestTime": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.IllustrationResponse.properties.clientRequestTime.description"
        },
        "result": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.IllustrationResponse.properties.result.description"
        },
        "messages": {
          "type": "array",
          "description": "definitions.IllustrationResponse.properties.messages.description",
          "items": {
            "$ref": "#/definitions/GenericValidationResult"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "definitions.IllustrationResponse.properties.exceptions.description",
          "items": {
            "type": "string"
          }
        },
        "extendedProps": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "illustrations": {
          "description": "definitions.IllustrationResponse.properties.illustrations.description",
          "$ref": "#/definitions/Illustrations"
        }
      }
    },
    "Policy": {
      "type": "object",
      "properties": {
        "agentDeclarations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AgentDeclaration"
          }
        },
        "beneficiaries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Beneficiary"
          }
        },
        "brokerCode": {
          "type": "string",
          "example": "ebao",
          "description": "definitions.Policy.properties.brokerCode.description"
        },
        "contractorCode": {
          "type": "string",
          "example": "ebao",
          "description": "definitions.Policy.properties.contractorCode.description"
        },
        "coverages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Coverage"
          }
        },
        "customers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyCustomer"
          }
        },
        "declarations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomerDeclaration"
          }
        },
        "insureds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Insured"
          }
        },
        "payerAccounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PayerAccount"
          }
        },
        "payers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Payer"
          }
        },
        "policyHolder": {
          "$ref": "#/definitions/PolicyHolder"
        },
        "policyId": {
          "type": "string",
          "description": "definitions.Policy.properties.policyId.description",
          "readOnly": true
        },
        "policyPackage": {
          "$ref": "#/definitions/PolicyPackage"
        },
        "tenantCode": {
          "type": "string",
          "example": "GUEST",
          "description": "definitions.Policy.properties.tenantCode.description"
        },
        "trustees": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Trustee"
          }
        },
        "policyType": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.Policy.properties.policyType.description",
          "enum": [
            1,
            2,
            3
          ]
        },
        "riskStatus": {
          "type": "integer",
          "format": "int32",
          "description": "definitions.Policy.properties.riskStatus.description",
          "readOnly": true
        },
        "applyDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.Policy.properties.applyDate.description"
        },
        "issueDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.Policy.properties.issueDate.description"
        },
        "installPrem": {
          "type": "number",
          "format": "double",
          "description": "definitions.Policy.properties.installPrem.description"
        },
        "currency": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "definitions.Policy.properties.currency.description",
          "enum": [
            1
          ]
        },
        "ePolicyDownloadUrl": {
          "type": "string",
          "description": "definitions.Policy.properties.ePolicyDownloadUrl.description"
        },
        "groupProposalNumber": {
          "type": "string",
          "description": "definitions.Policy.properties.groupProposalNumber.description"
        },
        "inceptionDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.Policy.properties.inceptionDate.description"
        },
        "expiryDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.Policy.properties.expiryDate.description"
        },
        "proposalNumber": {
          "type": "string",
          "description": "definitions.Policy.properties.proposalNumber.description"
        },
        "deliverType": {
          "type": "string",
          "example": "M",
          "description": "definitions.Policy.properties.deliverType.description",
          "enum": [
            "H",
            "M"
          ]
        },
        "policyNumber": {
          "type": "string",
          "description": "definitions.Policy.properties.policyNumber.description"
        },
        "quotationCode": {
          "type": "string",
          "description": "definitions.Policy.properties.quotationCode.description"
        },
        "submissionDate": {
          "type": "string",
          "format": "date-time",
          "description": "definitions.Policy.properties.submissionDate.description"
        },
        "serviceAgentCode": {
          "type": "string",
          "description": "definitions.Policy.properties.serviceAgentCode.description"
        },
        "salesChannelCode": {
          "type": "string",
          "description": "definitions.Policy.properties.salesChannelCode.description"
        },
        "insurerCode": {
          "type": "string",
          "description": "definitions.Policy.properties.insurerCode.description"
        },
        "preprintedProposalNumber": {
          "type": "string",
          "description": "definitions.Policy.properties.preprintedProposalNumber.description"
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.Policy.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PremInvestRate": {
      "type": "object",
      "properties": {
        "addPremId": {
          "type": "string",
          "description": "definitions.PremInvestRate.properties.addPremId.description",
          "readOnly": true
        },
        "coverageId": {
          "type": "string",
          "description": "definitions.PremInvestRate.properties.coverageId.description",
          "readOnly": true
        },
        "listId": {
          "type": "string",
          "description": "definitions.PremInvestRate.properties.listId.description",
          "readOnly": true
        },
        "policyId": {
          "type": "string",
          "description": "definitions.PremInvestRate.properties.policyId.description",
          "readOnly": true
        },
        "fundCode": {
          "type": "string",
          "example": "F001",
          "description": "definitions.PremInvestRate.properties.fundCode.description"
        },
        "assignRate": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "definitions.PremInvestRate.properties.assignRate.description"
        },
        "extendedProps": {
          "type": "object",
          "description": "definitions.PremInvestRate.properties.extendedProps.description",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PolicyPackage": {
      "type": "object",
      "properties": {
        "packageId": {
          "type": "integer",
          "format": "int64",
          "description": "definitions.PolicyPackage.properties.packageId.description",
          "readOnly": true
        },
        "packageCode": {
          "type": "string",
          "description": "definitions.PolicyPackage.properties.packageCode.description"
        },
        "unit": {
          "type": "number",
          "format": "double",
          "description": "definitions.PolicyPackage.properties.unit.description"
        }
      }
    },
    "QuotationResponse": {
      "type": "object",
      "properties": {
        "clientRequestId": {
[...]
